<section class="about">
    <div class="container">
        <div class="title">
            О компании
        </div>
        <div class="about__wrapper">
            <div class="about__left">
                <div class="about__quotes">
                    <div class="about__quotes-text">
                        <div class="about__quotes-text-icon">
                            <img src="./img/icon/galka.svg" alt="иконка">
                        </div>
                        <div class="about__quotes-text-strong">
                            Если Gemma идет,<br> это становится<br> тропой.
                        </div>
                        <div class="about__quotes-text-name">
                            Директор Ли Уджонг. Gemma korea.
                        </div>
                    </div>
                    <div class="about__quotes-image">
                        <img src="./img/director.png" alt="Директор">
                    </div>
                </div>
                <!-- quotes -->
                <div class="about__left-text">
                    <div class="about__right-strong mobile">
                        Мы ставим во главу угла ваше счастье, мы хотим сделать вас счастливыми. Ваше счастье - это наше счастье.
                    </div>
                    <p>С момента зарождения капиталистической рыночной экономической системы мир оказался в центре новой революции распределения, последовавшей за революцией производительности, революцией управления и информационной революцией, и сетевой маркетинг, который был рожден для удовлетворения этих ожиданий, получил потенциал роста и ожидания в форме нового маркетинга в 21 веке, после интернет-магазинов и крупных магазинов со скидками.</p>
                    <p>Тем не менее, реальность такова, что ситуация с внутренним распределением по-прежнему остается туманной, и ситуация на уровне до современного периода повторяется.</p>
                </p>
                </div>
            </div>
            <div class="about__right">
                <div class="about__right-strong desk">
                    Мы ставим во главу угла ваше счастье, мы хотим сделать вас счастливыми. Ваше счастье - это наше счастье.
                </div>
                <div class="about__right-text">
                    <p>Джемма Корея - это мир без границ,Мир с новой парадигмой, а не с прошлым опытом,В бизнес-среде управления 21-го века, где рабочая сила исчезает, а последняя революция, революция распределения, начинает новую, сочетаются передовые IТ-технологии и новые методы распределения,Он был рожден, чтобы создать глобальную компанию мирового уровня, которая может вести бизнес на мировой арене так же легко и удобно, как и внутри страны.</p>
                </div>
                <div class="about__right-block">
                    <div class="about__right-inner">
                        <strong>Год основания</strong>
                        <span>2012</span>
                    </div>
                    <div class="about__right-inner">
                        <strong>Капитал компании</strong>
                        <span>600 млн</span>
                    </div>
                    
                </div>
                <div class="about__right-text about__right-text--end">
                    <p>В эту эпоху Gemma Korea лояльно относится к текущей ситуации в Корее и сочетает в себе новые методы онлайн-маркетинга и передовые ИТ-технологии мирового класса для создания среды, в которой вы можете вести бизнес на мировой арене, Под девизом здоровья и красоты мы создадим основу для успеха Gemma Korea, чтобы все семьи Gemma Korea могли вести здоровый, спокойный образ жизни ,практиковать совместную жизнь и стать вашим убежищем.</p>
                    <p>Мы сделаем все возможное, чтобы многие семьи Gemma Korea смогли добиться успеха в Gemma, где действуют принципы и применяются передовые технологии.</p>
                </div>
            </div>
        </div>
        <!-- /.about__wrapper -->
        <div class="about__text">
            <strong>Джемма Корея стремится к глобализации! Это начало вашей мечты.<br>Спасибо!</strong>
            <strong>Директор Ли Уджонг. Джемма Корея.</strong>
        </div>
    </div>
</section>
<!-- /.about -->