<section class="admin-register">
    <div class="container">
        <div class="admin-register__wrapper">
            <div class="admin-register__right">
                <div class="admin-register__right-title">
                    <h2>Регистрация</h2> 
                    <a href="" class="admin-register__right-link">Инструкция по регистрации</a>
                </div>
                <!-- title -->
                <div class="admin-register__sidebar-bottom article__size js-open-size">
                    <div class="article__top">
                        <span class="js-size"> 
                            <div class="text">Выбрать вид занятости</div>
                        </span>
                        <button>
                            <img src="./img/arrowdown.svg" alt="">
                        </button>
                    </div>
                    <ul class="admin-register__sidebar-list">
                        <li class="admin-register__sidebar-item sidebar-item-js">
                            <div class="text">ИП</div>
                        </li>
                        <!-- /.admin-st__sidebar-item -->
                        <li class="admin-register__sidebar-item sidebar-item-js">
                            <div class="text">ООО</div>
                        </li>
                        <!-- /.admin-st__sidebar-item -->
                        <li class="admin-register__sidebar-item sidebar-item-js">
    
                            <div class="text">Самозанятый</div>
                        </li>
                        <!-- /.admin-st__sidebar-item -->
                        <li class="admin-register__sidebar-item sidebar-item-js">
                            <div class="text">Физ. лицо</div>
                        </li>
                   
                    </ul>
                    <!-- sidebar-list -->
                </div>
                <!-- bottom -->
                <div class="admin-register__global admin-register__global-js">
                    <form class="admin-register__global-form">
                        <div class="admin-register__global-form-left">
                            <div class="admin-register__global-form-inner">
                                <label for="">Полное наименование организации </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">E-mail </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">Номер телефона</label>
                                <input type="text" placeholder="+7-(ХХХ)-ХХ-ХХ-ХХ">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">Юридический адрес  </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">ИНН  </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">КПП </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">Пароль </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">Подтверждение пароля </label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="admin-register__global-form-right">
                            <div class="admin-register__global-form-inner">
                                <label for="">ID</label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">Банк </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">БИК  </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">Корр. счет </label>
                                <input type="text" placeholder="ХХХХ ХХХХ XXXX XXXX XXXX">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">Расчетный счет (RUB) </label>
                                <input type="text" placeholder="ХХХХ ХХХХ XXXX XXXX">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">ОКПО </label>
                                <input type="text">
                            </div>
                            <div class="admin-register__global-form-inner">
                                <label for="">ОКДП</label>
                                <input type="text">
                            </div>
                            <button class="all-btn"><span>зарегистрироваться</span></button>
                        </div>
                    </form>
                </div>
                <div class="admin-register__global admin-register__global-js"></div>
                <div class="admin-register__global admin-register__global-js"></div>
                <div class="admin-register__global admin-register__global-js"></div>
            </div>
            <div class="admin-register__left">
                <aside class="aside">
                    <div class="aside__title">
                        <span>Хит продаж</span>
                        <div class="aside__arrows">
                            <div class="aside__prev"></div>
                            <div class="aside__next"></div>
                        </div>
                    </div>
                    <!-- title -->
                    <div class="aside__content">
                        <div class="swiper aside__swiper">
                            <div class="swiper-wrapper aside__swiper-wrapper">
                                <div class="swiper-slide aside__slide">
                                    <article href="" class="product">
                                        <div class="product__image">
                                            <img src="./img/asidepro.png" alt="продукт">
                                        </div>
                                        <div class="product__title">
                                            Freedra 5 Steps
                                        </div>
                                        <div class="product__category">
                                            Категория продукта
                                        </div>
                                        <div class="product__text-desc">
                                            Краткое описание продукта и его основных приемуществ, а также причин, почему его стоит купить
                                        </div>
                                        <div class="product__price">
                                            200$
                                        </div>
                                        <button class="product__basket">
                                            <img src="./img/icon/bag2.svg" alt="">
                                        </button>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!-- swiper -->
                    </div>
                    <!-- content -->
                </aside>
                <!-- /.aside --> 
            </div>
        </div>
    </div>
</section>
<!-- /.admin-register -->