<section class="answers">
    <div class="container">
        <div class="title">
            Часто задаваемые вопросы
        </div>
        <!-- /.answers__category -->
        <div class="answers__wrapper">
            <details>
                <summary>Как зарегистрироваться?</summary>
                <p> Легкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара;  егкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара.
                </p>
            </details>
            <details>
                <summary>Что такое сетевой маркетинг?</summary>
                <p> Легкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара;  егкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара.
                </p>
            </details>
            <details>
                <summary>Какой есть вид доходов?</summary>
                <p> Легкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара;  егкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара.
                </p>
            </details>
            <details>
                <summary>Как вести бизнес?</summary>
                <p> Легкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара;  егкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара.
                </p>
            </details>
            <details>
                <summary>Частые вопросы?</summary>
                <p> Легкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара;  егкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара.
                </p>
            </details>
            <details>
                <summary>Выгодно ли мне  это?</summary>
                <p> Легкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара;  егкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара.
                </p>
            </details>
            <details>
                <summary>Как начать?</summary>
                <p> Легкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара;  егкий старт для любого без начального капитала; выплата бонусов по групповым объемам продаж в личной структуре; отсутствие обязательств по групповым продажам и закупке товара.
                </p>
            </details>
        </div>
    <!-- /.container -->
</section>
<!-- /.answers -->