<section class="basket">
    <div class="container">
        <div class="basket__wrapper">
            <div class="basket__left">
                <div class="title">
                    Корзина
                </div>
                <article class="basket__product">
                    <div class="basket__product-image">
                        <img src="./img/basket.png" alt="basket">
                    </div>
                    <div class="basket__product-wrapper">
                        <div class="basket__product-inner">
                            <div class="basket__product-title">
                                Масло-спрей для ухода за волосами PERFECT HAIR сухое, 200 мл
                            </div>
                            <div class="basket__product-category">
                                Категория продукта
                            </div>
                        </div>
                        <div class="basket__smooth">
                            <div class="number">
                                <span class="minus">-</span>
                                <input class="text" type="text" value="1" size="5"/>
                                <span class="plus">+</span>
                            </div>
                        </div>
                        <div class="basket__product-price">
                            25000$
                        </div>
                        <div class="basket__product-close">
                            <img src="./img/icon/closegrey.svg" alt="close">
                        </div>
                    </div>
                   
                </article>
                <article class="basket__product">
                    <div class="basket__product-image">
                        <img src="./img/basket.png" alt="basket">
                    </div>
                    <div class="basket__product-wrapper">
                        <div class="basket__product-inner">
                            <div class="basket__product-title">
                                Freedra 5 Steps
                            </div>
                            <div class="basket__product-category">
                                Категория продукта
                            </div>
                        </div>
                        <div class="basket__smooth">
                            <div class="number">
                                <span class="minus">-</span>
                                <input class="text" type="text" value="1" size="5"/>
                                <span class="plus">+</span>
                            </div>
                        </div>
                        <div class="basket__product-price">
                            200$
                        </div>
                        <div class="basket__product-close">
                            <img src="./img/icon/closegrey.svg" alt="close">
                        </div>
                    </div>
                  
                </article>
                <article class="basket__product">
                    <div class="basket__product-image">
                        <img src="./img/basket.png" alt="basket">
                    </div>
                    <div class="basket__product-wrapper">
                        <div class="basket__product-inner">
                            <div class="basket__product-title">
                                Freedra 5 Steps
                            </div>
                            <div class="basket__product-category">
                                Категория продукта
                            </div>
                        </div>
                        <div class="basket__smooth">
                            <div class="number">
                                <span class="minus">-</span>
                                <input class="text" type="text" value="1" size="5"/>
                                <span class="plus">+</span>
                            </div>
                        </div>
                        <div class="basket__product-price">
                            200$
                        </div>
                        <div class="basket__product-close">
                            <img src="./img/icon/closegrey.svg" alt="close">
                        </div>
                    </div>
                   
                </article>
                <!-- article -->
                <div class="basket__block">
                    <div class="basket__block-inner">
                        <div class="basket__block-text">
                            Полная стоимость
                        </div>
                        <div class="basket__block-price">
                            800$
                        </div>
                    </div>
                    <a href="" class="all-btn">
                        <span>оформить заказ</span>
                    </a>
                </div>
            </div>
            <!-- left -->
            <div class="basket__right">
                <aside class="aside">
                    <div class="aside__title">
                        <span>Дополнения</span>
                        <div class="aside__arrows">
                            <div class="aside__prev"></div>
                            <div class="aside__next"></div>
                        </div>
                    </div>
                    <!-- title -->
                    <div class="aside__content">
                        <div class="swiper aside__swiper">
                            <div class="swiper-wrapper aside__swiper-wrapper">
                                <div class="swiper-slide aside__slide">
                                    <article href="" class="product">
                                        <div class="product__image">
                                            <img src="./img/asidepro.png" alt="продукт">
                                        </div>
                                        <div class="product__title">
                                            Freedra 5 Steps
                                        </div>
                                        <div class="product__category">
                                            Категория продукта
                                        </div>
                                        <div class="product__text-desc">
                                            Краткое описание продукта и его основных приемуществ, а также причин, почему его стоит купить
                                        </div>
                                        <div class="product__price">
                                            200$
                                        </div>
                                        <button class="product__basket">
                                            <img src="./img/icon/bag2.svg" alt="">
                                        </button>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!-- swiper -->
                    </div>
                    <!-- content -->
                </aside>
                <!-- /.aside --> 
            </div>
            <!-- /.basket__right -->
        </div>
    </div>
</section>
<!-- /.basket -->