<section class="best">
    <div class="container">
        <div class="title">
            <h2>Best seller</h2>
            <a href="#" class="all-btn desk">
                <span>в каталог</span>
            </a>
        </div>
        <div class="best__wrapper">
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product2.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product3.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product4.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product2.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product3.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product4.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
        </div>

        <a href="#" class="all-btn mobile">
            <span>в каталог</span>
        </a>
    </div>
</section>
<!-- /.best -->