<section class="business">
    <div class="container">
        <div class="title">
            Бизнес
        </div>
        <div class="business__title">
            <h2>Маркетинг план</h2>
            <button class="all-btn desk">
                <span>подробнее о маркетинг плане</span>
            </button>
        </div>
        <div class="business__wrapper">
            <div class="business__wrapper-title">
                <h3>Пример классификации GBM</h3>
                <!-- <div class="business__arrows">
                    <div class="business__prev"></div>
                    <div class="business__next"></div>
                </div> -->
            </div>
            <div class="business__wrapper-image">
                <img src="./img/class.png" alt="">
            </div>
        </div>
        <button class="all-btn mobile">
            <span>подробнее о маркетинг плане</span>
        </button>
    </div>
    <!-- /.container -->
</section>
<!-- /.business -->