<section class="causes">
    <div class="container">
        <div class="causes__wrapper">
            <div class="causes__top">
                <div class="causes__top-block">
                    <div class="causes__top-block-text">
                        Причины присоединиться к семье Gemma
                    </div>
                    <div class="causes__top-block-title">
                        Наши достижения
                    </div>
                    <div class="causes__top-block-inner">
                        <div class="causes__top-block-numbers">
                            <strong>25</strong>
                            <span>стран</span>
                        </div>
                        <div class="causes__top-block-numbers">
                            <strong>1117</strong>
                            <span>филиалов</span>
                        </div>
                    </div>
                </div>
                <div class="causes__top-image">
                    <img src="./img/causes/causes1.png" alt="картинка">
                </div>
            </div>
            <div class="causes__bottom">
                <div class="causes__table">
                    <div class="causes__table-title">
                        Настоящий глобальный маркетинг
                    </div>
                    <div class="causes__table-text">
                        Gemma-это глобальный бизнес, который преодолел ограничения внутреннего рынка и дистрибьюторов. Имея зарубежные филиалы, мы постоянно получаем онлайн-заказы в течение всего дня
                    </div>
                </div>
                <div class="causes__table">
                    <div class="causes__table-title">
                        Основой культуры Gemma является Семья
                    </div>
                    <div class="causes__table-text">
                        Джемма-это деловая семейная группа, которая искренне поможет и позаботится о тех, кто стремится 
                        к успеху
                    </div>
                </div>
                <div class="causes__table">
                    <div class="causes__table-title">
                        Цена одинакова
                        для всех участников по всему миру
                    </div>
                    <div class="causes__table-text">
                        Продажи отражаются в режиме реального времени, а бонусы также выплачиваются в режиме реального времени, лишь небольшая разница в обменных курсах для зарубежных филиалов
                    </div>
                </div>
                <div class="causes__table">
                    <div class="causes__table-title">
                        Бизнес, который стоит ваших усилий и времени
                    </div>
                    <div class="causes__table-text">
                        Командный бонус для каждой страны рассчитывается путем применения только 50% продаж фотоэлектрических устройств за рубежом, поскольку существует небольшая разница в обменных курсах 
                    </div>
                </div>
            </div>
        </div>
        <!-- wrapper -->
    </div>
</section>
<!-- /.causes -->