<section class="certificate">
    <div class="container">
        <div class="certificate__wrapper">
            <ul class="certificate__menu">
                <li class="certificate__item certificate__item-js">сертификаты</li>
                <li class="certificate__item certificate__item-js">патенты</li>
                <li class="certificate__item certificate__item-js">разработки</li>
                <li class="certificate__item certificate__item-js">протоколы</li>
                <li class="certificate__item certificate__item-js">испытания</li>
            </ul>
            <div class="certificate__arrows mobile">
                <div class="certificate__prev"></div>
                <div class="certificate__next"></div>
            </div>
                <div class="certificate__block certificate__block-js">
                   <div class="certificate__desk">
                    <div class="certificate__inner">
                        <div class="certificate__image" data-src="./img/certeficat/certeficat1.png"
                        data-fancybox="gallery">
                            <img src="./img/certeficat/certeficat1.png" alt="">
                        </div>
                        <div class="certificate__image"data-src="./img/certeficat/certeficat2.png"
                        data-fancybox="gallery" >
                            <img src="./img/certeficat/certeficat2.png" alt="">
                        </div>
                    </div>
                    <div class="certificate__inner">
                        <div class="certificate__image" data-src="./img/certeficat/certeficat1.png"
                        data-fancybox="gallery">
                            <img src="./img/certeficat/certeficat1.png" alt="">
                        </div>
                        <div class="certificate__image"data-src="./img/certeficat/certeficat2.png"
                        data-fancybox="gallery" >
                            <img src="./img/certeficat/certeficat2.png" alt="">
                        </div>
                    </div>
                    <div class="certificate__inner">
                        <div class="certificate__image" data-src="./img/certeficat/certeficat1.png"
                        data-fancybox="gallery">
                            <img src="./img/certeficat/certeficat1.png" alt="">
                        </div>
                        <div class="certificate__image"data-src="./img/certeficat/certeficat2.png"
                        data-fancybox="gallery" >
                            <img src="./img/certeficat/certeficat2.png" alt="">
                        </div>
                    </div>
                    <div class="certificate__inner">
                        <div class="certificate__image" data-src="./img/certeficat/certeficat1.png"
                        data-fancybox="gallery">
                            <img src="./img/certeficat/certeficat1.png" alt="">
                        </div>
                        <div class="certificate__image"data-src="./img/certeficat/certeficat2.png"
                        data-fancybox="gallery" >
                            <img src="./img/certeficat/certeficat2.png" alt="">
                        </div>
                    </div>
                   </div>

                    <div class="certificate__mobile">
                       
                            <div class="swiper certificate__swiper">
                                <div class="swiper-wrapper certificate__swiper-wrapper">
                                    <div class="swiper-slide certificate__slider">
                                        <div class="certificate__inner">
                                            <div class="certificate__image" data-src="./img/certeficat/certeficat1.png"
                                            data-fancybox="gallery">
                                                <img src="./img/certeficat/certeficat1.png" alt="">
                                            </div>
                                            <div class="certificate__image"data-src="./img/certeficat/certeficat2.png"
                                            data-fancybox="gallery" >
                                                <img src="./img/certeficat/certeficat2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide certificate__slider">
                                        <div class="certificate__inner">
                                            <div class="certificate__image" data-src="./img/certeficat/certeficat1.png"
                                            data-fancybox="gallery">
                                                <img src="./img/certeficat/certeficat1.png" alt="">
                                            </div>
                                            <div class="certificate__image"data-src="./img/certeficat/certeficat2.png"
                                            data-fancybox="gallery" >
                                                <img src="./img/certeficat/certeficat2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide certificate__slider">
                                        <div class="certificate__inner">
                                            <div class="certificate__image" data-src="./img/certeficat/certeficat1.png"
                                            data-fancybox="gallery">
                                                <img src="./img/certeficat/certeficat1.png" alt="">
                                            </div>
                                            <div class="certificate__image"data-src="./img/certeficat/certeficat2.png"
                                            data-fancybox="gallery" >
                                                <img src="./img/certeficat/certeficat2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            
            
        </div>
        <!-- /.certificate__wrapper -->
    </div>
</section>
<!-- /.certificate -->