<section class="contacts">
    <div class="container">
        <div class="title">Наши контакты</div>
        <div class="contacts__wrapper">
            <div class="contacts__left">
                <div class="contacts__left-left">
                    <div class="contacts__left-title">
                        Наши реквизиты
                    </div>
                    <!-- title -->
                    <div class="contacts__left-inner first">
                        <strong>Полное наименование организации </strong>
                        <span>Общество с ограниченной ответственностью «ДЖЕММА РУС» </span>
                    </div>
                    <div class="contacts__left-inner">
                        <strong>ИНН </strong>
                        <span>9702033388 </span>
                    </div>
                    <div class="contacts__left-inner">
                        <strong>КПП </strong>
                        <span>770201001  </span>
                    </div>
                    <div class="contacts__left-inner">
                        <strong>ОГРН </strong>
                        <span>1217700258874 </span>
                    </div>
                    <div class="contacts__left-inner-block mobile">
                        <div class="contacts__left-inner">
                            <strong>Банк </strong>
                            <span>АО «АЛЬФА-БАНК»</span>
                        </div>
                        <div class="contacts__left-inner">
                            <strong>БИК </strong>
                            <span>044525593 </span>
                        </div>
                        <div class="contacts__left-inner">
                            <strong>Корр. счет </strong>
                            <span>3010 1810 2000 0000 0593 </span>
                        </div>
                        <div class="contacts__left-inner">
                            <strong>Расчетный счет (RUB) </strong>
                            <span>4070 2810 7027 4000 4821</span>
                        </div>
                    </div>
                    <div class="contacts__info">
                        <div class="contacts__info-title">
                            Контактная информация
                        </div>
                        <!-- /.contacts__info-title -->
                        <div class="contacts__info-text">
                            <strong>Адрес:</strong>
                            <span>107140, г. Москва, ул. Верхняя Красносельская, 3 стр. 2, этаж 1, вход “С” офис 45 </span>
                        </div>
                        <div class="contacts__info-text">
                            <strong>Телефон:</strong>
                            <span>+7 (495) 125-20-21 </span>
                        </div>
                        <div class="contacts__info-text">
                            <strong>What’s App / Telegram:</strong>
                            <span>+7 (925) 596-84-19 </span>
                        </div>
                        <div class="contacts__info-text">
                            <strong>E-mail по вопросам:</strong>
                            <span>gemmarus.account@mail.ru </span>
                        </div>
                    </div>
                    <div class="contacts__way">
                        <strong>Как пройти:</strong>
                        <p>Мы находимся в БЦ Красносельский. Пройдите 8 минут от метро в строну бизнес-центра, поверните направо, затем налево, спереди будет вход в БЦ, слева офис 45 – Джемма Рус </p>
                    </div>
                </div>
                <div class="contacts__left-right">
                    <div class="contacts__right-inner-block desk">
                        <div class="contacts__left-inner">
                            <strong>Банк </strong>
                            <span>АО «АЛЬФА-БАНК»</span>
                        </div>
                        <div class="contacts__left-inner">
                            <strong>БИК </strong>
                            <span>044525593 </span>
                        </div>
                        <div class="contacts__left-inner">
                            <strong>Корр. счет </strong>
                            <span>3010 1810 2000 0000 0593 </span>
                        </div>
                        <div class="contacts__left-inner">
                            <strong>Расчетный счет (RUB) </strong>
                            <span>4070 2810 7027 4000 4821</span>
                        </div>
                    </div>
                    <div class="contacts__map-block">
                        <div class="contacts__map">
                            <div class="contacts__map-image">
                                <div id="map"></div>
                            </div>
                            <div class="contacts__map-title">
                                Показать на карте
                            </div>
                            <div class="contacts__map-logo desk">
                                <img src="./img/360.svg" alt="">
                            </div>
                            <div class="contacts__map-logo mobile">
                                <img src="./img/contacts/logomobile.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts__right">
                <div class="contacts__info">
                    <div class="contacts__info-title">
                        Штаб-квартира
                    </div>
                    <!-- /.contacts__info-title -->
                    <div class="contacts__info-text">
                        <strong>Адрес:</strong>
                        <span>Южная Корея, г. Сеул,<br> Ёнгдынгпо-гу, МуллэдонгЗга,5  </span>
                    </div>
                    <div class="contacts__info-text">
                        <strong>Телефон:</strong>
                        <span>1899-4765  </span>
                    </div>
                    <div class="contacts__info-text">
                        <strong>Факс:</strong>
                        <span>02-855-0567 </span>
                    </div>
                </div>
                <div class="contacts__info-name">
                    Ген.директор <br>
                    Е Бюн Хо 
                </div>
                <div class="contacts__info">
                    <div class="contacts__info-text">
                        <strong>E-mail</strong>
                        <span>gemmarussia2021@gmail.com </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.contacts__wrapper -->
    </div>
</section>
<!-- /.contacts -->