<section class="favorites">
    <div class="container">
        <div class="title">
            Избранное
        </div>
        <div class="favorites__setting">
            <label class="label-search">
                <input class="favorites__search" placeholder="Поиск по товарам">
            </label>
          
            <div class="favorites__check">
                <div class="checkbox">
                    <input type="checkbox" id="checkbox_1">
                    <label for="checkbox_1">снова в наличии</label>
                </div>
            </div>
        </div>
        <div class="favorites__wrapper">
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                    <button class="product__close">
                        <img src="./img/whitexxx.svg" alt="">
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product2.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                    <button class="product__close">
                        <img src="./img/whitexxx.svg" alt="">
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product product--not">
                <div class="product__image">
                    <img src="./img/product/product3.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                    <button class="product__close">
                        <img src="./img/whitexxx.svg" alt="">
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product ">
                <div class="product__image">
                    <img src="./img/product/product4.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                    <button class="product__close">
                        <img src="./img/whitexxx.svg" alt="">
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product ">
                <div class="product__image">
                    <img src="./img/product/product.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                    <button class="product__close">
                        <img src="./img/whitexxx.svg" alt="">
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product product--not">
                <div class="product__image">
                    <img src="./img/product/product2.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                    <button class="product__close">
                        <img src="./img/whitexxx.svg" alt="">
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product">
                <div class="product__image">
                    <img src="./img/product/product3.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                    <button class="product__close">
                        <img src="./img/whitexxx.svg" alt="">
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
            <article href="" class="product ">
                <div class="product__image">
                    <img src="./img/product/product4.png" alt="продукт">
                    <button class="product__heart">
                       
                    </button>
                    <button class="product__close">
                        <img src="./img/whitexxx.svg" alt="">
                    </button>
                </div>
                <div class="product__title">
                    Freedra 5 Steps
                </div>
                <div class="product__category">
                    Категория продукта
                </div>
                <div class="product__price">
                    200$
                </div>
                <button class="product__basket">
                    <img src="./img/icon/bag2.svg" alt="">
                </button>
            </article>
        </div>
    </div>
</section>