<section class="formalization">
    <div class="container">
         <a href="" class="link">корзина</a>
        <div class="title">
            <h2>Оформление заказа</h2>
            <div class="formalization__city">
                <span>Город доставки:</span>
                <div class="formalization__city-span">
                    Москва
                </div>
            </div>
        </div>
        <div class="formalization__wrapper">
            <div class="formalization__left">
                <div class="formalization__title">
                    1.Где и как Вы хотите получить заказ?
                </div>
                <!-- title -->
                <div class="formalization__btns formalization__btns--top">
                    <div class="formalization__block-accord formalization__block-accord--left desk mob">
                        <div class="formalization__btn formalization__btn--bridge">
                            <span>Выбрать место</span>
                        </div>
                        <ul class="formalization__lists formalization__lists--bridge" >
                            <li class="formalization__lists-item">
                               
                                <div class="inputGroup">
                                    <input id="option2" name="option2" type="radio"/>
                                    <label for="option2">
                                        <strong>Забрать на складе в Москве</strong>
                                        <span>Бесплатно</span>
                                    </label>
                                  </div>
                                   

                               
                            </li>
                            <li class="formalization__lists-item">

                                <div class="inputGroup">
                                    <input id="option3" name="option2" type="radio"/>
                                    <label for="option3">
                                        <strong>Забрать на складе в Улан-Удэ</strong>
                                        <span>Бесплатно</span>
                                    </label>
                                  </div>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="formalization__block-accord formalization__block-accord--right desk">
                        <div class="formalization__btn formalization__btn--mail">
                            <span>Почта России</span>
                        </div>
                        <ul class="formalization__lists formalization__lists--mail" >
                            <li class="formalization__lists-item">
                                <div class="inputGroup">
                                    <input id="option4" name="option2" type="radio"/>
                                    <label for="option4">
                                        <strong>Доставка до двери</strong>
                                        <span>Стоимость доставки</span>
                                    </label>
                                  </div>
                            </li>
                            <li class="formalization__lists-item">
                                <div class="inputGroup">
                                    <input id="option5" name="option2" type="radio"/>
                                    <label for="option5">
                                        <strong>Забрать на почте</strong>
                                        <span>Стоимость доставки</span>
                                    </label>
                                  </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <!-- btns  вствить весь блок в бек --> 
                <div class="formalization__left-block">
                    <div class="formalization__left-block-contacts">
                        <div class="formalization__left-block-contacts-title">
                            Москва, ул. Фестивальная, вл. 2Б, склад «№5»
                        </div>
                        <div class="formalization__left-item">
                            <div class="formalization__left-item-icon">
                                <img src="./img/icon/metro.svg" alt="metro">
                            </div>
                            <div class="formalization__left-item-inner">
                                <strong>Речной вокзал</strong>
                            </div>
                        </div>
                        <div class="formalization__left-item">
                            <div class="formalization__left-item-icon">
                                <img src="./img/icon/cloack.svg" alt="cloack">
                            </div>
                            <div class="formalization__left-item-inner">
                                <strong>Часы работы </strong>
                                <span>10:00-22:00</span>
                            </div>
                        </div>
                        <div class="formalization__left-item">
                            <div class="formalization__left-item-icon">
                                <img src="./img/icon/phone.svg" alt="cloack">
                            </div>
                            <div class="formalization__left-item-inner">
                                <strong>Тел:</strong>
                                <span>8 800 555-31-52</span>
                            </div>
                        </div>
                        <div class="formalization__left-block-contacts-text">
                            Можно забрать через в течение 14 дней
                        </div>
                    </div>
                    <div class="formalization__left-block-maps">
                        <div class="formalization__left-block-map">
                            <div id="map"></div>
                        </div>
                        <!-- map -->
                        <div class="formalization__left-block-map-text">
                            Показать на карте
                        </div>
                    </div>
                </div>
                <div class="formalization__title">
                    2. Как Вам будет удобнее оплатить заказ?
                </div>
                <div class="formalization__bottom-mob mob">
                    <div class="formalization__block-accord formalization__block-accord--right mob">
                        <div class="formalization__btn formalization__btn--mail">
                            <span>Почта России</span>
                        </div>
                        <ul class="formalization__lists formalization__lists--mail" >
                            <li class="formalization__lists-item">
                                <div class="inputGroup">
                                    <input id="option6" name="option2" type="radio"/>
                                    <label for="option6">
                                        <strong>Доставка до двери</strong>
                                        <span>Стоимость доставки</span>
                                    </label>
                                  </div>
                            </li>
                            <li class="formalization__lists-item">
                                <div class="inputGroup">
                                    <input id="option7" name="option2" type="radio"/>
                                    <label for="option7">
                                        <strong>Забрать на почте</strong>
                                        <span>Стоимость доставки</span>
                                    </label>
                                  </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- вставить весьь блок в бек -->
                <div class="formalization__left-payment-block">
                    <ul class="formalization__left-payment-lists">
                        <li class="formalization__payment-item formalization__payment-item-js">для физ. лица</li>
                        <li class="formalization__payment-item formalization__payment-item-js">для юр. лица</li>
                    </ul>
                </div>
                <div class="formalization__left-payment-inner formalization__left-payment-inner-js">
                    <div class="formalization__payment-card">
                        <div class="inputGroup">
                            <input id="option8" name="option2" type="radio"/>
                            <label for="option8">
                                <strong>Онлайн</strong>
                                <span>Картами VISA, MASTERCARD, МИР</span>
                            </label>
                          </div>
                    </div>
                    <div class="formalization__payment-card">
                       
                        <div class="inputGroup">
                            <input id="option9" name="option2" type="radio"/>
                            <label for="option9">
                                <strong>При получении</strong>
                                <span>Картами VISA, MASTERCARD, МИР</span>
                            </label>
                          </div>
                    </div>
                </div>
                <div class="formalization__left-payment-inner formalization__left-payment-inner-js">
                    
                    <div class="formalization__payment-card">
                        <div class="formalization__payment-card-inner">
                            <strong>При получении</strong>
                            <span>Картами VISA, MASTERCARD, МИР</span>
                        </div>
                       
                    </div>
                </div>
                <div class="formalization__title">
                    3. Укажите данные получателя заказа
                </div>
                <div class="formalization__text">
                    При оплате покупки на сайте, пожалуйста укажите ФИО получателя. Если товар будет забирать другой человек (не заказчик) – укажите его ФИО. Заказы выдаются при предъявлении любого документа, удостоверяющего личность, или банковской карты, с которой оплачен заказ.
                </div>
                <form action="" class="formalization__form">
                    <div class="formalization__form-inner">
                        <label for="">Ф.И.О. получателя </label>
                        <input type="text" placeholder="Иван Петров">
                    </div>
                    <div class="formalization__form-inner">
                        <label for="">Номер телефона получателя </label>
                        <input type="tel" placeholder="+7 (ХХХ) ХХХ-ХХ-ХХ">
                    </div>
                    <aside class="aside-block mobile">
                        <div class="aside-block__inner">
                            <div class="aside-block__product">
                                <span>Товары</span> <span>(1)</span>
                            </div>
                            <div class="aside-block__price">
                                200
                            </div>
                        </div>
                        <div class="aside-block__inner">
                            <div class="aside-block__delivery">
                                <span>Доставка</span> <span>, $</span>
                            </div>
                            <div class="aside-block__price">
                                0
                            </div>
                        </div>
                        <div class="aside-block__inner">
                            <div class="aside-block__sum">
                                <span>Сумма заказа,</span><span>$</span>
                            </div>
                            <div class="aside-block__price aside-block__price--big">
                                200
                            </div>
                        </div>
                    </aside>
                    <button class="all-btn"><span>продолжить</span></button>
                </form>
            </div>
            <!-- /.formalization__left -->
            <div class="formalization__right">
                <aside class="aside-block desk">
                    <div class="aside-block__inner">
                        <div class="aside-block__product">
                            <span>Товары</span> <span>(1)</span>
                        </div>
                        <div class="aside-block__price">
                            200
                        </div>
                    </div>
                    <div class="aside-block__inner">
                        <div class="aside-block__delivery">
                            <span>Доставка</span> <span>, $</span>
                        </div>
                        <div class="aside-block__price">
                            0
                        </div>
                    </div>
                    <div class="aside-block__inner">
                        <div class="aside-block__sum">
                            <span>Сумма заказа,</span><span>$</span>
                        </div>
                        <div class="aside-block__price aside-block__price--big">
                            200
                        </div>
                    </div>
                </aside>
                <aside class="aside">
                    <div class="aside__title">
                        <span>Дополнения</span>
                        <div class="aside__arrows">
                            <div class="aside__prev"></div>
                            <div class="aside__next"></div>
                        </div>
                    </div>
                    <!-- title -->
                    <div class="aside__content">
                        <div class="swiper aside__swiper">
                            <div class="swiper-wrapper aside__swiper-wrapper">
                                <div class="swiper-slide aside__slide">
                                    <article href="" class="product">
                                        <div class="product__image">
                                            <img src="./img/asidepro.png" alt="продукт">
                                        </div>
                                        <div class="product__title">
                                            Freedra 5 Steps
                                        </div>
                                        <div class="product__category">
                                            Категория продукта
                                        </div>
                                        <div class="product__text-desc">
                                            Краткое описание продукта и его основных приемуществ, а также причин, почему его стоит купить
                                        </div>
                                        <div class="product__price">
                                            200$
                                        </div>
                                        <button class="product__basket">
                                            <img src="./img/icon/bag2.svg" alt="">
                                        </button>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!-- swiper -->
                    </div>
                    <!-- content -->
                </aside>
                <!-- /.aside --> 
            </div>
            <!-- /.formalization__right -->
        </div>
        <!-- /.formalization__wrapper -->
    </div>
</section>
<!-- /.formalization -->