<section class="graffiti">
    <div class="container">
        <div class="title mob">
            Концепт компании
        </div>
        <div class="graffiti__image desk">
            <img src="./img/consept.svg" alt="графика">
        </div>
        <div class="graffiti__image--one mob">
            <img src="./img/cicrlemob/circle1.svg" alt="">
        </div>
        <div class="graffiti__image--two mob">
            <img src="./img/cicrlemob/circle2.svg" alt="">
        </div>
        <div class="graffiti__image--three mob">
            <img src="./img/cicrlemob/circle3.png" alt="">
        </div>
        <div class="graffiti__image--four mob">
            <img src="./img/cicrlemob/circle4.svg" alt="">
        </div>
        <div class="graffiti__image--five mob">
            <img src="./img/cicrlemob/circle5.png" alt="">
        </div>
    </div>
</section>