<header class="header">
    <div class="container">
        <div class="header__wrapper">
           <button class="header__burger">
              <img src="./img/icon/burger.svg" alt="">
           </button>
           <a href="" class="header__logo">
              <img src="./img/headerlogo.svg" alt="logo">
           </a>
           <!-- logo -->
           <nav class="header__nav">
              <div class="header__nav-wrapper">
                  <button class="header__nav-close">
                     <img src="./img/icon/close.svg" alt="">
                  </button>
                  <div class="header__nav-buttons">
                     <button class="header__user">
                        <img src="./img/icon/profileblue.svg" alt="basket">
                     </button>
                     <button class="header__basket">
                        <img src="./img/icon/basketblue.svg" alt="Юзер">
                        <span class="header__basket-number">2</span>
                     </button>
                  </div>
              </div>
              <div class="header__nav-search">
                 <label for=""></label>
                 <input type="text" placeholder="Поиск">
              </div>
              <ul class="header__nav-lists">
                  <li class="header__nav-item"><a href="#">Каталог продукции</a></li>
                  <li class="header__nav-item"><a href="#">О нас</a></li>
                  <li class="header__nav-item"><a href="#">Бизнес</a></li>
                  <li class="header__nav-item"><a href="#">Правила пользования</a></li>
                  <li class="header__nav-item"><a href="#">Контакты</a></li>
              </ul>
              <a href="" class="header__nav-logo">
                 <img src="./img/icon/logoblue.svg" alt="">
              </a>
           </nav>
           <!-- nav -->
           <button class="header__user modal-open">
              <img src="./img/icon/profile.svg" alt="Юзер">
           </button>
           <button class="header__search">
              <img src="./img/icon/search-normal.svg" alt="поиск">
           </button>
           <button class="header__basket">
              <img src="./img/icon/basket.svg" alt="basket">
              <span class="header__basket-number">2</span>
           </button>
        </div>
        <!-- wrapper -->
            
    </div>
    <div class="header__search-block">
      <form action="" class="header__search-block-inner">
            <label for="">
               <input type="text">
            </label>
            <button class="all-btn"><span>Поиск</span></button>
      </form>
      <ul class="header__search-block-lists">
         <li><a href="">Freedra 5 Steps</a><div class="header__search-block-close"></div></li>
         <li><a href="">Freedra 5 Steps</a><div class="header__search-block-close"></div></li>
         <li><a href="">Freedra 5 Steps</a><div class="header__search-block-close"></div></li>
      </ul>
    </div>
</header>