<section class="history">
    <div class="container">
        <div class="title">История развития</div>
        <div class="history__wrapper desk">
            <div class="history__left">
                <ul class="history__left-lt history__left-lists-one">
                    <li>Регистрация патента Мульти Ионизатора с нефритом в Китае </li>
                    <li>На 57  день награжден "Экспортной башней на семь миллионов долларов</li>
                    <li>Создан зарубежный филлиал в Тайване</li>
                    <li>Управленческих инноваций малых и средних предприятий (Main biz)</li>
                    <li>Главный приз в категории новых технологий экологической промышленности на Международной премии в области науки и культуры (Мульти Ионизатор)</li>
                    <li>Регистрация патента на Мульти Ионайзер для душа с нефритом</li>
                    <li>Создание зарубежного филиала на Филипинах</li>
                    <li>Создание зарубежного филиала в Казахстане</li>
                    <li>Основание зарубежного филлиала в Тайланде</li>
                    <li>Регистрация патента на Gemmove Мульти Ионизатор(№ 10-1773558)</li>
                    <li>Gemma Korea Co., Ltd. достигла годового объема продаж в 36 миллиардов южнокорейских вон</li>
                    <li>Основание зарубежного филлиала в Камбоджа</li>
                    <li>Основание зарубежного филлиала в Китае</li>
                    <li>Компания Gemma Korea Co., Ltd. достигла годового объема продаж в 6,6 миллиарда южнокорейских вон</li>
                    <li>Основание Компании Джемма Корея</li>
                </ul>
            </div>
            <div class="history__center">
                <div class="history__number">
                    <span>2020</span>
                </div>
                <div class="history__number">
                    <span>2019</span>
                </div>
                <div class="history__number">
                    <span>2018</span>
                </div>
                <div class="history__number">
                    <span>2017</span>
                </div>
                <div class="history__number">
                    <span>2016</span>
                </div>
                <div class="history__number">
                    <span>2014</span>
                </div>
                <div class="history__number">
                    <span>2013</span>
                </div>
                <div class="history__number">
                    <span>2012</span>
                </div>
            </div>
            <div class="history__right">
                <ul class="history__right-lt">
                    <li>Выиграл главный приз на Национальном конкурсе науки и технологий в День Чан Ён Сила (Gemmove Мульти Ионизатор)</li>
                    <li>Завершение регистрации для участия в конкурсных торгах (Служба государственный закупок Нара) Мульти Ионизатор для душа Gemmove.</li>
                    <li>Создан зарубежный филлиал в Идонезии</li>
                    <li>Зарегистрирован в качестве члена Корейской Ассоциации </li>
                    <li>Регистрация патента на бизнес-платформу для сетевого маркетинга</li>
                    <li>Выиграл главный приз Джанг Ён Сил в области науки и технологий</li>
                    <li>Создание зарубежного филиала в США</li>
                    <li>Создание зарубежного филиала в Румынии</li>
                    <li>Создание зарубежного филиала в Монголии</li>
                    <li>Корейская ассоциация специальной торговой взаимопомощи выбрала лучшей кооперативной компанией 2018 года</li>
                    <li>Основание зарубежного филлиала в Канаде</li>
                    <li>Компания выбрана Ассоциацией новых интеллектуалов как новый интеллектуал в мире в области патентов</li>
                    <li>Основание зарубежного филлиала в Японии</li>
                    <li>Заявка на патент Мульти Ионизатора Gemmove</li>
                    <li>Компания Gemma Korea Co., Ltd. достигла годового объема продаж в 7,3 миллиарда южнокорейских вон</li>
                    <li>Заключен договор со специальной торговой ассоциацией взаимопомощи. (Начал бизнес - Назначен генеральным директором Ли У Джонг)</li>
                </ul>
               
            </div>
        </div>
        <div class="history__wrapper mobile">
            <div class="history__block">
                <div class="history__number-button history__number-button--js">
                    <span>2020</span>
                </div>
                <div class="history__block-inner history__block-inner--js">
                    <div class="history__block-inner-number">
                        <span>2020</span>
                    </div>
                    <div class="history__block-inner-ul">
                        <li>Регистрация патента Мульти Ионизатора с нефритом в Китае </li>
                        <li>На 57  день награжден "Экспортной башней на семь миллионов долларов</li>
                        <li>Создан зарубежный филлиал в Тайване</li>
                        <li>Управленческих инноваций малых и средних предприятий (Main biz)</li>
                        <li>Выиграл главный приз на Национальном конкурсе науки и технологий в День Чан Ён Сила (Gemmove Мульти Ионизатор)</li>
                        <li>Завершение регистрации для участия в конкурсных торгах (Служба государственный закупок Нара) Мульти Ионизатор для душа Gemmove.</li>
                        <li>Создан зарубежный филлиал в Идонезии</li>
                        <li>Зарегистрирован в качестве члена Корейской Ассоциации </li>
                        <li>Регистрация патента на бизнес-платформу для сетевого маркетинга</li>
                    </div>
                </div>
            </div>
            <!-- block -->
            <div class="history__block">
                <div class="history__number-button history__number-button--js">
                    <span>2019</span>
                </div>
                <div class="history__block-inner history__block-inner--js">
                    <div class="history__block-inner-number">
                        <span>2019</span>
                    </div>
                    <div class="history__block-inner-ul">
                        <li>Главный приз в категории новых технологий экологической промышленности на Международной премии в области науки и культуры (Мульти Ионизатор)</li>
                        <li>Регистрация патента на Мульти Ионайзер для душа с нефритом</li>
                        <li>Создание зарубежного филиала на Филипинах</li>
                        <li>Создание зарубежного филиала в Казахстане</li>
                        <li>Выиграл главный приз Джанг Ён Сил в области науки и технологий</li>
                        <li>Создание зарубежного филиала в США</li>
                        <li>Создание зарубежного филиала в Румынии</li>
                        <li>Создание зарубежного филиала в Монголии</li>
                    </div>
                </div>
            </div>
            <div class="history__block">
                <div class="history__number-button history__number-button--js">
                    <span>2018</span>
                </div>
                <div class="history__block-inner history__block-inner--js">
                    <div class="history__block-inner-number">
                        <span>2018</span>
                    </div>
                    <div class="history__block-inner-ul">
                        <li>Основание зарубежного филлиала в Тайланде</li>
                        <li>Корейская ассоциация специальной торговой взаимопомощи выбрала лучшей кооперативной компанией 2018 года</li>
                        <li>Основание зарубежного филлиала в Канаде</li>
                       
                    </div>
                </div>
            </div>
            <div class="history__block">
                <div class="history__number-button history__number-button--js">
                    <span>2017</span>
                </div>
                <div class="history__block-inner history__block-inner--js">
                    <div class="history__block-inner-number">
                        <span>2017</span>
                    </div>
                    <div class="history__block-inner-ul">
                        <li>Регистрация патента на Gemmove Мульти Ионизатор(№ 10-1773558)</li>
                        <li>Gemma Korea Co., Ltd. достигла годового объема продаж в 36 миллиардов южнокорейских вон</li>
                        <li>Основание зарубежного филлиала в Камбоджа</li>
                        <li>Компания выбрана Ассоциацией новых интеллектуалов как новый интеллектуал в мире в области патентов</li>
                        <li>Основание зарубежного филлиала в Японии</li>
                    </div>
                </div>
            </div>
            <div class="history__block">
                <div class="history__number-button history__number-button--js">
                    <span>2016</span>
                </div>
                <div class="history__block-inner history__block-inner--js">
                    <div class="history__block-inner-number">
                        <span>2016</span>
                    </div>
                    <div class="history__block-inner-ul">
                        <li>Основание зарубежного филлиала в Китае</li>
                        <li>Заявка на патент Мульти Ионизатора Gemmove</li>
                        <li>Компания Gemma Korea Co., Ltd. достигла годового объема продаж в 7,3 миллиарда южнокорейских вон</li>
                        
                    </div>
                </div>
            </div>
            <div class="history__block">
                <div class="history__number-button history__number-button--js">
                    <span>2014</span>
                </div>
                <div class="history__block-inner history__block-inner--js">
                    <div class="history__block-inner-number">
                        <span>2014</span>
                    </div>
                    <div class="history__block-inner-ul">
                        <li>Компания Gemma Korea Co., Ltd. достигла годового объема продаж в 6,6 миллиарда южнокорейских вон</li>
                      
                        
                    </div>
                </div>
            </div>
            <div class="history__block">
                <div class="history__number-button history__number-button--js">
                    <span>2013</span>
                </div>
                <div class="history__block-inner history__block-inner--js">
                    <div class="history__block-inner-number">
                        <span>2013</span>
                    </div>
                    <div class="history__block-inner-ul">
                        <li>Заключен договор со специальной торговой ассоциацией взаимопомощи. (Начал бизнес - Назначен генеральным директором Ли У Джонг)</li>
                      
                        
                    </div>
                </div>
            </div>
            <div class="history__block">
                <div class="history__number-button history__number-button--js">
                    <span>2012</span>
                </div>
                <div class="history__block-inner history__block-inner--js">
                    <div class="history__block-inner-number">
                        <span>2012</span>
                    </div>
                    <div class="history__block-inner-ul">
                        <li>Основание Компании Джемма Корея</li>
                      
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>