<section class="home">
    <div class="container">
        <div class="home__wrapper">
            <div class="home__left">
                <div class="home__left-number">
                    01 product
                </div>
                <div class="home__left-title">
                    <span> Сет Gemmove Queen Multi Essence </span>
                   
                    <img src="./img/mini.png" alt="">
                </div>
                <div class="home__left-text desk">
                    Два флакона мульти-эссенции и ампульной сыворотки полностью заменяют ежедневный уход 
                    
                </div>
                <button class="all-btn desk">
                    <span>подробнее</span>
                </button>
            </div>
            <!-- /.home__left -->
            <div class="home__right">
                <div class="swiper home__right-container">
                    <div class="swiper-wrapper home__right-wrapper">
                        <div class="swiper-slide home__slide">
                            <div class="home__slider-content">
                                <div class="home__slider-new">
                                    <img src="./img/novinka.svg" alt="новинка">
                                </div>
                                <div class="home__slider-image">
                                    <img src="./img/slider/one/slider1.png" alt="товар">
                                </div>
                                <!-- /.home__slider-image -->
                            </div>
                        </div>
                        <div class="swiper-slide home__slide">
                            <div class="home__slider-content">
                                <div class="home__slider-new">
                                    <img src="./img/novinka.svg" alt="новинка">
                                </div>
                                <div class="home__slider-image">
                                    <img src="./img/slider/one/slider2.png" alt="товар">
                                </div>
                                <!-- /.home__slider-image -->
                            </div>
                        </div>
                        <div class="swiper-slide home__slide">
                            <div class="home__slider-content">
                                <div class="home__slider-new">
                                    <img src="./img/novinka.svg" alt="новинка">
                                </div>
                                <div class="home__slider-image">
                                    <img src="./img/slider/one/slider2.png" alt="товар">
                                </div>
                                <!-- /.home__slider-image -->
                            </div>
                        </div>
                    </div>
                    <!-- /.swiper-wrapper home__right-wrapper -->
                </div>
                <!-- /.home__right-container -->
                <div class="home__right-block-pagination">
                    <div class="home__right-inner-pagination">
                        <div class="home__right-pagination">

                        </div>
                        <div class="home__right-pagination-text">
                            слайд
                        </div>
                    </div>
                    <div class="home__right-block-arrows">
                        <div class="home__right-prev"></div>
                        <div class="home__right-next"></div>
                    </div>
                    <!-- /.home__right-block-arrows -->
                </div>
                <!-- /.home__right-block-pagination -->
            </div>
            <!-- right -->

            <div class="home__left-text mobile">
                Два флакона мульти-эссенции и ампульной сыворотки полностью заменяют<br> ежедневный уход 
                
            </div>
            <button class="all-btn mobile">
                <span>подробнее</span>
            </button>
        </div>
        <!-- wrapper -->
    </div>
    <!-- /.container -->
</section>
<!-- /.home -->
