<section class="level">
    <div class="container">
        <div class="title">
            Уровни и статусы GЕММА Business Man
        </div>
        <div class="level__wrapper">
            <div class="level__block">
                <div class="level__circle">
                    <div class="level__circle-number">01</div>
                    <div class="level__circle-text">GВМ</div>
                </div>
                <!-- /.level__circle -->
                <div class="level__lists">
                    <ul>
                        <li>GВМ - участник, получивший одобренный Компанией персональный код</li>
                    </ul>
                </div>
            </div>
            <!-- 1 -->
            <div class="level__block">
                <div class="level__circle">
                    <div class="level__circle-number">02</div>
                    <div class="level__circle-text">ДИЛЕР</div>
                </div>
                <!-- /.level__circle -->
                <div class="level__lists">
                    <ul><li>GВМ, достигший личного объема более 200,000 РV</li>
                        <li> Или GВМ, у которого по личной рекомендации в каждой ветке нижестоящей структуры достигнуты объемы продаж не менее 100,000 РV</li>
                    </ul>
                </div>
            </div>
            <!-- 2 -->
            <div class="level__block">
                <div class="level__circle">
                    <div class="level__circle-number">03</div>
                    <div class="level__circle-text">МАСТЕР</div>
                </div>
                <!-- /.level__circle -->
                <div class="level__lists">
                    <ul><li>GВМ, достигший более 300,000РV личного объема</li>
                        <li> GВМ в статусе Дилера, в структуре которого появились по 1 Дилеру в левой и правой ветке по личной рекомендации</li>
                    </ul>
                </div>
            </div>
            <!-- 3 -->
            <div class="level__block">
                <div class="level__circle">
                    <div class="level__circle-number">04</div>
                    <div class="level__circle-text">МЕНЕДЖЕР</div>
                </div>
                <!-- /.level__circle -->
                <div class="level__lists">
                    <ul><li>GВМ, достигший 1,000,000РV личного объема разовой покупкой, а не накоплением</li>
                        <li>GВМ в статусе Мастера и выше, по личной рекомендации которого в структуре появились по одному Мастеру справа и слева</li>
                    </ul>
                </div>
            </div>
            <!-- 4 -->
            <div class="level__block">
                <div class="level__circle">
                    <div class="level__circle-number">05</div>
                    <div class="level__circle-text">ШОП
                        МЕНЕДЖЕР</div>
                </div>
                <!-- /.level__circle -->
                <div class="level__lists level__lists--fin">
                    <ul><li>GВМ, достигший более 2,000,000РV накопленного личного объема</li>
                        <li> GВМ, достигший 1,000,000РV личного объема разовой покупкой, а не накоплением</li>
                        <li> GВМ в статусе Мастера и выше, по личной рекомендации которого в структуре ШОП появились по 2 СВМ в статусе Мастера и выше в каждой ветке</li>
                        <li> GВМ, достигший статуса Золота и выше (в следующем по достижении статуса месяце)</li>
                        <li> GВМ, достигший накоплением 3,500,000РУ личного объема, получает право на получение 
                            мульти-кода<br>
                            (Мульти-код появляется автоматически в личной структуре на самом нижнем уровне малой ветки)</li>
                            <a href="">Шоп Менеджеры, СВМ в статусе Золото и выше могут приобретать наборы<br>товаров в количестве от 3 шт. по сниженной цене</a>
                    </ul>
                </div>
            </div>
            <!-- 5 -->
        </div>
        <!-- /.level__wrapper -->
        <div class="level__image-one desk">
            <img src="./img/ilustrator/ili1.png" alt="">
        </div>
        <div class="level__image-one mobile">
            <img src="./img/levelmobile/level1.png" alt="">
        </div>
        <div class="level__image-two mobile">
            <img src="./img/levelmobile/level2.png" alt="">
        </div>
        <div class="level__image-three mobile ">
                <img  src="./img/levelmobile/level3.svg"  alt="">
        </div>
        <div class="level__image-four mobile">
            <img src="./img/levelmobile/level4.png" alt="">
        </div>
        <div class="level__image-five mobile" >
            <img src="./img/levelmobile/level5.svg" alt="">
        </div>
        <div class="level__image-two desk">
            <img src="./img/ilustrator/ili2.png" alt="">
        </div>
        <div class="level__image-three desk">
            <img src="./img/ilustrator/ili3.png" alt="">
        </div>
    </div>
</section>
<!-- /.level -->