<section class="map">
    <div class="container">
        <div class="title">
            Глобальная бизнес страница
        </div>
        <div class="map__wrapper">
            <div class="scheme">
                <img src="./img/map.svg" alt="map">
                <div class="svg-block">	
                    	
                    <div  data-id="1"  ></div>
                    <div  data-id="2"></div>
                    <div  data-id="3" ></div>
                    <div  data-id="4" ></div>
                    <div  data-id="5" ></div>
                    <div  data-id="6" ></div>
                    <div  data-id="7" ></div>
                    <div  data-id="8" ></div>
                    <div  data-id="9" ></div>
                    <div  data-id="10" ></div>
                    <div  data-id="11" ></div>
                    <div  data-id="12" ></div>
                    <div  data-id="13" ></div>
                    <div  data-id="14" ></div>
                    <div  data-id="15" ></div>
                    <div  data-id="16" ></div>
                </div>
            
                <div class="scheme-item" id="scheme-item-one" data-id="1">
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
             
                <div class="scheme-item" id="scheme-item-two" data-id="2">
                  
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" id="scheme-item-three" data-id="3">
                   
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" id="scheme-item-four" data-id="4">
                   
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" data-id="5" id="scheme-item-five">
                 
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" id="scheme-item-six" data-id="6">
                    
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item"  id="scheme-item-seven" data-id="7" >
                  
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
                
                <div class="scheme-item" id="scheme-item-eight" data-id="8">
                   
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
                
                <div class="scheme-item" id="scheme-item-nine" data-id="9">
                  
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>	
                
                <div class="scheme-item" id="scheme-item-ten" data-id="10">
                   
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
                
                <div class="scheme-item" id="scheme-item-eleven" data-id="11">
                    
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" id="scheme-item-twelve" data-id="12">
                    
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" id="scheme-item-trending"  data-id="13">
                   
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" id="scheme-item-fourteen"  data-id="14">
                  
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" id="scheme-item-fifteen"  data-id="15">
                   
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                <div class="scheme-item" id="scheme-item-sixteen"  data-id="16">
                   
                    <div class="scheme-popup">
                        <div class="title">РОССИЯ</div>
                        <div class="inner">
                            <strong>Адрес</strong>
                            <span>Москва, ул. Верхняя Красносельская, 3, к2, 45 офис</span>
                        </div>
                        <div class="inner">
                            <strong>E-mail</strong>
                            <span>gemmarusoffice@gmail.com</span>
                        </div>
                        <div class="inner">
                            <strong>Телефон</strong>
                            <span>+7(495) 125-20-21</span>
                        </div>
                        <div class="inner">
                            <strong>часы работы</strong>
                            <span>10:00-20:00  Пн-Сб</span>
                        </div>
                    </div>
                </div>
            
                
            </div>
        </div>
    </div>
</section>