<section class="marketing">
    <div class="container">
        <div class="marketing__title">
            Маркетинг план
        </div>
        <div class="title">
            Преимущества
        </div>
        <div class="marketing__wrapper">
            <div class="marketing__inner">
                <div class="marketing__number">
                    01
                </div>
                <div class="marketing__text">
                    Товары повседневного спроса высокого качества
                </div>
            </div>
            <div class="marketing__inner">
                <div class="marketing__number">
                    02
                </div>
                <div class="marketing__text">
                    Нет взноса за регистрацию
                </div>
            </div>
            <div class="marketing__inner">
                <div class="marketing__number">
                    03
                </div>
                <div class="marketing__text">
                    Нет ежемесячных выкупов
                </div>
            </div>
            <div class="marketing__inner">
                <div class="marketing__number">
                    04
                </div>
                <div class="marketing__text">
                    Нет обнуления личного объема
                </div>
            </div>
            <div class="marketing__inner">
                <div class="marketing__number">
                    05
                </div>
                <div class="marketing__text">
                    Нет сгорания групповых объемов при «схождении»
                </div>
            </div>
            <div class="marketing__inner">
                <div class="marketing__number">
                    06
                </div>
                <div class="marketing__text">
                    Нет подтверждения или понижения статусов
                </div>
            </div>
            <div class="marketing__inner">
                <div class="marketing__number">
                    07
                </div>
                <div class="marketing__text">
                    Количество реферальных бонусов = количество покупок одним ВМ
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.marketing -->