<section class="philosopher">
    <div class="container">
        <div class="title">
            <h2>Философия</h2>
            <div class="philosopher__arrows">
                <div class="philosopher__arrow-prev"></div>
                <div class="philosopher__arrow-next"></div>
            </div>
        </div>
        <div class="philosopher__wrapper">
            <div class="swiper philosopher__swiper">
                <div class="swiper-wrapper philosopher__swiper-wrapper">
                    <div class="swiper-slide philosopher__slide">
                        <div class="philosopher__content">
                            <div class="philosopher__number">
                                01
                            </div>
                            <div class="philosopher__title">
                                Слоган компании 
                            </div>
                            <div class="philosopher__text">
                                Компания, которая любит природу и людей
                            </div>
                            <div class="philosopher__image">
                                <img src="./img/philoper/philoper1.png" alt="картинка">
                            </div>
                        </div>
                    </div>
                    <!-- 1 -->
                    <div class="swiper-slide philosopher__slide">
                        <div class="philosopher__content">
                            <div class="philosopher__number">
                                02
                            </div>
                            <div class="philosopher__title">
                                Идеология управления
                            </div>
                            <div class="philosopher__text philosopher__text--bottom">
                                Компания ценит жизнь, уважает Природу и Людей
                            </div>
                            <div class="philosopher__image">
                                <img src="./img/philoper/philoper2.png" alt="картинка">
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="swiper-slide philosopher__slide">
                        <div class="philosopher__content">
                            <div class="philosopher__number">
                                03
                            </div>
                            <div class="philosopher__title">
                                Политика управления 
                            </div>
                            <div class="philosopher__text">
                                Создание новой экологически чистой Культуры здоровья
                            </div>
                            <div class="philosopher__image">
                                <img src="./img/philoper/philoper3.png" alt="картинка">
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="swiper-slide philosopher__slide">
                        <div class="philosopher__content">
                            <div class="philosopher__number">
                                04
                            </div>
                            <div class="philosopher__title">
                                Назначение
                            </div>
                            <div class="philosopher__text">
                                Здоровая жизнь, спокойная жизнь, жизнь, полная обмена
                            </div>
                            <div class="philosopher__image">
                                <img src="./img/philoper/philoper4.png" alt="картинка">
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="swiper-slide philosopher__slide">
                        <div class="philosopher__content">
                            <div class="philosopher__number">
                                05
                            </div>
                            <div class="philosopher__title">
                                Внутренний устав компании
                            </div>
                            <div class="philosopher__text">
                                Честность, Верность, Любовь.
                            </div>
                            <div class="philosopher__image">
                                <img src="./img/philoper/philoper5.png" alt="картинка">
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="swiper-slide philosopher__slide">
                        <div class="philosopher__content">
                            <div class="philosopher__number">
                                05
                            </div>
                            <div class="philosopher__title">
                                Внутренний устав компании
                            </div>
                            <div class="philosopher__text">
                                Честность, Верность, Любовь.
                            </div>
                            <div class="philosopher__image">
                                <img src="./img/philoper/philoper5.png" alt="картинка">
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                </div>
            </div>
        </div>
        <!-- /.philosopher__wrapper -->
    </div>
</section>
<!-- /.philosopher -->