<section class="philosophy">
    <div class="container">
        <div class="title">
            <h2>Философия</h2>
            <span> Gemma Russia Co., Ltd  стремится сделать  жизнь лучше, руководствуясь философией управления “создание новой экологически чистой культуры здоровья”.</span>
        </div>
        <div class="philosophy__wrapper">
            <div class="philosophy__inner">
                <div class="philosophy__image">
                    <img src="./img/philosophy/philosophy1.png" alt="картинка">
                </div>
                <div class="philosophy__block">
                    <div class="philosophy__number">
                        01
                    </div>
                    <div class="philosophy__title">
                        Слоган компании
                    </div>
                    <div class="philosophy__text">
                        Компания, которая любит природу и людей
                    </div>
                </div>
            </div>
            <div class="philosophy__inner">
                <div class="philosophy__block">
                    <div class="philosophy__number">
                        02
                    </div>
                    <div class="philosophy__title">
                        Идеология управления
                    </div>
                    <div class="philosophy__text">
                        Компания ценит жизнь, уважает Природу и Людей
                    </div>
                </div>
                <div class="philosophy__image">
                    <img src="./img/philosophy/philosophy2.png" alt="картинка">
                </div>
            </div>
            <div class="philosophy__inner">
                <div class="philosophy__image">
                    <img src="./img/philosophy/philosophy3.png" alt="картинка">
                </div>
                <div class="philosophy__block">
                    <div class="philosophy__number">
                        03
                    </div>
                    <div class="philosophy__title">
                        Политика управления
                    </div>
                    <div class="philosophy__text">
                        Создание новой экологически чистой Культуры здоровья
                    </div>
                </div>
            </div>
            <div class="philosophy__inner">
                <div class="philosophy__block">
                    <div class="philosophy__number">
                        04
                    </div>
                    <div class="philosophy__title">
                        Идеология управления
                    </div>
                    <div class="philosophy__text">
                        Здоровая жизнь, спокойная жизнь, жизнь, полная обмена
                    </div>
                </div>
                <div class="philosophy__image">
                    <img src="./img/philosophy/philosophy4.png" alt="картинка">
                </div>
            </div>
            <div class="philosophy__inner">
                <div class="philosophy__image">
                    <img src="./img/philosophy/philosophy5.png" alt="картинка">
                </div>
                <div class="philosophy__block">
                    <div class="philosophy__number">
                        05
                    </div>
                    <div class="philosophy__title">
                        Внутренний устав компании
                    </div>
                    <div class="philosophy__text">
                        Честность, Верность, Любовь.
                    </div>
                </div>
            </div>
            <div class="philosophy__inner">
                <div class="philosophy__block">
                    <div class="philosophy__number">
                        06
                    </div>
                    <div class="philosophy__title">
                        Идеология управления
                    </div>
                    <div class="philosophy__text">
                        Компания ценит жизнь, уважает Природу и Людей
                    </div>
                </div>
                <div class="philosophy__image">
                    <img src="./img/philosophy/philosophy6.png" alt="картинка">
                </div>
            </div>
        </div>
        <!-- /.philosophy__wrapper -->
    </div>
</section>
<!-- /.philosophy -->