<section class="plan">
    <div class="container">
        <div class="title">
            <h2>Краткий компенсационный план для Евразии</h2>
            <div class="plan__arrows">
                <div class="plan__prev"></div>
                <div class="plan__next"></div>
            </div>
        </div>
        <div class="plan__wrapper">
            <div class="plan__image desk">
                <img src="./img/table.png" alt="">
            </div>
            <div class="plan__image mobile">
                <img src="./img/levelmobile/table.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- /.plan -->