<section class="questions">
    <div class="container">
        <div class="questions__wrapper">
            <div class="questions__bag"></div>
            <div class="questions__left">
                У Вас остались вопросы?
            </div>
            <div class="questions__right">
                <form class="questions-form">
                    <div class="questions-form__text">
                        Напишите нам о том, что Вас интересует или оставьте заявку на обратный звонок. Мы обязательно Вам перезвоним!
                    </div>
                    <ul class="questions-form__lists">
                        <li class="questions-form__item questions-form__item-js">написать</li>
                        <li class="questions-form__item questions-form__item-js">оставить заявку</li>
                    </ul>
                    <div class="questions-form__block questions-form__block-js">
                        <div class="questions-form__inner">
                            <label for="">Имя</label>
                            <input type="text" placeholder="Иван Петров">
                        </div>
                        <div class="questions-form__inner">
                            <label for="">Номер телефона</label>
                            <input type="tel" placeholder="+7 (ХХХ) ХХХ-ХХ-ХХ">
                        </div>
                        <div class="questions-form__inner questions-form__inner--text">
                            <label for="">Ваш вопрос</label>
                            <input type="text">
                        </div>
                        <div class="questions-form__btns">
                            <div class="input__wrapper">
                                <input name="file" type="file" name="file" id="input__file" class="input input__file" multiple>
                                <label for="input__file" class="input__file-button">
                                   <span class="input__file-button-text">Прикрепить файл</span>
                                </label>
                             </div>
                            <button class="all-btn"><span>отправить</span></button>
                        </div>
                        <!-- /.questions-form__btns -->
                    </div>
                </form>
            </div>
        </div>
        <!-- /.questions__wrapper -->
    </div>
</section>
<!-- /.questions -->