<section class="registration">
    <div class="container">
        <div class="title">
            Регистрация для юридических лиц
        </div>
        <div class="registration__wrapper">
            <div class="registration__left">
                    <ul class="registration__left-ul">
                        <li class="registration__item registration__item-js">
                            <span>ИП</span>
                        </li>
                        <li class="registration__item registration__item-js">
                            <span>организация</span>
                        </li>
                    </ul>

                    <div class="registration__left-block registration__left-block-js">
                        <form action="" class="registration__form">
                            <div class="registration__form-inner">
                                <label for="">Полное наименование организации </label>
                                <input type="text">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">ID</label>
                                <input type="number">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">E-mail </label>
                                <input type="E-mail">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">Банк </label>
                                <input type="number">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">Номер телефона</label>
                                <input type="tel" placeholder="+7-(ХХХ)-ХХ-ХХ-ХХ">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">БИК </label>
                                <input type="number">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">Юридический адрес </label>
                                <input type="text">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">Корр. счет </label>
                                <input type="text" placeholder="ХХХХ ХХХХ XXXX XXXX XXXX">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">ИНН  </label>
                                <input type="text">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">Расчетный счет (RUB)  </label>
                                <input type="text" placeholder="ХХХХ ХХХХ XXXX XXXX XXXX">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">КПП </label>
                                <input type="text">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">ОКПО</label>
                                <input type="number">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">Пароль</label>
                                <input type="number">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">ОКДП</label>
                                <input type="number">
                            </div>
                            <div class="registration__form-inner">
                                <label for="">Подтверждение пароля</label>
                                <input type="number">
                            </div>
                        
                            <button class="all-btn">
                                <span>зарегистрироваться</span>
                            </button>
                        </form>
                    </div>
                    <div class="registration__left-block registration__left-block-js">

                    </div>
            </div>
            <div class="registration__right">
                <aside class="aside">
                    <div class="aside__title">
                        <span>Хит продаж</span>
                        <div class="aside__arrows">
                            <div class="aside__prev"></div>
                            <div class="aside__next"></div>
                        </div>
                    </div>
                    <!-- title -->
                    <div class="aside__content">
                        <div class="swiper aside__swiper">
                            <div class="swiper-wrapper aside__swiper-wrapper">
                                <div class="swiper-slide aside__slide">
                                    <article href="" class="product">
                                        <div class="product__image">
                                            <img src="./img/asidepro.png" alt="продукт">
                                        </div>
                                        <div class="product__title">
                                            Freedra 5 Steps
                                        </div>
                                        <div class="product__category">
                                            Категория продукта
                                        </div>
                                        <div class="product__text-desc">
                                            Краткое описание продукта и его основных приемуществ, а также причин, почему его стоит купить
                                        </div>
                                        <div class="product__price">
                                            200$
                                        </div>
                                        <button class="product__basket">
                                            <img src="./img/icon/bag2.svg" alt="">
                                        </button>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!-- swiper -->
                    </div>
                    <!-- content -->
                </aside>
                <!-- /.aside --> 
            </div>
        </div>
    </div>
</section>
<!-- /.registration -->