<section class="sign">
    <div class="container">
        <div class="title">
            О торговом знаке
        </div>
        <div class="sign__wrapper">
            <div class="sign__left">
                <div class="sign__logo">
                    <img src="./img/logotwo.svg" alt="logo">
                </div>
                <div class="sign__strong">
                    Символическое обозначение бренда, основанного </br> на людях и природе
                </div>
            </div>
            <div class="sign__right">
                <p>“GEMMOVE” - “движение драгоценных камней” несущим идею “клиники, излечивающей силой драгоценных камней”. </p>
                <p>Экологичный бренд со значением “доставщика”, приносящего клиентам по всему миру честность, верность, любовь и счастье, основываясь на философии “формирования культуры удовлетворения клиентов”.  </p>
            </div>
        </div>
        <!-- /.sign__wrapper -->
        <div class="sign__wrapper">
            <div class="sign__left">
                <div class="sign__left-title desk">
                    О фирменном знаке
                </div>
                <ul class="sign__left-lists">
                    <li>В основе фирменного знака GEMMA заложена идея объединения природы и человечества, о чем символизируют два скрещенных кольца в центре большого круга.  </li>
                    <li>Формирующий основу круг представляет силу воли превратить Землю в мир GEMMA, а линии, исходящие в 6-ти направлениях — это бесконечные полеты к миру. Шесть малых кругов, окружающих центр, как символы 6-ти континентов, объединяющих мир в одно целое. </li>
                    <li>Синий цвет с градиентом выражает традиционные ценности: растущие страсть и устремленность в будущее, а темно-<br>синий цвет в основе всего логотипа отражает<br> непоколебимую волю к миру, самобытность компании, ее отличительность и превосходство.</li>
                </ul>
                <!-- /.sign__left-lists -->
            </div>
            <div class="sign__right">
                <div class="sign__left-title mobile">
                    О фирменном знаке
                </div>
                <div class="sign__right-image">
                    <img src="./img/five.svg" alt="иконка">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.sign -->