.graffiti {
    margin-bottom: 17rem;
    .container {
        width: 183.7rem;
    }

    &__iamge {
        width: 100%;
        height: 172.4rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    .mob {
        display: none;
    }
}