.marketing {
    margin-bottom: 19rem;
    .container {
        width: 154rem;
    }

    &__title {
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 6rem;
        line-height: 82px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #1A1B20;
        margin-bottom: 6rem;
    }

    .title {
 
    font-size: 4.5rem;
    margin-bottom: 6rem;

    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__inner {
        display: block;
        width: 34.5rem;
        margin-right: 5.3rem;
        margin-bottom: 5rem;
    }

    &__inner:nth-child(4n) {
        margin-right: 0;
    }

    &__number {
        font-family: 'Open Sans',sans-serif;
        font-size: 5rem;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: 0em;
        text-align: left;
        color: #E0E0E7;
        position: relative;
        padding-bottom: 1rem;
        width: 6.5rem;
        margin-bottom: 3rem;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 0.2rem;
            background: #143383;
            bottom: 0;
        }
    }

    &__text {


        font-family: 'Circe',sans-serif;
        font-size: 2.6rem;
        font-weight: bold;
        line-height: 2.4rem;
        letter-spacing: 0em;
        

    }
}