.order {
    margin-bottom: 6.9rem;
    margin-top: 9rem;

    .container {
        width: 154rem;
    }
    

    .link {
        margin-bottom: 5rem;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        display: flex;
        margin-bottom: 6rem;
    }

    &__title-date {
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 4.5rem;
        line-height: 111%;
        color: #1A1B20;
        margin-right: 31.4rem;
    }

    &__status {
        display: flex;
        align-items: center;
        margin-right: 28rem;

    }

    &__status-icon {
        width: 3.1rem;
        height: 1.83rem;
        margin-right: 1.5rem;
    }

    &__status-text {
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 150%;
        color: #1A1B20;
    }

    &__pagination {
        display: flex;
        align-items: center;
    }

    &__pagination-prev,
    &__pagination-next {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 3.5rem;
        height: 2rem;
        cursor: pointer;
        fill: #1A1B20;
    }

    &__pagination-prev {
        
        margin-right: 2.6rem;
    }

    &__pagination-next {
        
    }

    &__pagination-numbers {
        display: flex;
        position: relative;
        top: 0rem;

        span {
            display: inline-block;
            font-family: 'Open Sans',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.7rem;
            text-align: center;
            
            margin-right: 2rem;
        }
    }


    &__products {
        width: 102.5rem;
        background: #F3F3F6;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        padding-left: 9rem;
        padding-right: 9rem;
        margin-bottom: 5rem;
    }

    &__product {
        padding-top: 3.4rem;
        padding-bottom: 3.4rem;
        display: flex;
        align-items: center;
        border-bottom: 0.1rem solid #D7DBE8;
    }

    &__product:last-child {
        border-bottom: none;
    }

    &__product-image {
        width: 20.6rem;
        height: 21.7rem;
        margin-right: 4.6rem;
        img {
            width: 100%;
            height: 100%;
            
        }
    }

    &__product-text {
        display: flex;
        flex-direction: column;
        max-width: 34rem;
        min-width: 34rem;
        margin-right: 14rem;

        strong {
            font-family: 'Open Sans',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3.3rem;
            color: #1A1B20;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 165% ;
            color: #1A1B20;
        }
    }

    &__product-block {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 150%;
        color: #143383;
        min-width: 11rem;
    }

    &__information {
        width: 102.5rem;
        background: #F3F3F6;
        padding-top: 5.2rem;
        padding-left: 9rem;
        padding-right: 9rem;
        padding-bottom: 5.2rem;

    }

    &__information-contacts {
        padding-bottom: 4rem;
        border-bottom: 0.1rem solid #D7DBE8;
    }

    &__information-contacts-title {
        padding-left: 5.2rem;
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: #1A1B20;
        position: relative;
        margin-bottom: 3.3rem;
        &::before {
            position: absolute;
            content: '';
            width: 3.8rem;
            height: 3.8rem;
            background-image: url(../img/dopicon/profile.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
        }
    }


    &__information-contacts-data-name,
    &__information-contacts-data-email,
    &__information-contacts-data-phone {
        display: flex;
        margin-bottom: 1rem;

        strong {
            font-family: 'Open Sans',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 150%;
            color: #1A1B20;
            margin-right: 1.5rem;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 150%;
            color: #1A1B20;
        }
    }

    &__information-contacts-data-phone {
        margin-bottom: 0;
    }

    &__information-delivery-title {
        padding-left: 5.2rem;
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: #1A1B20;
        position: relative;
        margin-bottom: 3.3rem;
        &::before {
            position: absolute;
            content: '';
            width: 3.8rem;
            height: 3.8rem;
            background-image: url(../img/dopicon/bag-2.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
        }
    }

    &__information-delivery {
        padding-top: 4.2rem;
        padding-bottom: 4rem;
        border-bottom: 0.1rem solid #D7DBE8;
    }

    &__information-delivery-address {
        display: flex;
        flex-direction: column;
        width: 52.7rem;
        strong {
            font-family: 'Open Sans',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 150%;
            color: #1A1B20;
            margin-right: 1.5rem;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 150%;
            color: #1A1B20;
        }
    }

    &__information-payment {
        padding-top: 4rem;
    }
    &__information-payment-title {
        padding-left: 5rem;
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: #1A1B20;
        position: relative;
        margin-bottom: 3.3rem;
        &::before {
            position: absolute;
            content: '';
            width: 3.1rem;
            height: 3.1rem;
            background-image: url(../img/dopicon/cohi.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
        }
    }

    &__information-payment-text  {
        font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 150%;
            color: #1A1B20;
    }

    &__point {
        width: 40.9rem;
        height: 29.4rem;
        background: #F3F3F6;
        padding-top: 4rem;
        padding-left: 4rem;
        padding-right: 1.8rem;
        padding-bottom: 4rem;

        .all-btn {
            margin: 0 auto;
        }
    }

    &__point-text {
        padding-left: 5rem;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 150%;
        color: #000000;
        position: relative;
        margin-bottom: 3rem;
        &::before {
            position: absolute;
            content: '';
            width: 3.5rem;
            height: 3.5rem;
            background-image: url(../img/icon/point.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 1rem;
        }
    }


    &__product-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile {
        display: none;
    }

}