<section class="best-two">
    <div class="container">
        <div class="title">
            <h2>Best seller</h2>
            <div class="best-two__arrows">
                <div class="best-two__prev"></div>
                <div class="best-two__next"></div>
            </div>
        </div>
        <div class="best-two__wrapper">
           <div class="swiper best-two__swiper">
               <div class="swiper-wrapper best-two__swiper-wrapper">
                   <div class="swiper-slide best-two__slide">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                   </div>
                   <!-- 1 -->
                   <div class="swiper-slide best-two__slide">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product2.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                   </div>
                   <!-- 2 -->
                   <div class="swiper-slide best-two__slide">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product3.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                   </div>
                   <!-- 3 -->
                   <div class="swiper-slide best-two__slide">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product4.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                   </div>
                   <!-- 4 -->
                   <div class="swiper-slide best-two__slide">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                   </div>
                   <!-- 1 -->
                   <div class="swiper-slide best-two__slide">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product2.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                   </div>
                   <!-- 2 -->
                   <div class="swiper-slide best-two__slide">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product3.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                   </div>
                   <!-- 3 -->
                   <div class="swiper-slide best-two__slide">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product4.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                   </div>
                   <!-- 4 -->
               </div>
           </div>
        </div>
        <!-- /.best-two__Wrapper -->
    </div>
</section>
<!-- /.best-two -->