<section class="catalog">
    <div class="container">
        <div class="title">
            <span>Каталог</span> <div class="catalog__filter-open"><img src="./img/icon/sort.svg" alt=""></div>
        </div>
        <div class="catalog__wrapper">
            <div class="catalog__left">
                <div class="catalog__left-buttons">
                    <div class="catalog__left-buttons-green">

                    </div>
                    <div class="catalog__left-buttons-close">
                        <img src="./img/greyxxx.svg" alt="">
                    </div>
                </div>
                <form class="catalog-filters">
                    <div class="catalog-filters__title">
                        <strong>выбрано</strong><button class="catalog-filters__clear-all catalog-choice__clear">Очистить</button>
                    </div>
                    <div class="catalog-filters__block catalog-choice">
                        
                    </div>
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">Ионизаторы</button>
                        <ul class="catalog-filters__bottom">
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox" data-text="крем">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                    <span class="custom-checkbox__text">крем</span>
                                </label>
                            </li>
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox" data-text="сыворотка">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                    <span class="custom-checkbox__text">сыворотка</span>
                                </label>
                                
                            </li>
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox" data-text="тоник">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                    <span class="custom-checkbox__text">тоник</span>
                                </label>
                                
                            </li>
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox" data-text="маска">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                    <span class="custom-checkbox__text">маска</span>
                                </label>
                              
                            </li>
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox" data-text="концентрат">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                 <span class="custom-checkbox__text">концентрат</span>
                                </label>
                                
                            </li>
                        </ul>
                    </div>
                    <!-- 1 -->
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">косметика</button>
                        <ul class="catalog-filters__bottom">
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                    <span class="custom-checkbox__text">крем</span>
                                </label>
                            </li>
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                    <span class="custom-checkbox__text">сыворотка</span>
                                </label>
                                
                            </li>
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                    <span class="custom-checkbox__text">тоник</span>
                                </label>
                                
                            </li>
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                    <span class="custom-checkbox__text">маска</span>
                                </label>
                              
                            </li>
                            <li class="catalog-filters__item">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="custom-checkbox__input visually-hidden">
                                 <span class="custom-checkbox__text">концентрат</span>
                                </label>
                                
                            </li>
                        </ul>
                    </div>
                    <!-- 2 -->
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">Товары для дома</button>
                    </div>
                    <!-- 3 -->
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">одежда</button>
                    </div>
                    <!-- 4 -->
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">маски для лица</button>
                    </div>
                    <!-- 5 -->
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">уходы за собой</button>
                    </div>
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">щетки и пасты</button>
                    </div>
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">бады</button>
                    </div>
                    <div class="catalog-filters__block-toggle ">
                        <button class="catalog-filters__toggle">стельки для обуви</button>
                    </div>
                </form>
            </div>
            <div class="catalog__right">
                <div class="catalog__right-products">
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product2.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product3.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product2.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product3.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product2.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                    <article href="" class="product">
                        <div class="product__image">
                            <img src="./img/product/product3.png" alt="продукт">
                            <button class="product__heart">
                               
                            </button>
                        </div>
                        <div class="product__title">
                            Freedra 5 Steps
                        </div>
                        <div class="product__category">
                            Категория продукта
                        </div>
                        <div class="product__price">
                            200$
                        </div>
                        <button class="product__basket">
                            <img src="./img/icon/bag2.svg" alt="">
                        </button>
                    </article>
                </div>
                <!-- /.catalog__right-products -->

                <div class="catalog__right-pagination">
                    <div class="catalog__right-pagination-prev">
                        <svg  viewBox="0 0 36 16"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292889 8.70711C-0.0976333 8.31659 -0.0976334 7.68342 0.292889 7.2929L6.65685 0.928935C7.04737 0.53841 7.68054 0.53841 8.07106 0.928935C8.46159 1.31946 8.46159 1.95262 8.07106 2.34315L2.41421 8L8.07106 13.6569C8.46159 14.0474 8.46159 14.6805 8.07106 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292889 8.70711ZM36 9L0.999996 9L0.999996 7L36 7L36 9Z"/>
                        </svg>
                    </div>
                    <div class="catalog__right-pagination-numbers">
                        <span class="pagination-number" >1</span>
                        <span class="pagination-number">2</span>
                        <span class="pagination-number">3</span>
                        <span class="pagination-number">...</span>
                    </div>
                    <div class="catalog__right-pagination-next arrow-noactive">
                        <svg  viewBox="0 0 36 16"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.7071 8.70711C36.0976 8.31659 36.0976 7.68342 35.7071 7.2929L29.3431 0.928935C28.9526 0.53841 28.3195 0.53841 27.9289 0.928935C27.5384 1.31946 27.5384 1.95262 27.9289 2.34315L33.5858 8L27.9289 13.6569C27.5384 14.0474 27.5384 14.6805 27.9289 15.0711C28.3195 15.4616 28.9526 15.4616 29.3431 15.0711L35.7071 8.70711ZM-8.74228e-08 9L35 9L35 7L8.74228e-08 7L-8.74228e-08 9Z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.catalog__wrapper -->
    </div>
</section>
<!-- /.catalog -->
