.decision {
    margin-bottom: 16.7rem;
    @media only screen and (min-width: 20em) and (max-width: 48em) {
        margin-bottom: 19rem;
        overflow: hidden;
    }
    .container {
        width: 148rem;
        @media only screen and (min-width: 20em) and (max-width: 48em) {
            width: 100%;
            padding: 0 2.94rem;
        }
    }
    &__title {
        display: flex;
        margin-bottom: 6.6rem;
        margin-top: -3rem;
        padding-left: 2rem;
        @media only screen and (min-width: 20em) and (max-width: 48em) {
            flex-direction: column;
            padding-left: 0;
            margin-top: 0;
        }
        p {
            font-style: normal;
            font-weight: 600;
            font-size: 5.6rem;
            line-height: 6.5rem;
            color: #333333;
            display: inline-block;
            width: 121.7rem;
            margin-right: 2rem;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                width: 100%;
                margin-bottom: 4.9rem;
                font-size: 5.4rem;
            }
        }
        .button-all {
            height: 7.3rem;
            margin-top: 1rem;
            margin-right: 4rem;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                margin-top: 0;
                width: 36rem;
                height: 11rem;
                margin-bottom: 2rem;
                span {
                    font-size: 3rem;
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        @media only screen and (min-width: 20em) and (max-width: 48em) {
            width: 100%;
            flex-direction: column;
        }
    }
    .decision-left {
        width: 26%;
        @media only screen and (min-width: 20em) and (max-width: 48em) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 7.84rem;
        }
        &__inner {
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
        &__text {
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.5rem;
            color: #333333;
            display: inline-block;
            margin-bottom: 5.6rem;
            padding-left: 2rem;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                font-size: 2.9rem;
                line-height: 4.9rem;
                padding-left: 1rem;
                padding-top: 2rem;
                margin-bottom: 3.5rem;
            }
        }
        &__filter-list {
            padding-left: 4rem;
            padding-top: 1rem;
            transition: .4s ease-in-out;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                display: none;
            }
        }
        &__filter-list--mobile {
            padding-left: 4rem;
            padding-top: 1rem;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                display: block;
                transition: .4s ease-in-out;
            }
        }
        &__label {
            cursor: pointer;
            margin-bottom: 2.5rem;
            position: relative;
            display: flex;
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 2rem;
                line-height: 2.5rem;
                color: #333333;
                margin-left: 2rem;
                @media only screen and (min-width: 20em) and (max-width: 48em) {
                    font-size: 2.9rem;
                    line-height: 120%;
                }
            }
            input[type="checkbox"]:checked+span {
                font-weight: bold;
            }
            input[type="checkbox"] {
                position: absolute;
                left: -10000px;
            }
            &::before {
                content: '.';
                position: absolute;
                font-size: 5rem;
                top: -3.3rem;
                left: -0.5rem;
                @media only screen and (min-width: 20em) and (max-width: 48em) {
                    top: -2.5rem;
                }
            }
        }
    }
    .decision-right {
        width: 70%;
        @media only screen and (min-width: 20em) and (max-width: 48em) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__inner {
            display: flex;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
        .decision-table {
            width: 31rem;
            display: inline-block;
            position: relative;
            z-index: 1;
            margin-right: 8rem;
            cursor: pointer;
            transition: all .2s ease;
            &:hover {
                .decision-table__image {
                    background-color: #81F55A;
                    transition: all .2s ease;
                }
            }
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 10.84rem;
            }
            &__profitability {
                margin-bottom: 11.5rem;
                @media only screen and (min-width: 20em) and (max-width: 48em) {
                    margin-bottom: 8.8rem;
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                    color: #333333;
                    display: block;
                    margin-bottom: 2.3rem;
                    @media only screen and (min-width: 20em) and (max-width: 48em) {
                        font-size: 2.86rem;
                        font-weight: bold;
                        line-height: 4.09rem;
                        padding-left: 1rem;
                    }
                }
                strong {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 5.5rem;
                    line-height: 2.5rem;
                    color: #333333;
                    display: flex;
                    position: relative;
                    width: 16.1rem;
                    @media only screen and (min-width: 20em) and (max-width: 48em) {
                        font-size: 6.88rem;
                        font-weight: bold;
                        line-height: 6.45rem;
                        width: 20.1rem;
                        margin-left: 1rem;
                    }
                    span {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 2rem;
                        line-height: 2.5rem;
                        color: #333333;
                        position: absolute;
                        right: 1rem;
                        top: -1rem;
                        @media only screen and (min-width: 20em) and (max-width: 48em) {
                            font-size: 2.35rem;
                            line-height: 4.09rem;
                            top: 0;
                            right: -1rem;
                        }
                    }
                }
            }
            &__image {
                width: 21.1rem;
                height: 19.1rem;
                background: #EFE8D9;
                position: absolute;
                top: 16rem;
                z-index: -1;
                right: -2.3rem;
                @media only screen and (min-width: 20em) and (max-width: 48em) {
                    width: 52.215rem;
                    height: 23rem;
                    background: #EFE8D9;
                    right: 0rem;
                    margin-bottom: 2.94rem;
                }
                img {
                    position: relative;
                    top: -10rem;
                    right: -5rem;
                    @media only screen and (min-width: 20em) and (max-width: 48em) {
                        width: 39.39rem;
                        height: 28.35rem;
                        right: -20rem;
                        top: -15rem;
                    }
                }
            }
            &__strategy {
                width: 21.1rem;
                display: inline-block;
                @media only screen and (min-width: 20em) and (max-width: 48em) {
                    width: 100%;
                    margin-bottom: 5rem;
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                    color: #333333;
                    display: block;
                    margin-bottom: 2.3rem;
                    @media only screen and (min-width: 20em) and (max-width: 48em) {
                        font-size: 2.9rem;
                        font-weight: bold;
                        line-height: 2.94rem;
                        margin-bottom: 5.3rem;
                    }
                }
                strong {
                    font-size: 3.6rem;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 3.7rem;
                    letter-spacing: 0em;
                    display: inline-block;
                    @media only screen and (min-width: 20em) and (max-width: 48em) {
                        font-size: 4.6rem;
                        font-weight: bold;
                        line-height: 3.921rem;
                    }
                }
            }
            &__text {
                display: flex;
                justify-content: space-between;
                p {
                    padding-top: 5rem;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: #333333;
                    width: 19rem;
                    display: inline-block;
                    padding-right: 1.8rem;
                    @media only screen and (min-width: 20em) and (max-width: 48em) {
                        font-size: 2.8rem;
                        line-height: 3.5rem;
                        width: 46.21rem;
                        position: relative;
                        right: 6rem;
                    }
                }
                strong {
                    display: inline-block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    text-transform: uppercase;
                    color: #DED4C1;
                    transform: rotate(-90deg);
                    right: -7rem;
                    top: -1rem;
                    position: relative;
                    @media only screen and (min-width: 20em) and (max-width: 48em) {
                        font-size: 2.4rem;
                        line-height: 2.54rem;
                        font-weight: bold;
                        right: -6rem;
                        top: 0rem;
                    }
                }
            }
        }
        .decision-table:last-child {
            margin-right: 0;
        }
    }
    .decision-btn {
        display: none;
        @media only screen and (min-width: 20em) and (max-width: 48em) {
            font-style: normal;
            font-weight: 600;
            font-size: 3.45rem;
            line-height: 4.9rem;
            color: #333333;
            display: flex;
            justify-content: space-between;
            border: none;
            background: none;
            position: absolute;
            right: 3rem;
            top: 156rem;
            width: 37rem;
        }
    }
    .decision-btn__image {
        transition: .4s ease-in-out;
    }
    .decision-btn__image--mobile {
        transform: rotate(180deg);
        transition: .4s ease-in-out;
    }
}