.trade {
    background: #333333;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 100;
    .marquee {
        width: 100%;
        overflow: hidden;
        &__inner {
            display: flex;
            animation-name: marquee;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-play-state: running;
        }
        &__item {
            flex-shrink: 0;
            white-space: nowrap;
        }
        .marquee__tail {
            display: flex;
        }
        .marquee__head {
            display: flex;
        }
    }
    .container {
        width: 100%;
        @media only screen and (min-width: 20em) and (max-width: 48em) {
            width: 100%;
            padding: 0 2.94rem;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .trade-tables {
        display: inline-block;
        border-left: 0.2rem solid #fff;
        padding-left: 3rem;
        &__inner {
            display: flex;
            min-width: 20rem;
            max-width: 32rem;
            border-left: 0.1rem dashed #81F55A;
            margin-right: 2rem;
            padding-left: 2rem;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                width: auto;
                max-width: 51rem;
                min-width: 23rem;
            }
        }
        &__inner:first-child {
            border-left: none;
        }
        &__title {
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 3rem;
            color: #fff;
            padding-left: 2rem;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                font-size: 2.7rem;
            }
        }
        &__block {
            display: flex;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                overflow: hidden;
            }
        }
    }
    .trade-table {
        display: flex;
        flex-direction: column;
        &__text {
            font-style: normal;
            font-weight: noraml;
            font-size: 1.6rem;
            line-height: 3rem;
            color: #fff;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                font-size: 2.2rem;
                margin-bottom: 2rem;
            }
        }
        &__index {
            display: flex;
            width: auto;
        }
        &__price {
            font-style: normal;
            font-weight: noraml;
            font-size: 1.6rem;
            color: #fff;
            margin-right: 2rem;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                font-size: 2.2rem;
            }
        }
        &__changes {
            font-style: normal;
            font-weight: noraml;
            font-size: 1.6rem;
            color: red;
            margin-right: 2rem;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                font-size: 2.2rem;
            }
        }
        &__percent {
            font-style: normal;
            font-weight: noraml;
            font-size: 1.6rem;
            color: red;
            @media only screen and (min-width: 20em) and (max-width: 48em) {
                font-size: 2.2rem;
            }
        }
    }
}