.more {
    margin-bottom: 16.3rem;
    @media only screen and (max-width: 48em) {
        margin-bottom: 35rem;
        padding-top: 5rem;
    }
    .container {
        width: 100%;
        padding-left: 23.5rem;
        padding-right: 32rem;
        @media only screen and (max-width: 48em) {
            width: 100%;
            padding: 0 4rem;
        }
    }
    &__wrapper {
        display: flex;
        margin-bottom: 19.3rem;
        @media only screen and (max-width: 48em) {
            flex-direction: column;
            margin-bottom: 0;
        }
    }
    &__left {
        display: flex;
        margin-right: 13.9rem;
        padding-top: 5.2rem;
        @media only screen and (max-width: 48em) {
            margin-right: 0;
            flex-direction: column;
            margin-bottom: 12rem;
            padding-top: 3rem;
        }
    }
    &__right {
        width: 64rem;
        @media only screen and (max-width: 48em) {
            width: 100%;
            margin-bottom: 8rem;
        }
    }
    &__left-block {
        margin-right: 3.7rem;
        @media only screen and (max-width: 48em) {
            display: flex;
            justify-content: space-between;
            margin-right: 0;
        }
    }
    &__left-block:last-child {
        margin-right: 0rem;
    }
    &__box-small {
        width: 27.4rem;
        height: 11.4rem;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 191px 343px rgba(0, 30, 98, 0.04), 0px 95.5933px 171.667px rgba(0, 30, 98, 0.0304133), 0px 57.5809px 103.404px rgba(0, 30, 98, 0.0260636), 0px 36.9009px 66.267px rgba(0, 30, 98, 0.0228358), 0px 23.9162px 42.9489px rgba(0, 30, 98, 0.02), 0px 15.055px 27.0359px rgba(0, 30, 98, 0.0171642), 0px 8.65001px 15.5338px rgba(0, 30, 98, 0.0139364), 0px 3.80709px 6.83682px rgba(0, 30, 98, 0.00958669);
        border-radius: 2.2rem;
        position: relative;
        padding-top: 4.5rem;
        padding-left: 3.7rem;
        padding-right: 3.2rem;
        padding-bottom: 2.5rem;
        display: flex;
        margin-bottom: 2.2rem;
        @media only screen and (max-width: 48em) {
            display: flex;
            width: 34.1rem;
            height: 19.8rem;
            padding-top: 3.7rem;
            padding-bottom: 4rem;
            border-radius: 4rem;
            align-items: center;
            padding-left: 3.6rem;
        }
    }
    &__box-small--small {
        height: 8.4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2.3rem;
        padding-right: 2.6rem;
        @media only screen and (max-width: 48em) {
            display: flex;
            width: 34rem;
            height: 21rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            padding-left: 2.5rem;
            border-radius: 4rem;
            margin-top: 5rem;
        }
        .more__box-small-image {
            @media only screen and (max-width: 48em) {
                width: 7rem;
                height: 7rem;
                margin-right: 1.4rem;
            }
        }
    }
    &__box-small-icon {
        position: absolute;
        width: 5.7rem;
        height: 5.7rem;
        top: -2.6rem;
        right: 2.7rem;
        @media only screen and (max-width: 48em) {
            width: 8.4rem;
            height: 8.4rem;
            top: -6.3rem;
            right: 2rem;
        }
    }
    &__box-small-image {
        height: 5rem;
        width: 3.2rem;
        margin-right: 2.1rem;
        @media only screen and (max-width: 48em) {
            width: 7rem;
            height: 7rem;
            margin-right: 2.4rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__box-small-inner {
        display: flex;
        flex-direction: column;
        strong {
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2rem;
            color: #3066C1;
            @media only screen and (max-width: 48em) {
                font-size: 3.1rem;
                line-height: 4.1rem;
                margin-bottom: 0.6rem;
            }
        }
        span {
            font-style: normal;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 3rem;
            color: #262626;
            @media only screen and (max-width: 48em) {
                font-size: 3rem;
                line-height: 3.8rem;
            }
        }
    }
    //  box-big
    &__box-big {
        width: 27.4rem;
        height: 24.5rem;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 191px 343px rgba(0, 30, 98, 0.04), 0px 95.5933px 171.667px rgba(0, 30, 98, 0.0304133), 0px 57.5809px 103.404px rgba(0, 30, 98, 0.0260636), 0px 36.9009px 66.267px rgba(0, 30, 98, 0.0228358), 0px 23.9162px 42.9489px rgba(0, 30, 98, 0.02), 0px 15.055px 27.0359px rgba(0, 30, 98, 0.0171642), 0px 8.65001px 15.5338px rgba(0, 30, 98, 0.0139364), 0px 3.80709px 6.83682px rgba(0, 30, 98, 0.00958669);
        border-radius: 2.2rem;
        padding: 1.5rem;
        position: relative;
        margin-bottom: 3.7rem;
        @media only screen and (max-width: 48em) {
            width: 30rem;
            height: 24.5rem;
            padding: 1.6rem;
            border-radius: 4.4rem;
            margin-bottom: 1.4rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 3.8rem;
            }
        }
    }
    // RIGHT
    &__right-title {
        font-family: 'Akzidenz-Grotesk Pro', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 4.5rem;
        line-height: 5.8rem;
        letter-spacing: 0.02em;
        color: #262626;
        margin-bottom: 6rem;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 48em) {
            font-size: 5rem;
            line-height: 6.4rem;
            margin-bottom: 4rem;
        }
    }
    &__right-text {
        @media only screen and (max-width: 48em) {
            display: block;
        }
        p {
            font-family: 'Akzidenz-Grotesk Pro Med Ext', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 156%;
            color: #262626;
            margin-bottom: 2rem;
            @media only screen and (max-width: 48em) {
                font-size: 3.05rem;
                line-height: 5rem;
                margin-bottom: 5rem;
                padding-right: 0rem;
            }
        }
        p:last-child {
            margin-bottom: 0;
        }

        li {
          
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 156%;
            color: #262626;
            margin-bottom: 1rem;
            @media only screen and (max-width: 48em) {
                font-size: 3.05rem;
                line-height: 4rem;
                margin-bottom: 3rem;
                
            }
        }
    }
    &__right-text--mobile {
        display: none;
        @media only screen and (max-width: 48em) {
            display: block;
        }
    }
    &__video {
        height: 60rem;
        width: 154.5rem;
        display: block;
        border-radius: 3.5rem;
        position: relative;
        top: -2rem;
        left: -4.2rem;
        @media only screen and (max-width: 48em) {
            width: 100%;
            height: 31.6rem;
            position: initial;
            img {
                object-fit: cover;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(0px 191px 343px rgba(0, 30, 98, 0.04)) drop-shadow(0px 95.5933px 171.667px rgba(0, 30, 98, 0.0304133)) drop-shadow(0px 57.5809px 103.404px rgba(0, 30, 98, 0.0260636)) drop-shadow(0px 36.9009px 66.267px rgba(0, 30, 98, 0.0228358)) drop-shadow(0px 23.9162px 42.9489px rgba(0, 30, 98, 0.02)) drop-shadow(0px 15.055px 27.0359px rgba(0, 30, 98, 0.0171642)) drop-shadow(0px 8.65001px 15.5338px rgba(0, 30, 98, 0.0139364)) drop-shadow(0px 3.80709px 6.83682px rgba(0, 30, 98, 0.00958669));
            border-radius: 3.5rem;
            @media only screen and (max-width: 48em) {
                object-fit: cover;
            }
        }
    }
    &__btns {
        display: flex;
        margin-top: 4rem;
        @media only screen and (max-width: 48em) {
            margin-top: 3.4rem;
        }
        .all-btn {
            width: 21.2rem;
            height: 4.7rem;
            display: flex;
            align-items: center;
            border: none;
            margin-right: 6.467rem;
            @media only screen and (max-width: 48em) {
                width: 36.2rem;
                height: 8.7rem;
                padding-left: 4rem;
                margin-right: 5rem;
            }
            span {
                @media only screen and (max-width: 48em) {
                    font-size: 3.05rem;
                }
            }
            &::before {
                background: none;
                background-image: url(../img/icon/arrowwhite.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 1.1rem;
                height: 1.1rem;
                top: 1.7rem;
                right: 3rem;
                @media only screen and (max-width: 48em) {
                    top: 3.5rem;
                    right: 4.5rem;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
        .link-donwold {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding-left: 3.334rem;
            @media only screen and (max-width: 48em) {
                padding-left: 0;
            }
            &::before {
                content: '';
                position: absolute;
                height: 2.33rem;
                width: 1.86rem;
                background-repeat: no-repeat;
                background-image: url(../img/pdf.svg);
                background-size: 100% 100%;
                left: 0;
                @media only screen and (max-width: 48em) {
                    content: '';
                    position: absolute;
                    height: 4.33rem;
                    width: 3.5rem;
                    background-repeat: no-repeat;
                    background-image: url(../img/pdf.svg);
                    background-size: 100% 100%;
                    left: 0;
                }
            }
            span {
                font-style: normal;
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 2rem;
                color: #3066C1;
                @media only screen and (max-width: 48em) {
                    font-size: 3.05rem;
                    position: relative;
                    left: 6rem;
                }
            }
        }
    }
}