.photo-car {
    margin-bottom: 24.2rem;
    overflow: hidden;
    @media only screen and (max-width: 48em) {
        position: relative;
        padding-bottom: 15rem;
        margin-bottom: 15rem;
    }
    .container {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        @media only screen and (max-width: 48em) {
            padding: 0 4rem;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
        @media only screen and (max-width: 48em) {
            margin-bottom: 9rem;
        }
        h2 {
            font-family: 'Akzidenz-Grotesk Pro', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 4.5rem;
            line-height: 5.8rem;
            letter-spacing: 0.02em;
            color: #262626;
            @media only screen and (max-width: 48em) {
                font-size: 5.1rem;
                line-height: 5.9rem;
            }
        }
    }
    &__slide {
        width: 23.5%!important;
        height: 31.6rem;
        margin-right: 2%;
        @media only screen and (max-width: 48em) {
            width: 51.8rem !important;
            height: 45.6rem;
            margin-right: 6%;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 2rem;
        }
    }
    &__image {
        width: 100%;
        height: 31.6rem;
        position: relative;
        @media only screen and (max-width: 48em) {
            height: 45.6rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 2.2rem;
            @media only screen and (max-width: 48em) {
                border-radius: 5.2rem;
            }
        }
    }
    &__icon {
        height: 7.2rem;
        width: 7.2rem;
        position: absolute;
        z-index: 3;
        bottom: 2rem;
        right: 2rem;
        border: none;
        background: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // слайдер
    &__block-arrow {
        display: flex;
        width: 37rem;
        left: 61rem;
        top: 3rem;
        position: relative;
    }
    &__block-pagination {
        position: relative;
        right: 0;
        top: 2.8rem;
        font-size: 0;
    }
    &__block-scroll {
        position: absolute;
        right: 0;
        top: 5.7rem;
    }
    //  элементы слайдера
    &__swiper-pagination {
        width: 100%;
        @media only screen and (max-width: 48em) {
            width: 58rem!important;
            overflow: hidden;
            display: flex;
            align-items: center;
        }
        .swiper-pagination {
            font-size: 0;
        }
        .swiper-pagination-current {
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: #000000;
            position: relative;
            right: 9rem;
            top: 2rem;
            @media only screen and (max-width: 48em) {
                font-size: 3.1rem;
                right: 14.1rem;
                top: 6rem;
            }
        }
        .swiper-pagination-total {
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: #C0C8DB;
            position: relative;
            left: 9rem;
            top: 2.2rem;
            @media only screen and (max-width: 48em) {
                font-size: 3.1rem;
                top: 6.3rem;
                left: 12rem;
            }
        }
    }
    &__swiper-scrollbar {
        width: 13.473rem!important;
        height: 0.2rem;
        background: #C0C8DB;
        border-radius: 10rem;
        left: 68.7rem;
        top: 56.7rem;
        @media only screen and (max-width: 48em) {
            position: absolute;
            width: auto;
            height: 0.35rem;
            background: #C0C8DB;
            border-radius: 10rem;
            left: 5rem;
            top: 0rem;
        }
        .swiper-scrollbar-drag {
            width: 2.761rem!important;
            height: 0.2rem;
            background: #01348A;
            border-radius: 10rem;
            @media only screen and (max-width: 48em) {
                height: 0.35rem;
                width: auto;
            }
        }
    }
    &__swiper-button-next,
    &__swiper-button-prev {
        width: 4rem;
        height: 4rem;
        border: 0.1rem solid #C0C8DB;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        @media only screen and (max-width: 48em) {
            width: 6rem;
            height: 6rem;
        }
    }
    &__swiper-button-prev {
        background-image: url(../img/icon/arrowgrey.svg);
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        top: 0.8rem;
        right: 34.5rem;
        @media only screen and (max-width: 48em) {
            width: 6rem;
            height: 6rem;
        }
    }
    &__swiper-button-next {
        background-image: url(../img/icon/arrowgrey.svg);
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transform: rotate(180deg);
        right: 3rem;
        top: 1rem;
        @media only screen and (max-width: 48em) {
            width: 6rem;
            height: 6rem;
            right: -62rem;
            top: -5rem;
        }
    }
    // пагинация
    &__block {
        position: relative;
        @media only screen and (max-width: 48em) {
            width: 100%;
            position: absolute;
            top: 73rem;
        }
    }
    &__block-pagination {
        display: flex;
        width: 37rem;
        left: 18.3rem;
        top: -0.1rem;
        position: relative;
        @media only screen and (max-width: 48em) {
            width: 19.5rem;
            left: 24rem;
            top: 10.5rem;
            position: relative;
            z-index: 2;
        }
    }
    &__block-arrow {
        position: absolute;
        left: 3rem;
        top: 0rem;
        font-size: 0;
    }
    &__block-scroll {
        position: absolute;
        left: 12rem;
        top: 2.9rem;
        @media only screen and (max-width: 48em) {
            left: 0;
        }
    }
    //  элементы слайдера
    &__swiper-pagination {
        width: 100%;
        @media only screen and (max-width: 48em) {
            width: 58rem!important;
            overflow: inherit;
            display: flex;
            align-items: center;
            position: absolute;
            top: -9rem;
        }
        .swiper-pagination {
            font-size: 0;
        }
        .swiper-pagination-current {
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: #000000;
            position: relative;
            right: 9rem;
            top: 2rem;
            @media only screen and (max-width: 48em) {
                font-size: 3.1rem;
                right: 9rem;
                top: -2rem;
                left: -5rem;
            }
        }
        .swiper-pagination-total {
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: #C0C8DB;
            position: relative;
            left: 9rem;
            top: 2.2rem;
            @media only screen and (max-width: 48em) {
                font-size: 3.1rem;
                top: -1.7rem;
                left: 26rem;
            }
        }
    }
    &__swiper-scrollbar {
        width: 13.473rem!important;
        height: 0.2rem;
        background: #C0C8DB;
        border-radius: 10rem;
        left: 68.7rem;
        top: 56.7rem;
        @media only screen and (max-width: 48em) {
            position: absolute;
            width: 26rem!important;
            height: 0.35rem;
            background: #C0C8DB;
            border-radius: 10rem;
            left: 22.6rem;
            top: 0rem;
        }
        .swiper-scrollbar-drag {
            width: 2.761rem!important;
            height: 0.2rem;
            background: #01348A;
            border-radius: 10rem;
            @media only screen and (max-width: 48em) {
                height: 0.35rem;
                width: 4.1rem!important;
            }
        }
    }
    &__swiper-button-next,
    &__swiper-button-prev {
        width: 4rem;
        height: 4rem;
        border: 0.1rem solid #C0C8DB;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        @media only screen and (max-width: 48em) {
            width: 6rem;
            height: 6rem;
        }
    }
    &__swiper-button-prev {
        background-image: url(../img/icon/arrowgrey.svg);
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        top: 0.8rem;
        right: 34.5rem;
        @media only screen and (max-width: 48em) {
            width: 6rem;
            height: 6rem;
            top: 0;
            right: 24rem;
        }
    }
    &__swiper-button-next {
        background-image: url(../img/icon/arrowgrey.svg);
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transform: rotate(180deg);
        right: 3rem;
        top: 1rem;
        @media only screen and (max-width: 48em) {
            width: 6rem;
            height: 6rem;
            right: -22rem;
            top: 0rem;
        }
    }
}