.services-train {
    margin-bottom: 21rem;
    .container {
        width: 154rem;
        @media only screen and (max-width: 48em) {
            width: 100%;
            padding: 0 4rem;
        }
    }
    &__title {
        font-family: 'Akzidenz-Grotesk Pro', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 4.5rem;
        line-height: 5.8rem;
        letter-spacing: 0.02em;
        color: #262626;
        margin-bottom: 6rem;
        @media only screen and (max-width: 48em) {
            width: 100%;
            font-size: 5rem;
        }
    }
    &__wrapper {
        display: flex;
        @media only screen and (max-width: 48em) {
            flex-direction: column;
        }
    }
    &__box {
        width: 35.2rem;
        height: 37.4rem;
        background: #FFFFFF;
        box-shadow: 0px 191px 343px rgba(0, 30, 98, 0.04), 0px 95.5933px 171.667px rgba(0, 30, 98, 0.0304133), 0px 57.5809px 103.404px rgba(0, 30, 98, 0.0260636), 0px 36.9009px 66.267px rgba(0, 30, 98, 0.0228358), 0px 23.9162px 42.9489px rgba(0, 30, 98, 0.02), 0px 15.055px 27.0359px rgba(0, 30, 98, 0.0171642), 0px 8.65001px 15.5338px rgba(0, 30, 98, 0.0139364), 0px 3.80709px 6.83682px rgba(0, 30, 98, 0.00958669);
        border-radius: 2.2rem;
        padding: 3rem;
        margin-right: 4.4rem;
        @media only screen and (max-width: 48em) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 4rem;
            padding-top: 6rem;
            padding-bottom: 6rem;
            padding-left: 4rem;
            padding-right: 4rem;
            height: auto;
            border-radius: 4.4rem;
        }
        .link-btn {
            span {
                @media only screen and (max-width: 48em) {
                    font-size: 3.05rem;
                }
            }
            &::before {
                width: 3rem;
                height: 3rem;
                @media only screen and (max-width: 48em) {
                    width: 5rem;
                    height: 5rem;
                    right: 0rem;
                    left: initial;
                }
            }
        }
        .link-btn-before {
            &::after {
                right: -0.5rem;
                background-size: 1.1rem 1.1rem;
                @media only screen and (max-width: 48em) {
                    background-size: 2rem 2rem;
                    right: -0.51rem;
                }
            }
        }
    }
    &__box:nth-child(4n) {
        margin-right: 0;
    }
    &__box-image {
        width: 29.2rem;
        height: 19.1rem;
        margin-bottom: 4rem;
        display: block;
        @media only screen and (max-width: 48em) {
            width: 100%;
            height: 32.2rem;
            margin-bottom: 6rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: drop-shadow(5px 22.3332px 50px rgba(39, 40, 49, 0.29));
            border-radius: 3rem;
        }
    }
    &__box-text {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2.3rem;
        color: #262626;
        margin-bottom: 3.5rem;
        @media only screen and (max-width: 48em) {
            font-size: 3.2rem;
            line-height: 3.8rem;
        }
    }
}