    .traffic {
        margin-bottom: 21.5rem;
        @media only screen and (max-width: 48em) {
            margin-bottom: 39.5rem;
        }
        .container {
            width: 120rem;
            @media only screen and (max-width: 48em) {
                width: 100%;
                padding: 0 4rem;
                padding-top: 5.3rem;
            }
        }
        &__category {
            display: flex;
            margin-bottom: 8rem;
            @media only screen and (max-width: 48em) {
                flex-wrap: wrap;
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 1.7rem;
                line-height: 147%;
                color: #C9C9C9;
                display: inline-block;
                padding-left: 5rem;
                padding-right: 5rem;
                position: relative;
                @media only screen and (max-width: 48em) {
                    font-size: 3.1rem;
                    line-height: 167%;
                    padding-left: 2.7rem;
                    padding-right: 3.7rem;
                    display: block;
                }
                &::before {
                    position: absolute;
                    content: '';
                    width: 0.1rem;
                    height: 1.2rem;
                    display: inline-block;
                    top: 0.5rem;
                    left: 0;
                    background: #C9C9C9;
                    @media only screen and (max-width: 48em) {
                        width: 0.4rem;
                        height: 2.5rem;
                        top: 1.4rem;
                    }
                }
            }
            span:first-child {
                padding-left: 0;
                &::before {
                    display: none;
                }
            }
            span:nth-last-child(3) {
                &::before {
                    display: none;
                }
            }
            span:last-child {
                color: #262626;
                position: relative;
                left: -2rem;
                &::before {
                    background: #154BA5;
                    display: block;
                    left: 0;
                    right: initial;
                }
            }
        }
        &__title {
            font-family: 'Akzidenz-Grotesk Pro', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 4.5rem;
            line-height: 5.8rem;
            letter-spacing: 0.02em;
            color: #262626;
            margin-bottom: 6rem;
            @media only screen and (max-width: 48em) {
                font-size: 5rem;
                width: 33rem;
            }
        }
        &__ul {
            margin-bottom: 3.5rem;
            counter-reset: num;
            @media only screen and (max-width: 48em) {
                margin-bottom: 4rem;
            }
            li {
                padding-left: 6.1rem;
                font-style: normal;
                font-weight: normal;
                font-size: 1.7rem;
                line-height: 147%;
                color: #262626;
                counter-increment: num;
                margin-bottom: 1.9rem;
                position: relative;
                padding-right: 2rem;
                @media only screen and (max-width: 48em) {
                    font-size: 3.1rem;
                    line-height: 126%;
                    letter-spacing: 0em;
                    padding-left: 8.8rem;
                    margin-bottom: 4rem;
                }
                &::before {
                    position: absolute;
                    content: counter(num);
                    font-family: 'Gilroy', sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 3rem;
                    line-height: 3.8rem;
                    color: #3066C1;
                    left: 0;
                    top: 0;
                    @media only screen and (max-width: 48em) {
                        font-size: 5rem;
                        top: 1rem;
                    }
                }
            }
            li:nth-child(-n+9):before {
                content: "0" counter(num);
            }
        }
        &__text {
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.7rem;
            line-height: 170%;
            color: #262626;
            @media only screen and (max-width: 48em) {
                font-size: 3.1rem;
                line-height: 126%;
                letter-spacing: 0em;
                
            }
            br {
                margin-bottom: 2rem;
            }


            p {
                font-family: 'Gilroy', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1.7rem;
                line-height: 147%;
                color: #262626;
                margin-bottom: 2rem;
                @media only screen and (max-width: 48em) {
                    font-size: 3.1rem;
                    line-height: 126%;
                    letter-spacing: 0em;
                    margin-bottom: 4rem;
                }
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }