<section class="about-main">
    <div class="container">
        <div class="about-main__wrapper">
            <div class="about-main__title">О ТРЦ Июнь</div>
            <div class="about-main__text">Мы всегда рады своим гостям и стараемся создать теплую и комфортную обстановку для совершения покупок, занятий спортом и развлечений.
            </div>
            <a href="" class="about-main__btn">
                <span>Смотреть
                    фото</span>
            </a>
            <div class="about-main__inner">
                <div class="about-main__white">
                    <div class="about-main__white-image">
                        <img src="./img/about/bag.svg" alt="">
                    </div>
                    <div class="about-main__white-inner">
                        <span>Все для вашего шоппинга </span>
                        <strong>270 магазинов</strong>
                    </div>
                </div>
                <div class="about-main__black">
                  
                    <div class="about-main__black-inner">
                        <span>Выгодные предложения </span>
                        <strong>300 акций от наших партнеров</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>