<section class="about">
    <div class="container">
        <div class="about__wrapper">
            <div class="about__left">
                <div class="about__left-title">Дарим комфорт и подарки к вашим покупкам</div>
                <div class="title">
                    <div class="title__text">Шопинг со вкусом и в удовольствие – легко!</div>
                </div>
                <div class="about__left-june">Июнь</div>
                <div class="about__left-text">
                    <p>Представляет посетителям безграничные возможности для модного шопинга. На пяти этажах торгового центра расположились более 300 магазинов известных мировых брендов. Галерея – это также прекрасное место для отдыха:</p>
                    <ul>
                        <li>рестораны с панорамной террасой и прекрасным видом на город,</li>
                        <li>уютные кафе и кофейни, расположенные на каждом этаже,</li>
                        <li> просторный фуд-холл Eat Market, где представлено более 40 кухонь мира.</li>
                    </ul>
                    <p> На 4-ом этаже для гостей открыт Кинотеатр “Формула Кино” с 10-ю кинозалами, среди которых IMAX и зал VIP. В кино присутствуют редкие киноленты, которые показывают на языке оригинала с русскими субтитрами, формат TheatreHD, а также проходят спортивные трансляции.</p>
                </div>
            </div>
            <div class="about__right">
                <div class="about__right-inner">
                    <div class="about__right-inner-text">
                        <div class="about__right-inner-text-title">
                            <div class="about__right-inner-text-title-name">29 развлечений</div>
                            <div class="about__right-inner-text-title-number">1</div>
                        </div>
                        <div class="about__right-inner-text-desk">
                            Множетсво развлечений<br>
                            в нашем торговом центре<br>
                            на любой вкус.
                        </div>
                    </div>
                    <!-- text -->
                    <div class="about__right-inner-image">
                        <img src="./img/about/about1.png" alt="">
                    </div>
                </div>
                <!-- inner -->
                <div class="about__right-inner">
                    <div class="about__right-inner-text">
                        <div class="about__right-inner-text-title">
                            <div class="about__right-inner-text-title-name">Большая парковка</div>
                            <div class="about__right-inner-text-title-number">2</div>
                        </div>
                        <div class="about__right-inner-text-desk">
                            Большое количество удобных партовочных мест. Припаркуются<br> все!
                        </div>
                    </div>
                    <!-- text -->
                    <div class="about__right-inner-image">
                        <img src="./img/about/about2.png" alt="">
                    </div>
                </div>
                <!-- inner -->
                <div class="about__right-inner">
                    <div class="about__right-inner-text">
                        <div class="about__right-inner-text-title">
                            <div class="about__right-inner-text-title-name">Все кухни мира</div>
                            <div class="about__right-inner-text-title-number">3</div>
                        </div>
                        <div class="about__right-inner-text-desk">
                            Вы точно найдете для себя что-то осбенное: у нас широкий выбор:<br> от китайской до итальянской<br> кухни.
                        </div>
                    </div>
                    <!-- text -->
                    <div class="about__right-inner-image">
                        <img src="./img/about/about3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>