<section class="central-news">
    <div class="container">
        <div class="central-news__title">
            Новости ТРЦ Июнь
        </div>
        <!--  -->
        <div class="central-news__text">
            Мы всегда рады своим гостям и стараемся создать теплую и комфортную обстановку для совершения покупок, занятий спортом и развлечений.

        </div>
        <!-- text -->
        <a href="" class="central-news__btn">
            <span> Читать сейчас</span>
        </a>
    </div>
</section>