<section class="central">
    <div class="container">
        <div class="central__wrapper">
            <div class="swiper central__swiper">
                <div class="swiper-wrapper central__swiper-wrapper">
                    <div class="swiper-slide central__swiper-slide">
                        <div class="central__content">
                            <div class="central__bg desk">
                                <img src="./img/food/foodbg.png" alt="">
                            </div>
                            <div class="central__bg mob" >
                                <img src="./img/food/foodmobbg.png" alt="">
                            </div>
                            <div class="central__inner">
                                <div class="central__title">
                                    <strong>Множство кухонь
                                        в ТРЦ Июнь!</strong>

                                    <div class="central__arrows">
                                        <div class="central__prev"></div>
                                        <div class="central__next"></div>
                                    </div> 
                                </div>
                                <div class="central__inner-block">
                                    <div class="central__text">Вы не сможете устоять перед Черной Пятницей в ТРЦ Июнь, когда увидите скидки до 70% в более чем 350 магазинах!</div>
                                    <a href="" class="central__btn">
                                        <span>Узнать<br> подробнее</span>
                                    </a>
                                </div>
                                <div class="central__socials">
                                    <a href="">
                                        <img src="./img/new/insta.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/new/fc.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/new/youtube.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide central__swiper-slide">
                        <div class="central__content">
                            <div class="central__bg">
                                <img src="./img/food/foodbg.png" alt="">
                            </div>
                            <div class="central__inner">
                                <div class="central__title">
                                    <strong>Черная Пятница
                                        в ТРЦ Июнь!</strong>

                                    <div class="central__arrows">
                                        <div class="central__prev"></div>
                                        <div class="central__next"></div>
                                    </div> 
                                </div>
                                <div class="central__inner-block">
                                    <div class="central__text">Вы не сможете устоять перед Черной Пятницей в ТРЦ Июнь, когда увидите скидки до 70% в более чем 350 магазинах!</div>
                                    <a href="" class="central__btn">
                                        <span>Узнать<br> подробнее</span>
                                    </a>
                                </div>
                                <div class="central__socials">
                                    <a href="">
                                        <img src="./img/new/insta.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/new/fc.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/new/youtube.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

            <article class="central__article central__article--food">
                <div class="central__article-title">
                    <strong>79</strong>
                    <span>Ресторанов</span>
                </div>
                <!-- title -->
                <div class="central__article-time">
                    <strong>Время работы:</strong>
                    <span>10:00 - 22:00</span>
                
                </div>
                <a href="" class="central__article-link">
                    <span>Связаться</span>
                </a>
            </article>
        </div>
    </div>
</section>