<section class="collection">
    <div class="container">
        <div class="collection__wrapper">
            <div class="collection__left">
                <div class="collection__left-title">Новая весенняя коллекция в Conso Wear!</div>
                <div class="collection__left-text">Conso wear – это воплощение женственности, красоты, сдержанной сексуальности и безупречного итальянского стиля, который сочетается с исключительным качеством и непревзойденным комфортом.</div>
                <a href="" class="collection__left-link"><span>Подробнее</span></a>
            </div>
            <div class="collection__right">
                <div class="collection__right-inner">
                    <strong>100</strong>
                    <span>Новинок</span>
                </div>
                <div class="collection__right-inner">
                    <strong>10%</strong>
                    <span>Скидки</span>
                </div>
                <div class="collection__right-inner">
                    <strong>10+</strong>
                    <span>Магазинов</span>
                </div>
            </div>
        </div>
        <div class="collection__image">
            <img src="./img/card/card1.png" alt="">
        </div>
    </div>
</section>
<!-- /.collection -->