<section class="contacts">
    <div class="container">
        <div class="category">
            <a href="">Красноярск</a>
            <a href="">Главная</a>

            <a href="">Контакты</a>

        </div>
        <div class="contacts__block">
            <div class="contacts__block-text">Уважаемые Дамы и Господа!<br>
                Благодарим вас за проявленный интерес к проектам УК «САМПА» (ТРЦ «ИЮНЬ»)</div>
            <div class="contacts__block-inner">
                <div class="contacts__block-inner-text">— Присоединяйтесь!</div>
                <div class="contacts__block-inner-socials">
                    <a href=""><img src="./img/new/vk.svg" alt=""></a>
                    <a href=""><img src="./img/new/youtube2.svg" alt=""></a>
                </div>
            </div>
        </div>

        <div class="contacts__map " >
            <div id="map"></div>
        </div>

        <div class="contacts__wrapper">
            <div class="contacts__image">
                <img src="./img/krasnoyars.png" alt="">
            </div>
            <div class="contacts__text">
                <div class="contacts__text-title">Схема проезда</div>
                <div class="contacts__text-inner">
                    <p>Мы всегда рады своим гостям и стараемся создать теплую и комфортную обстановку для совершения
                        покупок, занятий спортом и развлечений.</p>
                    <p> В нашем торгово-развлекательном центре представлен широкий выбор одежды и аксессуаров, бытовой
                        техники, электроники, средств связи и многое другое.</p>
                    <p>Уютные кафе, ресторанный дворик, игровая зона, мультиплекс и фитнес-центр помогут разнообразить
                        Ваш досуг и сделать его ярким и запоминающимся!</p>
                </div>
            </div>
        </div>
    </div>
</section>