<section class="detail-h">
    <div class="container">
        <div class="category">
            <a href="">Главная</a>
            <a href="">Красноярск</a>
            <a href="">Новости</a>
            <a href="">1811 Eighteen One One</a>
        </div>
        <!-- category -->
        <div class="detail-h__global">
            <div class="detail-h__block-date">
                <div class="detail-h__date">22 марта 2022</div>
                <a href="" class="detail-h__link"><span>Назад</span></a>
            </div>
            <div class="title">
                <div class="title__text">1811 Eighteen One One</div>
            </div>
            <div class="detail-h__block-top">
                <div class="detail-h__block-top-socials">
                    <div class="detail-h__block-top-socials-text">Поделиться:</div>
                    <div class="detail-h__block-top-socials-links">
                        <a href=""><img src="./img/socialsmini/telegram.svg" alt=""></a>
                        <a href=""><img src="./img/socialsmini/twitter.svg" alt=""></a>
                        <a href=""><img src="./img/socialsmini/vk.svg" alt=""></a>
                    </div>
                </div>
                <!-- social -->
                <div class="detail-h__block-top-inner">
                    <div class="detail-h__block-top-date"><span>Опубликовано:</span> <strong>22 марта 2022.</strong></div>
                    <div class="detail-h__block-top-text">Весенняя коллекция 1811eighteenoneone — про яркость и нежность, смелость и красоту.<br>
                        Необычные цвета, принты и фактуры станут вдохновением на новые, смелые образы!<br>
                        Слушайте себя и не бойтесь быть разной.</div>
                </div>
            </div>
            <div class="detail-h__big-image">
                <img src="./img/alexandra.png" alt="">
            </div>
            <div class="detail-h__text">
                <strong>1811 Eighteen One One – c нами вы всегда в центре внимания, вдохновляете и достигаете вершин!</strong>
                <p>1811 eighteen one one — российский бренд для женщин, которые уделяют внимание себе, своему развитию и стилю. Наша одежда создана для того, чтобы вы всегда были в центре внимания, могли вдохновлять и достигать вершин..</p>
                <p>&nbsp;&nbsp;&nbsp;Девушка 1811 eighteen one one — успешная и уверенная в себе. Она, как и мы, свободно мыслит, стремится к саморазвитию, ценит качество, а не количество. Она любит путешествовать в модные столицы мира: Париж, Нью-Йорк, Москва. А отдыхает на берегах Амальфитанского побережья или с бокалом шампанского в барах Миконоса.</p>
                <p>Мы уверены, что стиль должен раскрывать внутренний мир человека, быть продолжением его индивидуальности, дарить уверенность в себе. Все это мы и воплотили в своих изделиях: они универсальны, с лёгкостью сочетаются между собой и отличаются качеством тканей и пошива, поэтому прослужат не один сезон. Это брючные костюмы оверсайз-посадки, шерстяные пальто, юбки-плиссе и модели из эко-кожи, джинсы из качественного денима, тренчи, поддерживающие топы, платья и жакеты — то есть все то, из чего можно составить стильный и яркий гардероб, который выделит вас в толпе.</p>
            </div>
            <div class="detail-h__inner">
                <div class="detail-h__inner-white">
                    <div class="detail-h__inner-white-image">
                        <img src="./img/smallimage.svg" alt="">
                    </div>
                    <div class="detail-h__inner-white-text">
                        <span>Источник</span>
                        <strong>1811eighteenoneone</strong>
                    </div>
                </div>
                <!-- white -->
                <div class="detail-h__inner-stars">
                    <div class="detail-h__inner-stars-text">Оценить:</div>
                    <div class="detail-h__inner-stars-block">
                        <button class="detail-h__inner-stars-star"></button>
                        <button class="detail-h__inner-stars-star"></button>
                        <button class="detail-h__inner-stars-star"></button>
                        <button class="detail-h__inner-stars-star"></button>
                        <button class="detail-h__inner-stars-star"></button>
                    </div>
                </div>
                
            </div>
            <div class="title">
                <div class="title__text">Другие новости</div>
            </div>
            <div class="detail-h__wrapper">
                <div class="swiper detail-h__swiper">
                    <div class="swiper-wrapper detail-h__swiper-wrapper">
                        <div class="swiper-slide detail-h__swiper-slide">
                            <a href="" class="news-table">
                                <div class="news-table__image">
                                    <img src="./img/news/news1.png" alt="news">
                                </div>
                                <div class="news-table__title">
                                    1811 Eighteen One One
                                </div>
                                <div class="news-table__text">
                                    Новинки весенней коллекции 1811 eighteen one one
                                </div>
                                <div class="news-table__link">
                                    <span>Подробнее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide detail-h__swiper-slide">
                            <a href="" class="news-table">
                                <div class="news-table__image">
                                    <img src="./img/news/news2.png" alt="news">
                                </div>
                                <div class="news-table__title">
                                    L'Occitane
                                </div>
                                <div class="news-table__text">
                                    Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                                </div>
                                <div class="news-table__link">
                                    <span>Подробнее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide detail-h__swiper-slide">
                            <a href="" class="news-table">
                                <div class="news-table__image">
                                    <img src="./img/news/news1.png" alt="news">
                                </div>
                                <div class="news-table__title">
                                    1811 Eighteen One One
                                </div>
                                <div class="news-table__text">
                                    Новинки весенней коллекции 1811 eighteen one one
                                </div>
                                <div class="news-table__link">
                                    <span>Подробнее</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>