<section class="developments">
    <div class="container">
        <div class="title">
            <div class="developments__bullets"></div>
            <span class="title__text">
                Новости и события 
            </span>
            <a href="" class="all-btn">
                <span>Все новости</span>
            </a>
        </div>
        <div class="developments__wrapper">

            <div class="swiper developments__swiper">
                <div class="swiper-wrapper developments__swiper-wrapper">
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news1.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                1811 Eighteen One One
                            </div>
                            <div class="news-table__text">
                                Новинки весенней коллекции 1811 eighteen one one
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news2.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                L'Occitane
                            </div>
                            <div class="news-table__text">
                                Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news1.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                1811 Eighteen One One
                            </div>
                            <div class="news-table__text">
                                Новинки весенней коллекции 1811 eighteen one one
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news2.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                L'Occitane
                            </div>
                            <div class="news-table__text">
                                Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news2.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                L'Occitane
                            </div>
                            <div class="news-table__text">
                                Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news2.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                L'Occitane
                            </div>
                            <div class="news-table__text">
                                Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>

                    <!-- 3 -->
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news2.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                L'Occitane
                            </div>
                            <div class="news-table__text">
                                Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news1.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                1811 Eighteen One One
                            </div>
                            <div class="news-table__text">
                                Новинки весенней коллекции 1811 eighteen one one
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news2.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                L'Occitane
                            </div>
                            <div class="news-table__text">
                                Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news2.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                L'Occitane
                            </div>
                            <div class="news-table__text">
                                Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide developments__swiper-slide">
                        <a href="" class="news-table">
                            <div class="news-table__image">
                                <img src="./img/news/news2.png" alt="news">
                            </div>
                            <div class="news-table__title">
                                L'Occitane
                            </div>
                            <div class="news-table__text">
                                Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                            </div>
                            <div class="news-table__link">
                                <span>Подробнее</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- swiper -->
        </div>
        <div class="developments__bottom">
            <div class="developments__bottom-one">
                <div class="developments__bottom-one-numbers">
                    <div  class="swiper-fraction developments__fraction"><div id="developments__service"></div><div id="developments__all-service"></div></div>
                </div>
            </div>
            <div class="developments__bottom-two">
                <div class="developments__bottom-two-arrows">
                    <div class="developments__bottom-two-prev"></div>
                    <div class="developments__bottom-two-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.developments -->