<section class="events-section">
    <div class="container">
        <div class="events-section__wrapper">
            <a href="" class="events-table">
                <div class="events-table__image">
                    <img src="./img/eve/events2.png" alt="">
                </div>
                <div class="events-table__inner">
                    <div class="events-table__title">Черная пятница в ТРЦ ИЮНЬ!</div>
                    <div class="events-table__text desk">Умопомрачительные скидки в ТРЦ "Июнь"! С 26 по 28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__text mob">С 26-28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__link">
                        <span>Подробнее</span>
                    </div>
                </div>
            </a>
            <a href="" class="events-table">
                <div class="events-table__image">
                    <img src="./img/eve/events2.png" alt="">
                </div>
                <div class="events-table__inner">
                    <div class="events-table__title">Черная пятница в ТРЦ ИЮНЬ!</div>
                    <div class="events-table__text desk">Умопомрачительные скидки в ТРЦ "Июнь"! С 26 по 28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__text mob">С 26-28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__link">
                        <span>Подробнее</span>
                    </div>
                </div>
            </a>
            <a href="" class="events-table">
                <div class="events-table__image">
                    <img src="./img/top.png" alt="">
                </div>
                <div class="events-table__inner">
                    <div class="events-table__title">Приложение ТРЦ "ИЮНЬ"</div>
                    <div class="events-table__text desk">Официальное приложение ТРЦ «Июнь» для iPhone и Android.
                        Действует с 22.06.2015</div>
                        <div class="events-table__text mob">С 26-28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__link">
                        <span>Подробнее</span>
                    </div>
                </div>
            </a>
            <a href="" class="events-table">
                <div class="events-table__image">
                    <img src="./img/top.png" alt="">
                </div>
                <div class="events-table__inner">
                    <div class="events-table__title">Приложение ТРЦ "ИЮНЬ"</div>
                    <div class="events-table__text desk">Официальное приложение ТРЦ «Июнь» для iPhone и Android.
                        Действует с 22.06.2015</div>
                        <div class="events-table__text mob">С 26-28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__link">
                        <span>Подробнее</span>
                    </div>
                </div>
            </a>
            <a href="" class="events-table">
                <div class="events-table__image">
                    <img src="./img/eve/events3.png" alt="">
                </div>
                <div class="events-table__inner">
                    <div class="events-table__title">Время работы в праздники</div>
                    <div class="events-table__text desk">Время работы в праздничные дни
                        Действует с 20.12.2021 до 09.01.2022</div>
                        <div class="events-table__text mob">С 26-28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__link">
                        <span>Подробнее</span>
                    </div>
                </div>
            </a>
            <a href="" class="events-table">
                <div class="events-table__image">
                    <img src="./img/eve/events3.png" alt="">
                </div>
                <div class="events-table__inner">
                    <div class="events-table__title">Время работы в праздники</div>
                    <div class="events-table__text desk">Время работы в праздничные дни
                        Действует с 20.12.2021 до 09.01.2022</div>
                        <div class="events-table__text mob">С 26-28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__link">
                        <span>Подробнее</span>
                    </div>
                </div>
            </a>
            <a href="" class="events-table">
                <div class="events-table__image">
                    <img src="./img/top.png" alt="">
                </div>
                <div class="events-table__inner">
                    <div class="events-table__title">Приложение ТРЦ "ИЮНЬ"</div>
                    <div class="events-table__text desk">Официальное приложение ТРЦ «Июнь» для iPhone и Android.
                        Действует с 22.06.2015</div>
                        <div class="events-table__text mob">С 26-28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__link">
                        <span>Подробнее</span>
                    </div>
                </div>
            </a>
            <a href="" class="events-table">
                <div class="events-table__image">
                    <img src="./img/top.png" alt="">
                </div>
                <div class="events-table__inner">
                    <div class="events-table__title">Приложение ТРЦ "ИЮНЬ"</div>
                    <div class="events-table__text desk">Официальное приложение ТРЦ «Июнь» для iPhone и Android.
                        Действует с 22.06.2015</div>
                        <div class="events-table__text mob">С 26-28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                    <div class="events-table__link">
                        <span>Подробнее</span>
                    </div>
                </div>
            </a>
         
        </div>
        <div class="events-section__pagination-block">
            <div class="events-section__pagination">
                <span>01</span>
                <span>02</span>
            </div>
            <div class="events-section__bottom-two">
                <div class="events-section__bottom-two-arrows">
                   
                    <div class="events-section__bottom-two-prev"></div>
                    <div class="events-section__bottom-two-next"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /.events-section -->