<section class="events">
    <div class="container">
        <div class="title">
            <div class="events__bullets">
               
            
            </div>
            <span class="title__text">
                События ТРЦ Июнь
            </span>
            <a href="" class="all-btn">
                <span>Все события</span>
            </a>
        </div>
        <div class="events__wrapper">

            <div class="swiper events__swiper">
                <div class="swiper-wrapper events__swiper-wrapper">
                    <div class="swiper-slide events__swiper-slide">
                        <article class="events-table-big">
                            <div class="events-table-big__image">
                                <img src="./img/eve/events1.png" alt="">
                            </div>
                            <div class="events-table-big__title">
                                Мобильное приложение ТРЦ "ИЮНЬ"
                            </div>
                            <div class="events-table-big__text desk">
                                Официальное приложение ТРЦ «Июнь» для iPhone и Android.<br>
                                Действует с 22.06.2015
                            </div>
                            <div class="events-table-big__text mob">
                                Официальное приложение ТРЦ «Июнь» для iPhone и Android.
                                
                            </div>
                            <a href="" class="events-table-big__link">
                                <span>Подробнее</span>
                            </a>
                        </article>
                        <!-- big -->
                        <div class="events__swiper-slide-inner">
                            <a href="" class="events-table">
                                <div class="events-table__image">
                                    <img src="./img/eve/events2.png" alt="">
                                </div>
                                <div class="events-table__inner">
                                    <div class="events-table__title">Черная пятница в ТРЦ ИЮНЬ!</div>
                                    <div class="events-table__text">Умопомрачительные скидки в ТРЦ "Июнь"!
                                       С 26 по 28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                                    <div class="events-table__link">
                                        <span>Подробнее</span>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="events-table">
                                <div class="events-table__image">
                                    <img src="./img/eve/events3.png" alt="">
                                </div>
                                <div class="events-table__inner">
                                    <div class="events-table__title">Время работы в праздничные дни</div>
                                    <div class="events-table__text">Умопомрачительные скидки в ТРЦ "Июнь"!
                                        С 26 по 28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                                    <div class="events-table__link">
                                        <span>Подробнее</span>
                                    </div>
                                </div>
                            </a>
                       </div>
                    </div>
                    <div class="swiper-slide events__swiper-slide">
                        <article class="events-table-big">
                            <div class="events-table-big__image">
                                <img src="./img/eve/events1.png" alt="">
                            </div>
                            <div class="events-table-big__title">
                                Мобильное приложение ТРЦ "ИЮНЬ"
                            </div>
                            <div class="events-table-big__text desk">
                                Официальное приложение ТРЦ «Июнь» для iPhone и Android.<br>
                                Действует с 22.06.2015
                            </div>
                            <div class="events-table-big__text mob">
                                Официальное приложение ТРЦ «Июнь» для iPhone и Android.
                                
                            </div>
                            <a href="" class="events-table-big__link">
                                <span>Подробнее</span>
                            </a>
                        </article>
                        <!-- big -->
                        <div class="events__swiper-slide-inner">
                            <a href="" class="events-table">
                                <div class="events-table__image">
                                    <img src="./img/eve/events2.png" alt="">
                                </div>
                                <div class="events-table__inner">
                                    <div class="events-table__title">Черная пятница в ТРЦ ИЮНЬ!</div>
                                    <div class="events-table__text">Умопомрачительные скидки в ТРЦ "Июнь"!
                                       С 26 по 28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                                    <div class="events-table__link">
                                        <span>Подробнее</span>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="events-table">
                                <div class="events-table__image">
                                    <img src="./img/eve/events3.png" alt="">
                                </div>
                                <div class="events-table__inner">
                                    <div class="events-table__title">Время работы в праздничные дни</div>
                                    <div class="events-table__text">Умопомрачительные скидки в ТРЦ "Июнь"!
                                        С 26 по 28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                                    <div class="events-table__link">
                                        <span>Подробнее</span>
                                    </div>
                                </div>
                            </a>
                       </div>
                    </div>
                    <div class="swiper-slide events__swiper-slide">
                        <article class="events-table-big">
                            <div class="events-table-big__image">
                                <img src="./img/eve/events1.png" alt="">
                            </div>
                            <div class="events-table-big__title">
                                Мобильное приложение ТРЦ "ИЮНЬ"
                            </div>
                            <div class="events-table-big__text desk">
                                Официальное приложение ТРЦ «Июнь» для iPhone и Android.<br>
                                Действует с 22.06.2015
                            </div>
                            <div class="events-table-big__text mob">
                                Официальное приложение ТРЦ «Июнь» для iPhone и Android.
                                
                            </div>
                            <a href="" class="events-table-big__link">
                                <span>Подробнее</span>
                            </a>
                        </article>
                        <!-- big -->
                        <div class="events__swiper-slide-inner">
                            <a href="" class="events-table">
                                <div class="events-table__image">
                                    <img src="./img/eve/events2.png" alt="">
                                </div>
                                <div class="events-table__inner">
                                    <div class="events-table__title">Черная пятница в ТРЦ ИЮНЬ!</div>
                                    <div class="events-table__text">Умопомрачительные скидки в ТРЦ "Июнь"!
                                       С 26 по 28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                                    <div class="events-table__link">
                                        <span>Подробнее</span>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="events-table">
                                <div class="events-table__image">
                                    <img src="./img/eve/events3.png" alt="">
                                </div>
                                <div class="events-table__inner">
                                    <div class="events-table__title">Время работы в праздничные дни</div>
                                    <div class="events-table__text">Умопомрачительные скидки в ТРЦ "Июнь"!
                                        С 26 по 28 ноября  пройдет ЧЕРНАЯ ПЯТНИЦА!</div>
                                    <div class="events-table__link">
                                        <span>Подробнее</span>
                                    </div>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- swiper -->
        </div>
        <div class="events__bottom">
            <div class="events__bottom-one">
                <div class="events__bottom-one-numbers">
                    <div  class="swiper-fraction events__fraction"><div id="events__service"></div><div id="events__all-service"></div></div>
                </div>
            </div>
            <div class="events__bottom-two">
                <div class="events__bottom-two-arrows">
                    <div class="events__bottom-two-prev"></div>
                    <div class="events__bottom-two-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>