<section class="events-detail">
    <div class="container">
        <div class="category">
            <a href="">Главная</a>
            <a href="">Красноярск</a>
            <a href="">События ТРЦ Июнь </a>
            <a href="">Время работы в праздничные дни</a>
        </div>
        <!-- category -->
        <div class="events-detail__block-date">
            <div class="events-detail__date">С 31.12.2021 по 01.01.2022</div>
            <a href="" class="events-detail__link"><span>Назад</span></a>
        </div>
        <div class="title">
            <div class="title__text">Время работы в праздничные дни</div>
        </div>
        <div class="events-detail__wrapper">
            <div class="events-detail__left">
                <div class="events-detail__left-mode">
                    <span>Друзья! В праздничные дни наш торговый комплекс меняет режим работы.</span>
                     <strong> 31 декабря с 10.00 до 20.00;<br> 1 января - выходной;<br> 2 - 9 января работаем в обычном режиме.</strong>
                </div>
                <div class="events-detail__left-inner">
                    <div class="events-detail__left-inner-name">Кинотеатр Mori Cinema: </div>
                    <div class="events-detail__left-inner-text">31 декабря - с 10.00 до 20.00;<br>
                        1 января - с 11.00 до 03.00;<br>
                        2 - 9 января - с 10.00 до 03.00.</div>
                </div>
                <div class="events-detail__left-inner">
                    <div class="events-detail__left-inner-name">Фитнес-клуб Well Fit:</div>
                    <div class="events-detail__left-inner-text">31 декабря - с 8.00 до 18.00;<br>
                        1 января - выходной;<br>
                        2-9 января - в обычном режиме.</div>
                </div>
                <div class="events-detail__left-inner">
                    <div class="events-detail__left-inner-name"> Детский клуб FANCY FOX:</div>
                    <div class="events-detail__left-inner-text">31 декабря - до 18.00;<br>
                        1 января - с 13.00 до 22.00;<br>
                        С 2 января - с 10.00 до 22.00</div>
                </div>
                <div class="events-detail__left-inner">
                    <div class="events-detail__left-inner-name"> Счастливых праздников!</div>
                    
                </div>
            </div>
            <div class="events-detail__right">
                <div class="events-detail__right-image">
                    <img src="./img/prazdnik/prazdnik1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


