

<footer class="footer">
   <div class="container">
     <div class="footer__wrapper-top">
        <div class="footer__one">
            <a href="" class="footer__one-logo">
              <img src="./img/header/logo.svg" alt="">
            </a>
            <div class="footer__one-inner">
              <label for="">Подписаться</label>
              <input type="text" placeholder=" Ваш e-mail ">
               <button></button>
            </div>
        </div>
        <div class="footer__two">
           <ul>
             <li><a href="">Главная</a></li>
             <li><a href="">О нас</a></li>
             <li><a href="">Контакты</a></li>
             <li><a href="">Новости</a></li>
             <li><a href="">События ТРЦ ИЮНЬ</a></li>
           </ul>
           <ul>
            <li><a href="">Магазины</a></li>
            <li><a href="">Еда</a></li>
            <li><a href="">Развлечения</a></li>
            <li><a href="">Акции</a></li>
           </ul>
        </div>
        <div class="footer__three">
            <div class="footer__three-inner">
                <div class="footer__three-black">Адрес в г. Красноярск</div>
                <div class="footer__three-grey"> ул. Партизана Железняка, д. 23</div>
            </div>
            <div class="footer__three-inner">
                <div class="footer__three-black">Время работы</div>
                <div class="footer__three-grey">10:00 - 22:00</div>
           </div>
           <div class="footer__three-inner">
              <div class="footer__three-black">Наша почта</div>
              <div class="footer__three-grey">oprohorova@june.ru</div>
          </div>
          <div class="footer__three-inner">
            <div class="footer__three-black">Телефоны по вопросам аренды помещений</div>
            <div class="footer__three-grey"> +7 495 543-4403, +7 495 232-0034</div>
          </div>
          <div class="footer__three-inner">
            <div class="footer__three-black">По вопросам размещения рекламы</div>
            <div class="footer__three-grey">+7 (495) 543-4403, +7 (391) 234-3464</div>
          </div>
        </div>
     </div>
     <div class="footer__wrapper-bottom">
        <div class="footer__four">
            <div class="footer__four-text">© 2022 Группа компаний “РЕГИОНЫ”</div>
            <div class="footer__four-social">
                 <a href="" class="fc">
                   <img src="./img/footer/fc.svg" alt="">
                 </a>
                 <a href="" class="you">
                  <img src="./img/footer/youtube.svg" alt="">
                </a>
                <a href="" class="insta">
                  <img src="./img/footer/insta.svg" alt="">
                </a>
                <a href="" class="pe">
                  <img src="./img/footer/pe.svg" alt="">
                </a>
                <a href="" class="vk">
                  <img src="./img/footer/vk.svg" alt="">
                </a>
                <a href="" class="what">
                  <img src="./img/footer/whatt.svg" alt="">
                </a>
            </div>
        </div>
        <div class="footer__five">
            <a href="" class="footer__five-logo">
              <img src="./img/footer/rec.svg" alt="">
            </a>
            <a href="" class="footer__five-text">Политика конфиденциальности</a>
        </div>
     </div>
   </div>
</footer>
<!-- /.footer -->
<div class="overlay js-modal-overlay "></div>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script src="./js/swiper-bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
</script>
<script src="./js/lk.js"></script>
<script src="./js/catalog.js"></script>
<script src="./js/main.js"></script>
<script src="./js/map.js"></script>
<script src="./js/jq-script.js"></script>

  </script>

</body>

</html>