<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=a37c7830-4b1f-4c14-94c1-679e662e1664
    &lang=ru_RU" type="text/javascript"></script>
	<link rel="stylesheet" href="./css/style.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>???</title>
</head>
<body>

<header class="header header--black">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__burger">
                <img src="./img/icon/burger.svg" alt="">
            </div>
            <nav class="header__nav">
                <div class="header__nav-close">
                    <img src="./img/icon/xxx.svg" alt="">
                </div>
                <ul class="header__menu">
                    <li><a href="">Магазины</a></li>
                    <li><a href="">Еда</a></li>
                    <li><a href="">Развелечения</a></li>
                    <li><a href="">Акции</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </nav>
            <a href="" class="header__logo">
                <img src="./img/header/logo.svg" alt="">
            </a>
            <div  class="header__geo">
                <div class="header__geo-span">Красногорск</div>
                <ul class="header__geo-block">
                    <li class="header__geo-item">Москва</li>
                    <li class="header__geo-item">Питер</li>      
                </ul>
            </div>
            <div class="header__time">
                10:00 - 22:00
            </div>
            <button class="header__user">

            </button>
            <button class="header__search">

            </button>
        </div>
        
    </div>
    <div class="header__search-block">
        <div class="header__nav-search">
            <label for=""></label>
            <input type="text" placeholder="Поиск на Июнь...">
            <button class="header__search-close"></button>
         </div>
         <div class="header__search-inner">
            <div class="header__search-inner-title">
                Быстрые ссылки
            </div>
            <ul class="header__search-inner-lists">
                <li class="header__search-inner-item"><a href="">Акции</a></li>
                <li class="header__search-inner-item"><a href="">События</a></li>
                
            </ul>
         </div>
    </div>
</header>