<section class="main">
    <div class="container">
        <div class="main__wrapper">
            <div class="main__title">
                Торгово-развлекательный центр Июнь
            </div>
            <div class="main__bullets">
                <div class="main__bullets-block"></div>
            </div>
            <div class="main__background">
                <div class="swiper main__background-swiper">
                    <div class="swiper-wrapper main__background-swiper-wrapper">
                        <div class="swiper-slide main__background-swiper-slide ">
                            <div class="main__background-swiper-slide-image">
                                <img class="desk" src="./img/juno.png" alt="">
                                <img class="mob" src="./img/junomob.png" alt="">
                            </div>
                        </div>
                        <!--  -->
                        <div class="swiper-slide main__background-swiper-slide">
                            <div class="main__background-swiper-slide-image">
                                <img class="desk" src="./img/nig.png" alt="">
                                <img class="mob" src="./img/nig.png" alt="">
                            </div>
                        </div>
                        <!--  -->
                        <div class="swiper-slide main__background-swiper-slide desk">
                            <div class="main__background-swiper-slide-image">
                                <img class="desk" src="./img/juno.png" alt="">
                                <img class="mob" src="./img/junomob.png" alt="">
                            </div>
                        </div>
                        <!--  -->
                       
                    </div>
                </div>
                <!-- swiper -->
            </div>
            <div class="main__text">
                <div class="main__text-geo">
                    улица Знаменская, 5
                </div>
                <!-- geo -->
                <div class="main__text-title">
                    Красногорск
                </div>
                <div class="main__text-span">
                    Уголок уюта, комфорта и прекрасного летнего настроения
                </div>
            </div>
            <a href="" class="main__btn">
                <span>Узнать<br> подробнее</span>
            </a>
        </div>
        <div class="main__boxs">
            <div class="swiper main__boxs-swiper">
                <div class="swiper-wrapper main__boxs-swiper-wrapper">
                    <div class="swiper-slide main__boxs-swiper-slider">
                        <div class="main__boxs-swiper-box">
                             <strong>472</strong>
                             <span>Магазинов</span>
                        </div>
                    </div>
                    <!-- slider -->
                    <div class="swiper-slide main__boxs-swiper-slider">
                        <div class="main__boxs-swiper-box">
                             <strong>79</strong>
                             <span>Ресторанов</span>
                        </div>
                    </div>
                    <!-- slider -->
                    <div class="swiper-slide main__boxs-swiper-slider">
                        <div class="main__boxs-swiper-box">
                             <strong>29</strong>
                             <span>Развлечений</span>
                        </div>
                    </div>
                    <!-- slider -->
                    <div class="swiper-slide main__boxs-swiper-slider">
                        <div class="main__boxs-swiper-box">
                             <strong>80</strong>
                             <span>Услуг и сервисов</span>
                        </div>
                    </div>
                    <!-- slider -->
                    <div class="swiper-slide main__boxs-swiper-slider">
                        <div class="main__boxs-swiper-box">
                             <strong>100</strong>
                             <span>Выгодных акций</span>
                        </div>
                    </div>
                    <!-- slider -->
                </div>
            </div>
        </div>
    </div>
</section>