<section class="map">
    <div class="container">
        <div class="map__title">
            <strong>Расположение</strong>
            <span>Смотрите расположение магазинов на карте заранее для более легкого ориентирования!</span>
        </div>
        <div class="map__image">
            <img src="./img/map5.svg" alt="">
            <svg viewBox="0 0 1191 842">
               
                <path class="part" data-id="1"  d="m 264.93503,195.21529 159.81911,91.70828 5.36306,10.72611 32.71465,18.7707 56.3121,-32.71465 -10.18981,-15.55286 -5.89936,-3.75414 -7.50828,-6.43567 -2.68153,-10.18981 c 0,0 9.11719,-9.6535 8.58089,-12.33503 -0.53631,-2.68153 28.96051,-8.04459 28.96051,-8.04459 l 35.93248,10.18981 23.59746,4.82675 70.79235,-41.83185 10.72612,-6.43566 -145.33886,-83.6637 -22.52484,13.94395 -57.92102,-33.787261 z"></path>
                <path class="part"   d="m 503.32293,294.7 -37.80955,21.72038 17.96624,3.21784 121.47325,70.5242 41.29553,-23.59745 -29.4968,-16.89363 16.89362,-9.38535 -19.03885,-11.26242 -34.59172,-2.68153 -7.24013,-1.07261 -23.06114,-6.16752 -15.01656,-5.89936 -24.13376,-12.87134 z"></path>
                <path class="part" data-id="3"  d="m 629.35478,327.1465 14.7484,-4.29045 10.99427,-4.82675 9.92166,-9.11719 39.95478,23.32929 -34.05542,19.84331 z"></path>
                <path class="part" data-id="4"  d="m 663.9465,278.34268 3.21783,9.38535 c 0.91335,4.20106 0.71508,8.40212 0.80446,12.60318 l -2.14522,7.24013 40.75923,23.59745 99.48472,-58.72548 -34.59172,-20.64777 -18.7707,10.72612 -25.47453,-15.28472 -9.38534,5.63121 -5.36306,-2.94968 z"></path>
                <path class="part" data-id="5"  d="m 647.58917,258.49936 16.35733,-9.11719 22.793,13.40764 -23.32931,13.94395 z"></path>
                <path class="part" data-id="6"  d="m 608.70701,233.29299 20.91592,-11.79872 31.64204,19.57516 -19.30701,11.79872 -12.87134,-8.84904 z"></path>
                <path class="part" data-id="7"  d="m 435.2121,526.11592 67.03822,38.88217 32.9828,-20.37961 37.0051,20.91592 31.64204,-20.64778 -29.49682,-18.50254 29.76497,-17.16179 21.45223,11.79873 45.04968,-26.54713 -23.06115,-13.40764 12.33504,-6.43568 -10.45797,-6.70381 9.92165,-5.89937 -58.99362,-34.05542 -32.9828,20.11147 -9.38535,-5.63121 -8.31274,5.89936 -31.37389,9.1172 -34.05541,20.37962 -15.01656,16.62548 -11.26242,6.70382 10.18981,6.16751 z"></path>
                <path class="part" data-id="8"  d="m 573.04268,574.11529 23.06114,13.40764 27.35159,-15.55287 -23.8656,-14.2121 z"></path>
                <path class="part" data-id="9"  d="m 625.06433,573.04268 32.9828,18.50254 -26.81529,15.82102 -32.44649,-18.7707 z"></path>
                <path class="part" data-id="10"  d="M 604.48532,624.58427 770.96528,721.28675 938.20369,622.68814 770.96528,526.74411 Z"></path>
                <path class="part" data-id="11"  d="m 682.60576,538.87932 26.16655,15.16902 25.78733,-15.16902 -28.44191,-15.92747 z"></path>
                <path class="part" data-id="12"  d="m 647.33779,518.78038 17.06514,-9.48064 9.10142,6.0676 10.99753,-6.0676 21.23663,13.27289 -24.64965,15.54824 z"></path>


            </svg>




            
            <div class="map__image-scheme-item"  data-id="1">
                
                <div class="map__image-scheme-popup">
                    <strong>Весёлые джунгли</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"   data-id="2" >
                <div class="map__image-scheme-popup">
                    <strong>international gym</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="3" >
                
                <div class="map__image-scheme-popup">
                    <strong>Роботы</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="4" >
                
                <div class="map__image-scheme-popup">
                    <strong>Лабиринты</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="5" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="6" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="7" >
                
                <div class="map__image-scheme-popup">
                    <strong>Come on GYM</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="8" >
                
                <div class="map__image-scheme-popup">
                    <strong>Точка красоты №1</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" data-id="9" >
                
                <div class="map__image-scheme-popup">
                    <strong>TOP GUN</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item" data-id="10">
                
                <div class="map__image-scheme-popup">
                    <strong>Мори синема кинотеатр</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="11">
                
                <div class="map__image-scheme-popup">
                    <strong>FunckyLime</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="12">
                
                <div class="map__image-scheme-popup">
                    <strong>5D кинотеатр</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
          


        </div>
    </div>
</section>