<section class="map">
    <div class="container">
        <div class="map__title">
            <strong>Расположение</strong>
            <span>Смотрите расположение магазинов на карте заранее для более легкого ориентирования!</span>
        </div>
        <div class="map__image">
            <img src="./img/map4.svg" alt="">
            <svg viewBox="0 0 1191 842">
               
                <path class="part" data-id="1"  d="m 351.28026,146.41147 -83.6637,48.53566 102.4344,59.26179 47.7312,-29.76497 -8.31274,-16.35733 0.26816,-8.84904 2.14522,-5.89937 4.82675,-5.36305 2.14523,-1.87707 z"></path>
                <path class="part" data-id="2"  d="m 418.85478,225.51656 9.6535,12.60319 7.50828,6.70382 24.13376,19.84331 -1.60892,16.89363 -21.45223,11.26242 -66.77006,-38.34586 z"></path>
                <path class="part" data-id="3"  d="m 491.66576,298.82963 17.06514,-0.56884 24.46004,14.41057 -31.2861,17.63398 -31.85493,-18.58204 z"></path>
                <path class="part" data-id="4"  d="m 535.08707,313.05058 11.18715,4.74032 18.77166,5.878 26.35616,4.92993 12.70406,1.13767 0.18961,19.90934 35.45757,20.28856 -35.07835,19.53011 -100.49473,-58.02149 z"></path>
                <path class="part" data-id="5"  d="m 457.15624,500.57756 12.89367,7.77412 33.94067,-20.66779 -18.39243,-11.18715 -1.70651,0.75845 -14.78979,17.06515 z"></path>
                <path class="part" data-id="6"  d="m 471.18758,508.54129 35.64719,-20.09895 9.67025,6.25722 -35.07835,19.71972 z"></path>
                <path class="part" data-id="7"  d="m 466.44727,507.97245 -37.73293,22.56391 32.42377,18.58205 73.75935,-43.2317 0.37922,-0.37922 -17.06514,-9.85987 -36.78487,21.23663 z"></path>
                <path class="part" data-id="8"  d="m 537.36242,506.45555 -32.99261,18.96127 v 0.56884 l 14.03134,8.15335 22.18469,-13.46251 -2.27536,-4.5507 z"></path>
                <path class="part" data-id="9"  d="m 462.08617,550.06648 c 0.75845,0.18961 35.07836,19.90933 35.07836,19.90933 l 55.93575,-34.50952 -7.96373,-6.82606 -3.98187,-5.87799 -23.51198,13.08327 -15.92747,-8.91179 z"></path>
                <path class="part" data-id="10"  d="m 553.66911,536.41436 14.41057,9.10141 -18.39243,11.94559 -13.84173,-8.34295 -0.37923,-1.70652 z"></path>
                <path class="part" data-id="11"  d="m 551.01453,557.8406 19.15089,-10.99754 16.30669,9.48063 -19.15088,10.99754 z"></path>
                <path class="part" data-id="12"  d="m 595.76314,561.25362 11.18715,4.92993 0.94806,-0.18961 -23.70159,14.22095 -10.23909,-5.87799 z"></path>
                <path class="part" data-id="13"  d="m 586.47211,581.54218 10.4287,6.25722 24.83927,-14.9794 -0.37923,-0.37923 -10.42869,-5.11954 0.1896,0.18961 z"></path>
                <path class="part" data-id="14"  d="m 596.7112,589.88514 -2.46497,-1.32729 -40.3875,23.32237 v 0.56883 l 34.3199,19.71973 45.88627,-27.11462 -13.84172,-8.34296 25.4081,-14.78979 -22.18469,-8.53257 z"></path>
                <path class="part" data-id="15"  d="m 623.4466,596.52159 13.08327,7.39489 26.73539,-15.92747 -15.54824,-5.49876 z"></path>
                <path class="part" data-id="16"  d="m 589.88514,633.30645 14.78979,8.72219 19.15089,7.39489 22.94314,7.58451 22.37429,4.92993 101.4428,58.59033 167.99687,-97.84016 -166.85919,-95.94403 z"></path>
                <path class="part" data-id="17"  d="m 714.65031,519.34921 22.3743,-12.89366 33.18222,19.3405 -54.98769,32.04454 -18.77165,-10.80792 32.80299,-19.15088 z"></path>
                <path class="part" data-id="18"  d="m 712.75418,520.6765 13.08328,7.20529 -31.2861,18.39243 -13.27289,-7.77412 z"></path>
                <path class="part" data-id="19"  d="m 661.36913,527.31295 18.96127,10.61831 28.44191,-17.25476 -18.39243,-10.99753 z"></path>
                <path class="part" data-id="20"  d="m 664.02371,508.35168 -16.68592,10.23908 12.13522,7.20529 0.94806,0.37922 16.30669,-10.23909 z"></path>
                <path class="part" data-id="21"  d="m 628.18691,507.97245 22.56391,-12.89366 9.67025,6.0676 -21.99507,12.89367 z"></path>
                <path class="part" data-id="22"  d="m 647.52741,481.42667 12.13521,6.82606 -32.61339,18.58204 -12.32482,-6.63644 z"></path>
                <path class="part" data-id="23"  d="m 569.97581,447.29638 32.42377,-18.77165 55.1773,32.61338 -10.80792,5.878 11.37676,6.44683 -47.59279,27.11461 -15.73786,-12.32482 -23.8912,0 35.07835,-20.66779 z"></path>
                <path class="part" data-id="24"  d="m 582.49025,456.77702 18.39243,10.61831 0.56884,0.37923 -34.13029,19.71972 -19.15088,-11.18715 z"></path>
                <path class="part" data-id="25"  d="m 569.21736,449.19251 11.75598,6.44683 -34.88873,20.09895 -10.4287,-6.82606 z"></path>
                <path class="part" data-id="26"  d="m 517.45309,458.29392 4.36109,-2.08574 26.35617,-7.77412 10.23908,-6.06761 9.67025,5.878 -34.50951,19.53011 z"></path>
                <path class="part" data-id="27"  d="m 617.75821,329.54689 v 9.29102 l 7.96373,-0.18961 15.35863,9.29102 13.27289,-7.5845 17.8236,9.85986 32.23416,-18.01321 -38.30177,-22.75353 -9.67025,10.80793 -13.27289,5.87799 -15.16901,3.22342 z"></path>
                <path class="part" data-id="28"  d="m 665.73023,277.59301 3.60264,7.77412 1.13767,7.58451 0.37923,5.11954 -0.75845,4.74032 -2.27535,4.74032 39.06021,22.94313 99.9259,-58.2111 -35.64719,-20.47817 -17.82359,11.18715 -37.73293,-22.18469 -9.29102,5.878 6.25722,3.60264 z"></path>
                <path class="part" data-id="29"  d="m 648.47547,258.82135 12.70405,12.70405 3.22342,4.74032 22.3743,-13.08328 -23.13275,-13.4625 z"></path>
                <path class="part" data-id="30"  d="m 627.80768,221.46765 32.99262,19.34049 -19.15089,11.75599 -14.41056,-9.67025 -9.67025,-5.68838 -9.48064,-4.92993 z"></path>
                <path class="part" data-id="31"  d="m 595.76313,200.79986 -23.8912,13.65212 v 0.18961 l 35.07836,17.25475 20.85739,-12.70405 z"></path>
                <path class="part" data-id="32"  d="m 533.38055,198.3349 36.97448,15.35862 30.90687,-18.77165 -31.09648,-18.39244 z"></path>
                <path class="part" data-id="33"  d="m 353.24848,145.43295 80.77501,-47.213566 36.59526,21.236626 18.0132,-10.99754 31.2861,19.3405 18.20282,-10.99754 65.98523,39.24983 -71.86322,41.7148 -16.87553,-6.06761 -23.70159,-6.82606 -20.28856,-3.79225 -19.71972,-1.5169 -15.54825,0.56883 -15.16901,4.55071 z"></path>


            </svg>




            
            <div class="map__image-scheme-item"  data-id="1">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"   data-id="2" >
                <div class="map__image-scheme-popup">
                    <strong>Sunlight</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="3" >
                
                <div class="map__image-scheme-popup">
                    <strong>SGW</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="4" >
                
                <div class="map__image-scheme-popup">
                    <strong>Элизе</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="5" >
                
                <div class="map__image-scheme-popup">
                    <strong>Мегафон</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="6" >
                
                <div class="map__image-scheme-popup">
                    <strong>Московский ювелирный завод</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="7" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="8" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" data-id="9" >
                
                <div class="map__image-scheme-popup">
                    <strong>Sokolov</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item" data-id="10">
                
                <div class="map__image-scheme-popup">
                    <strong>korea box</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="11">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="12">
                
                <div class="map__image-scheme-popup">
                    <strong>пивон</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="13">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="14">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="15">
                
                <div class="map__image-scheme-popup">
                    <strong>Табак</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>


            <div class="map__image-scheme-item"  data-id="16">
                
                <div class="map__image-scheme-popup">
                    <strong>Перекресток</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            
            <div class="map__image-scheme-item"  data-id="17">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="18">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="19">
                
                <div class="map__image-scheme-popup">
                    <strong>Оптимист оптика</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="20">
                
                <div class="map__image-scheme-popup">
                    <strong>Rokka</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="21">
                
                <div class="map__image-scheme-popup">
                    <strong>Республика игр</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="22">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="23">
                
                <div class="map__image-scheme-popup">
                    <strong>л'этуаль</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="24">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="25">
                
                <div class="map__image-scheme-popup">
                    <strong>Tele2</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="26">
                
                <div class="map__image-scheme-popup">
                    <strong>Мегафон</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="27">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="28">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="29">
                
                <div class="map__image-scheme-popup">
                    <strong>Эстетика</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="30">
                
                <div class="map__image-scheme-popup">
                    <strong>CHOUPette</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="31">
                
                <div class="map__image-scheme-popup">
                    <strong>Линзамастер</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item"  data-id="32">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="33">
                
                <div class="map__image-scheme-popup">
                    <strong>Funday</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
        </div>
    </div>
</section>