<section class="map">
    <div class="container">
        <div class="map__title">
            <strong>Расположение</strong>
            <span>Смотрите расположение магазинов на карте заранее для более легкого ориентирования!</span>
        </div>
        <div class="map__image">
            <img src="./img/map3.svg" alt="">
            <svg viewBox="0 0 1191 842">
               
                <path class="part" data-id="1"  d="M 265.84029,202.74201 471.6855,84.820639 l 167.57249,99.302211 -17.58477,9.30958 29.99754,18.61917 16.55037,-12.41278 139.64373,81.71745 -203.77641,117.92137 -132.40295,-78.61425 -7.24078,6.20639 -39.30713,-21.72236 9.30958,-5.17199 z"></path>
                <path class="part" data-id="2"  d="m 602.01953,427.20703 -32.06641,19.65235 -12.4121,-6.20508 -11.76605,8.40349 -28.83511,8.92189 73.70076,45.77227 56.6528,-34.29014 -23.64772,-13.56618 12.74839,-7.45758 z"></path>
                <path class="part" data-id="3"  d="m 515.4752,459.52081 -24.32005,14.08003 -7.13144,3.84 -15.36002,17.37146 -10.78859,6.0343 30.53719,17.73717 63.81726,-37.66863 z"></path>
                <path class="part" data-id="4"  d="m 466.4694,508.1609 -46.81151,27.42862 66.92583,38.03435 63.26868,-37.12006 -45.53151,-26.14862 -16.45717,10.05716 z"></path>
                <path class="part" data-id="5"  d="m 537.78381,545.82953 7.68001,4.57144 -3.10858,1.82858 10.97145,5.48572 16.64004,-9.69144 -18.28575,-10.60574 z"></path>
                <path class="part" data-id="6"  d="m 571.42958,548.5724 14.26288,8.5943 -18.10288,10.42288 -14.6286,-8.22859 z"></path>
                <path class="part" data-id="7"  d="m 597.5782,563.74957 10.60573,6.58287 -21.39432,12.25145 -10.42287,-6.0343 z"></path>
                <path class="part" data-id="8"  d="m 578.01245,589.53247 8.04573,4.02287 -18.10289,10.24001 12.61717,6.94859 48.27437,-28.70862 -19.20004,-10.97145 z"></path>
                <path class="part" data-id="9"  d="m 706.49386,538.40418 123.61056,70.33906 -25.85995,13.96438 65.68428,39.82432 -60.51228,40.34153 -72.40787,-41.89313 -35.16954,20.68797 -122.05896,-69.82187 z"></path>
                <path class="part" data-id="10"  d="m 662.01474,512.54423 43.96192,24.30835 -26.37715,16.03317 L 635.1204,527.543 Z"></path>
                <path class="part" data-id="11"  d="m 619.20733,517.59611 15.57872,9.82678 26.4399,-15.94443 -16.2474,-10.04102 z"></path>
                <path class="part" data-id="12"  d="m 601.23535,507.06376 17.37146,10.05715 25.23433,-15.17716 -16.64003,-9.69145 z"></path>
            </svg>




            
            <div class="map__image-scheme-item"  data-id="1">
                
                <div class="map__image-scheme-popup">
                    <strong>Паркинг</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"   data-id="2" >
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="3" >
                
                <div class="map__image-scheme-popup">
                    <strong>colizeum</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="4" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  data-id="5" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="6" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="7" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="8" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" data-id="9" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item" data-id="10">
                
                <div class="map__image-scheme-popup">
                    <strong>100-Dveri</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="11">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item"  data-id="12">
                
                <div class="map__image-scheme-popup">
                    <strong>Redmond</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
          


        </div>
    </div>
</section>
