<section class="map">
    <div class="container">
        <div class="map__title">
            <strong>Расположение</strong>
            <span>Смотрите расположение магазинов на карте заранее для более легкого ориентирования!</span>
        </div>
        <div class="map__image">
            <img src="./img/map.svg" alt="">
            <svg viewBox="0 0 1191 842">
               
                <path class="part" data-id="1"  d="m 479.45732,267.08025 -6.43567,-20.37961 9.38536,-17.42994 23.59745,-10.18981 42.6363,-2.94968 8.04459,3.75414 80.44586,-46.6586 -112.6242,-63.28407 -21.45224,13.94395 -56.31209,-34.859878 -179.12612,106.188538 155.52866,91.17197 8.04459,11.79873 z">
                    
                </path>
                <path class="part" data-id="2"  d="m 478.38442,269.22622 -47.73162,28.95933 33.2515,17.16211 37.5417,-22.52424 -11.79802,-9.11719 z"></path>
                <path class="part" data-id="3" d="m 606.02548,231.14777 -40.75924,-11.79873 -5.36305,-2.14522 77.22802,-42.36815 34.85987,19.84331 z"></path>
                <path class="part"  data-id="4" d="m 501.71401,294.43185 9.38535,6.43567 8.31274,4.02229 13.40765,7.50828 -30.83758,17.96624 -17.69809,-10.72611 c -6.2569,-1.34077 -8.24384,-1.61404 -18.7707,-4.0223 l 0,-0.80446"></path>
                <path class="part"  data-id="5" d="m 504.12738,331.43695 31.37389,-18.2344 9.38535,4.29044 8.31274,2.94969 23.59746,5.63121 -40.75924,24.13375 z"></path>
                <path class="part"  data-id="6" d="m 554.54013,360.66561 -17.16179,-9.92166 39.68663,-22.25669 -1.34077,19.03886 z"></path>
                <path class="part"  data-id="7" d="m 575.7242,349.67134 -6.43566,97.87579 -10.99427,-5.6312 -8.58089,-12.87134 3.75414,-67.03822 z"></path>
                <path class="part" data-id="8" d="M 579.7465,492.59682 518.07134,457.20064 547.3,448.8879 l 11.26242,-6.43567 14.74841,9.1172 z"></path>
                <path class="part" data-id="9" d="m 516.19427,458.5414 62.47961,35.93249 -30.03312,18.23439 -63.01592,-37.0051 z"></path>
                <path class="part"  data-id="10" d="m 555.88089,533.35605 -13.94395,-18.7707 3.48599,-1.60892 -62.21146,-35.93248 -13.94395,16.89363 -10.99427,6.97197 10.18981,6.16752 -32.71465,19.57516 66.23376,38.07771 z"></path>
                <path class="part"  data-id="11" d="m 552.93121,555.34459 -15.82101,-9.1172 20.91592,-12.06688 11.79872,10.18981 z"></path>
                <path class="part"  data-id="12" d="m 554.42757,555.94447 17.25475,10.04947 16.68592,-10.4287 -16.11708,-10.04947 z"></path>
                <path class="part" data-id="13" d="m 573.00961,573.76806 23.51198,13.65212 25.02888,-14.41057 -25.2185,-12.51444 z"></path>
                <path class="part" data-id="14"   d="m 587.7994,632.16878 69.58787,-40.76674 -34.13029,-17.25475 -26.54578,15.73785 -7.20528,-4.36109 -8.53258,5.30916 4.74032,3.0338 -32.803,18.01321 z"></path>
                <path class="part" data-id="15"   d="m 659.47301,592.72933 63.89948,36.78487 -54.98769,32.04455 -21.99507,-4.55071 -22.56391,-7.20528 -18.20282,-7.3949 -16.49631,-9.10141 z"></path>
                <path class="part" data-id="16"   d="m 725.26862,630.65187 31.66532,18.39244 -54.22924,32.42377 -32.23416,-18.77166 z"></path>
                <path class="part" data-id="17"  d="m 758.64045,649.80276 54.03963,31.2861 -7.3949,3.79225 -3.60264,-1.89613 -47.40318,28.06269 -50.43698,-29.01075 z"></path>
                <path class="part" data-id="18"  d="m 828.98677,638.04677 42.09402,24.46004 -32.61339,19.71972 -43.04208,-25.02887 z"></path>
                <path class="part" data-id="19"  d="m 854.20526,650.3716 18.96127,10.99753 16.30669,-10.04947 -18.0132,-10.61831 z"></path>
                <path class="part" data-id="20"  d="m 854.39487,638.426 29.7692,-17.63399 -20.8574,-12.13521 25.02888,-14.60017 -17.06515,-9.67026 -55.17729,31.85494 z"></path>
                <path class="part" data-id="21" d="m 814.76582,615.29324 -31.85494,-18.39243 55.1773,-32.04455 31.2861,18.39244 z"></path>
                <path class="part"  data-id="22" d="m 804.33712,545.13654 31.85493,18.96127 -55.1773,32.04455 -31.85493,-18.39243 z"></path>
                <path class="part" data-id="23"  d="m 716.54643,558.78866 31.66533,18.39243 54.22923,-32.99261 -31.47571,-17.8236 z"></path>
                <path class="part" data-id="24"  d="m 680.52002,538.5001 35.07835,19.53011 54.03962,-32.42378 -33.37184,-19.15088 z"></path>
                <path class="part" data-id="25"  d="m 647.90663,518.96999 32.803,19.34049 53.6604,-32.99261 -31.85494,-18.20282 -11.75599,6.63645 12.51444,7.58451 -6.82605,4.17148 -2.8442,-1.51691 -19.15088,10.99754 -10.23909,-5.30915 z"></path>
                <path class="part"  data-id="26" d="m 639.18445,513.85045 21.99507,-12.70405 -14.41056,-8.34296 9.85986,-6.06761 -8.34296,-5.49877 -7.01567,4.36109 -10.80793,-6.25722 -17.25475,10.23909 0.75845,10.23909 z"></path>
                <path class="part" data-id="27" d="m 612.82828,487.68389 17.82359,-10.61831 10.99754,6.63644 16.68592,-10.04947 -10.99754,-6.82606 9.85986,-5.87799 -52.90194,-31.09649 -2.08574,0.94807 z"></path>
                <path class="part"  data-id="28" d="m 602.58919,427.57666 2.27536,1.13768 15.92746,-7.96373 17.8236,0.75845 0.75845,-15.54825 -35.45758,-1.70651 z"></path>
                <path class="part" data-id="29" d="m 604.29571,403.11662 34.50951,1.13768 0.37923,-14.78979 -33.94068,-1.13768 z"></path>
                <path class="part" data-id="30" d="m 606.95028,349.26662 31.66533,0.18961 15.54824,-8.34296 -24.46004,-14.03134 -8.72218,1.5169 -12.70406,0.18961 z"></path>
                <path class="part" data-id="31" d="m 633.30645,326.89231 39.81867,23.32237 132.91851,-77.74122 -34.88874,-20.47817 -18.0132,10.80793 -32.42378,-18.77166 6.06761,-3.41303 -4.74032,-3.0338 -15.35863,8.72218 5.11955,4.55071 -47.78241,26.925 3.79226,11.56638 0.37922,8.9118 -3.60264,10.42869 -4.55071,5.68838 -7.20528,5.49877 -7.01567,3.03381 z"></path>
                <path class="part" data-id="32"  d="m 648.47547,258.82135 15.35863,-9.10141 22.94314,13.4625 -23.32237,13.27289 z"></path>
                <path class="part" data-id="33" d="m 627.42846,221.27803 33.94067,19.71972 -19.71972,11.37677 -12.89366,-8.53257 -7.77412,-4.55071 -12.51444,-6.25722 z"></path>
            </svg>




            
            <div class="map__image-scheme-item" id="one" data-id="1">
                
                <div class="map__image-scheme-popup">
                    <strong>Спорт Мастер</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item"  id="two" data-id="2" >
                <div class="map__image-scheme-popup">
                    <strong>INSTREET</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item" id="three" data-id="3" >
                
                <div class="map__image-scheme-popup">
                    <strong>grand gudini</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item" id="four" data-id="4" >
                
                <div class="map__image-scheme-popup">
                    <strong>LACARINO</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <!--  -->
            <div class="map__image-scheme-item" id="five" data-id="5" >
                
                <div class="map__image-scheme-popup">
                    <strong>signora milanese home</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="six" data-id="6" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="seven" data-id="7" >
                
                <div class="map__image-scheme-popup">
                    <strong>индийская ярмарка</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="eight" data-id="8" >
                
                <div class="map__image-scheme-popup">
                    <strong>andgilo savallini</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="nine" data-id="9" >
                
                <div class="map__image-scheme-popup">
                    <strong>uno trendo</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="ten" data-id="10">
                
                <div class="map__image-scheme-popup">
                    <strong>ostin</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="eleven" data-id="11">
                
                <div class="map__image-scheme-popup">
                    <strong>Бери дари</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twelve" data-id="12">
                
                <div class="map__image-scheme-popup">
                    <strong>Hobby Games</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="thirteen"  data-id="13">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="fourteen" data-id="14" >
                
                <div class="map__image-scheme-popup">
                    <strong>Demix</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="fifteen" data-id="15">
                
                <div class="map__image-scheme-popup">
                    <strong>stylogie</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="sixteen" data-id="16" >
                
                <div class="map__image-scheme-popup">
                    <strong>джинсовый мир</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="seventeen" data-id="17">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>

            <div class="map__image-scheme-item" id="eighteen" data-id="18">
                
                <div class="map__image-scheme-popup">
                    <strong>Rieker</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="nineteen" data-id="19">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twenty" data-id="20" >
                
                <div class="map__image-scheme-popup">
                    <strong>Colin's</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentyone" data-id="21">
                
                <div class="map__image-scheme-popup">
                    <strong>Colin's</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentytwo" data-id="22">
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentythree" data-id="23">
                
                <div class="map__image-scheme-popup">
                    <strong>Respect</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentyfour" data-id="24">
                
                <div class="map__image-scheme-popup">
                    <strong>Belwest</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentyfive" data-id="25">
                
                <div class="map__image-scheme-popup">
                    <strong>tom farr</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentysix" data-id="26">
                
                <div class="map__image-scheme-popup">
                    <strong>laboratory </strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentyseven" data-id="27" >
                
                <div class="map__image-scheme-popup">
                    <strong>Safina</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentyeight" data-id="28" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="twentynine" data-id="29" >
                
                <div class="map__image-scheme-popup">
                    <strong>Аренда</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="thirty" data-id="30">
                
                <div class="map__image-scheme-popup">
                    <strong>roberto bruno</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="thirtyone" data-id="31" >
                
                <div class="map__image-scheme-popup">
                    <strong>Сударь</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="thirtytwo" data-id="32" >
                
                <div class="map__image-scheme-popup">
                    <strong>signora milanese</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>
            <div class="map__image-scheme-item" id="thirtythree" data-id="33">
                
                <div class="map__image-scheme-popup">
                    <strong>beauty shop</strong>
                    <span>Тут будет описание магазина и время работы.</span>
                </div>
            </div>


        </div>
    </div>
</section>



