<section class="new">
    <div class="container">
        <div class="new__wrapper">
            <div class="new__left">
                <div class="swiper new__left-swiper">
                    <div class="swiper-wrapper new__left-swiper-wrapper">
                        <div class="swiper-slide new__left-swiper-slide">
                            <div class="new__left-swiper-content">
                                <div class="new__left-swiper-title">
                                    Новая коллекция
                                </div>
                                <div class="new__left-swiper-floor">
                                    1 этаж
                                </div>
                                <div class="new__left-swiper-image">
                                    <img src="./img/new/new1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide new__left-swiper-slide">
                            <div class="new__left-swiper-content">
                                <div class="new__left-swiper-title">
                                    Новая коллекция
                                </div>
                                <div class="new__left-swiper-floor">
                                    1 этаж
                                </div>
                                <div class="new__left-swiper-image">
                                    <img src="./img/new/new1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new__left-one">
                    <div class="new__left-numbers">
    
                    </div>
                </div>
                <div class="new__left-arrows">
                        <div class="new__left-prev"></div>
                        <div class="new__left-next"></div>
                </div>
                
            </div>
            <!-- left -->
            <div class="new__right">
                <div class="swiper new__right-swiper">
                    <div class="swiper-wrapper new__right-swiper-wrapper">
                        <div class="swiper-slide new__right-swiper-slide">
                            <div class="new__right-swiper-slide-content">
                                <div class="new__right-swiper-slide-inner">
                                    <div class="new__right-swiper-slide-logo">
                                        <img src="./img/new/logobefree.png" alt="">
                                    </div>
                                    <!-- logo -->
                                    <div class="new__right-swiper-slide-image">
                                        <img src="./img/new/new2.png" alt="">
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="new__right-swiper-slide-block">
                                    <div class="new__right-swiper-slide-social">
                                        <a href="">
                                            <img src="./img/new/insta.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="./img/new/fc.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="./img/new/youtube.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="" class="new__right-swiper-slide-link">
                                        <span>Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide new__right-swiper-slide">
                            <div class="new__right-swiper-slide-content">
                                <div class="new__right-swiper-slide-inner">
                                    <div class="new__right-swiper-slide-logo">
                                        <img src="./img/new/logobefree.png" alt="">
                                    </div>
                                    <!-- logo -->
                                    <div class="new__right-swiper-slide-image">
                                        <img src="./img/new/new2.png" alt="">
                                    </div>
                                </div>
                                <!-- inner -->
                                <div class="new__right-swiper-slide-block">
                                    <div class="new__right-swiper-slide-social">
                                        <a href="">
                                            <img src="./img/new/insta.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="./img/new/fc.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="./img/new/youtube.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="" class="new__right-swiper-slide-link">
                                        <span>Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>