<section class="product-block">
    <div class="container">
        <div class="product-block__wrapper">
            <div class="product-block__left">
                   <div class="title">
                        <div class="title__text">Conso wear</div>
                        <div class="product-block__left-float">1 этаж</div>
                        <div class="product-block__left-heart"></div>
                   </div>
                   <div class="product-block__left-inner">
                       <div class="product-block__left-time">Время работы: 10.00 - 22.00</div>
                       <div class="product-block__left-site">Официальный сайт: <a href="">https://consowear.ru/</a></div>
                   </div>
                   <div class="product-block__left-text">
                       <p>Conso wear – итальянский стиль на все случаи жизни!</p>
                       <p>
                        Компания Conso wear - крупный производственный холдинг, который имеет ряд собственных торговых марок: Conso, Lora Grig, Charmante, Arina Festivita, Arina+Nirey.
                        Философия компании включает в себя высокотехнологичное производство, элегантные линии кроя и благородную цветовую гамму. За годы работы дизайнеры разработали совершенно новую концепцию, сочетающую безупречный вид, функциональность, заботу о комфорте и высокое качество.
                        Каждый сезон мы выпускаем актуальные коллекции: пуховиков, курток, комбинезонов, трикотажа, купальников и аксессуаров. Мы создаем одновременно практичные и красивые модели, которые учитывают потребности клиента, особенности фигуры и отражают последние тенденции моды.
                        Conso wear – это воплощение женственности, красоты, сдержанной сексуальности и безупречного итальянского стиля, который сочетается с исключительным качеством и непревзойденным комфортом. Задача Conso wear – идти в ногу со временем и предлагать клиентам только самое лучшее и актуальное. Новая коллекция этого сезона– тому подтверждение.
                        Ждем вас в наших магазинах!</p>
                   </div>
                   <div class="product-block__left-socials">
                       <a href="">
                           <img src="./img/new/insta.svg" alt="">
                       </a>
                   </div>
                   
            </div>
            <!-- left -->
            <div class="product-block__right">
                
                <div class="product-block__right-inner">
                    <div class="swiper product-block__swiper-one">
                        <div class="swiper-wrapper product-block__swiper-one-wrapper">
                            <div class="swiper-slide product-block__swiper-one-slide">
                                <div class="product-block__swiper-one-slide-image">
                                    <img src="./img/card/card2.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide product-block__swiper-one-slide">
                                <div class="product-block__swiper-one-slide-image">
                                    <img src="./img/card/card3.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide product-block__swiper-one-slide">
                                <div class="product-block__swiper-one-slide-image">
                                    <img src="./img/card/card4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper product-block__swiper-two">
                        <div class="swiper-wrapper product-block__swiper-two-wrapper">
                            <div class="swiper-slide product-block__swiper-two-slide">
                                <div class="product-block__swiper-two-slide-image">
                                    <img src="./img/card/card3.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide product-block__swiper-two-slide">
                                <div class="product-block__swiper-two-slide-image">
                                    <img src="./img/card/card4.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide product-block__swiper-two-slide">
                                <div class="product-block__swiper-two-slide-image">
                                    <img src="./img/card/card2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-block__right-bottom">
                    <div class="product-block__right-pagination">

                    </div>
                    <div class="product-block__right-bottom-two">
                        <div class="product-block__right-bottom-two-arrows">
                            <div class="product-block__right-bottom-two-prev"></div>
                            <div class="product-block__right-bottom-two-next"></div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- right -->
        </div>
    </div>
</section>
<!-- /.product-block -->