<section class="score">
    <div class="container">
        <div class="score__search-block">
            <label for=""></label>
            <input placeholder="Я ищу..." type="text">
        </div>
        <div class="score__header">
            <div class="title">
                <div class="title__text">Развлечения</div>
            </div>
            <!--  -->
            <button class="score__filter-btn mob">
                <span>Фильтр</span>
            </button>
            <div class="score__two-word mob">
                Сортировать по:
            </div>
            <ul class="score__floats desk">
                <li class="score__float score__float-js">Все этажи</li>
                <li class="score__float score__float-js">-1 этаж</li>
                <li class="score__float score__float-js">1 этаж</li>
                <li class="score__float score__float-js">2 этаж</li>
                <li class="score__float score__float-js">3 этаж</li>
                <li class="score__float score__float-js">4 этаж</li>
            </ul>
            <div class="score__popular-block">
                <div class="select">
                    <input class="select__input" type="hidden" name="">
                    <div class="select__head">Сначала популярные</div>
                    <ul class="select__list" style="display: none;">
                        <li class="select__item">Сначала популярные </li>
                        <li class="select__item">Сначала дешевле </li>
                        <li class="select__item">Сначала премиум</li>
                        <li class="select__item">Сначала с высоким рейтингом</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="score__wrapper">
            <nav class="score__sidebar">
                <div class="score__sidebar-title mob">
                    <span>Фильтр</span>
                    <div class="score__sidebar-title-close">
                        <img src="./img/icon/close.svg" alt="">
                    </div>
                </div>
                <button class="score__float-btn mob"><span>Этаж</span></button>
                <ul class="score__floats score__floats--none">
                    <li class="score__float score__float-js">Все этажи</li>
                    <li class="score__float score__float-js">-1 этаж</li>
                    <li class="score__float score__float-js">1 этаж</li>
                    <li class="score__float score__float-js">2 этаж</li>
                    <li class="score__float score__float-js">3 этаж</li>
                    <li class="score__float score__float-js">4 этаж</li>
                </ul>
                <ul class="score__accordion-menu">
                    <li>
                      <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>Детская площадка
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </div>
                      <ul class="submenuItems">
                        <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                      </ul>
                    </li>
                    <li>
                      <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i>Кинотеатры
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </div>
                      <ul class="submenuItems">
                      <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                      </ul>
                    </li>
                    <li>
                      <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i>Лазертаг
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </div>
                      <ul class="submenuItems">
                        <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                      </ul>
                    </li>
                    <li>
                      <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Фитнес
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </div>
                      <ul class="submenuItems">
                        <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                      </ul>
                    </li>
                    <!--  -->
                   
                  </ul>

                  <button class="all-btn all-btn-close mob"><span>Найти</span></button>
            </nav>
            <div class="score__boutiques">
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo1.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">MORI CINEMA</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">3 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo2.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">Well Fit</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">4 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo3.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">Fancy fox</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">3 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <!--  -->
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo1.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">MORI CINEMA</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">3 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo2.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">Well Fit</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">4 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo3.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">Fancy fox</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">3 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo1.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">MORI CINEMA</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">3 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo2.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">Well Fit</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">4 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/joy/logo3.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">Fancy fox</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">3 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
            </div>
        </div>
        <div class="score__pagination-block">
            <div class="score__pagination">
                <span>01</span>
                <span>02</span>
            </div>
            <div class="score__bottom-two">
                <div class="score__bottom-two-arrows">
                   
                    <div class="score__bottom-two-prev"></div>
                    <div class="score__bottom-two-next"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /.score -->