<section class="score">
    <div class="container">
        <div class="score__search-block">
            <label for=""></label>
            <input placeholder="Я ищу..." type="text">
        </div>
        <div class="score__header">
            <div class="title">
                <div class="title__text">Магазины</div>
            </div>
            <!--  -->
            <button class="score__filter-btn mob">
                <span>Фильтр</span>
            </button>
            <div class="score__two-word mob">
                Сортировать по:
            </div>
            <ul class="score__floats desk">
                <li class="score__float score__float-js">Все этажи</li>
                <li class="score__float score__float-js">-1 этаж</li>
                <li class="score__float score__float-js">1 этаж</li>
                <li class="score__float score__float-js">2 этаж</li>
                <li class="score__float score__float-js">3 этаж</li>
                <li class="score__float score__float-js">4 этаж</li>
            </ul>
            <div class="score__popular-block">
                <div class="select">
                    <input class="select__input" type="hidden" name="">
                    <div class="select__head">Сначала популярные</div>
                    <ul class="select__list" style="display: none;">
                        <li class="select__item">Сначала популярные </li>
                        <li class="select__item">Сначала дешевле </li>
                        <li class="select__item">Сначала премиум</li>
                        <li class="select__item">Сначала с высоким рейтингом</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="score__wrapper">
            <nav class="score__sidebar">
                <div class="score__sidebar-title mob">
                    <span>Фильтр</span>
                    <div class="score__sidebar-title-close">
                        <img src="./img/icon/close.svg" alt="">
                    </div>
                </div>
                <button class="score__float-btn mob"><span>Этаж</span></button>
                <ul class="score__floats score__floats--none">
                    <li class="score__float score__float-js">Все этажи</li>
                    <li class="score__float score__float-js">-1 этаж</li>
                    <li class="score__float score__float-js">1 этаж</li>
                    <li class="score__float score__float-js">2 этаж</li>
                    <li class="score__float score__float-js">3 этаж</li>
                    <li class="score__float score__float-js">4 этаж</li>
                </ul>
                <ul class="score__accordion-menu">
                    <li>
                      <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>Автосалон
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </div>
                      <ul class="submenuItems">
                        <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                      </ul>
                    </li>
                    <li>
                      <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i>Аксессуары
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </div>
                      <ul class="submenuItems">
                      <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                      </ul>
                    </li>
                    <li>
                      <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i>Аптека и оптика
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </div>
                      <ul class="submenuItems">
                        <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                      </ul>
                    </li>
                    <li>
                      <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Белье, одежда для сна
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </div>
                      <ul class="submenuItems">
                        <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                      </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Гипермаркет
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Ссылка 1</a></li>
                          <li><a href="#">Ссылка 2</a></li>
                          <li><a href="#">Ссылка 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Мебель и предметы интерьера
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Ссылка 1</a></li>
                          <li><a href="#">Ссылка 2</a></li>
                          <li><a href="#">Ссылка 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Обувь
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Ссылка 1</a></li>
                          <li><a href="#">Ссылка 2</a></li>
                          <li><a href="#">Ссылка 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Одежда
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Верхняя одежда</a></li>
                          <li><a href="#">Детская одежда</a></li>
                          <li><a href="#">Одежда mix</a></li>
                          <li><a href="#">Одежда для женщин</a></li>
                          <li><a href="#">Одежда для мужчин</a></li>
                          <li><a href="#">Одежда для спорта, активного отдыха и туризма</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Парфюмерия и косметика
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Верхняя одежда</a></li>
                          
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Разное
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Верхняя одежда</a></li>
                          
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Товары для детей и будущих мам
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Верхняя одежда</a></li>
                          
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Товары для дома, ремонта, дачи, инструменты
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Верхняя одежда</a></li>
                          
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Электроника и бытовая техника
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Мобильная и портативная электроника</a></li>
                          <li><a href="#">Фототовары</a></li>
                          <li><a href="#">Компьтеры</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Ювелирные изделия, часы
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                          <li><a href="#">Верхняя одежда</a></li>
                          
                        </ul>
                    </li>
                  </ul>

                  <button class="all-btn all-btn-close mob"><span>Найти</span></button>
            </nav>
            <div class="score__boutiques">
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/score/beff.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">befree</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">1 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/score/colins.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">Colins</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">1 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
                <article class="boutique">
                    <div class="boutique__logo">
                        <img src="./img/score/conso.svg" alt="">
                    </div>
                    <div class="boutique__inner">
                        <div class="boutique__logo-mini">Conso wear</div>
                        <div class="boutique__inner-block">
                            <div class="boutique__float">1 этаж</div>
                            <button class="boutique__heart"></button>
                        </div>
                    </div>
                    <div class="boutique__text">
                        <span class="boutique__text-time">Время работы: 10.00 - 22.00</span>
                        <span class="boutique__text-phone">Телефон: (391) 256-85-41</span>
                    </div>
                    <a href="" class="boutique__link"><span>Подробнее</span></a>
                </article>
              
            </div>
        </div>
        <div class="score__pagination-block">
            <div class="score__pagination">
                <span>01</span>
                <span>02</span>
            </div>
            <div class="score__bottom-two">
                <div class="score__bottom-two-arrows">
                   
                    <div class="score__bottom-two-prev"></div>
                    <div class="score__bottom-two-next"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /.score -->