<section class="score">
    <div class="container">
        <div class="score__search-block">
            <label for=""></label>
            <input placeholder="Я ищу..." type="text">
        </div>
        <div class="score__header">
            <div class="title">
                <div class="title__text">Акции</div>
            </div>
            <!--  -->

            <div class="score__stock-types-block">
                <button class="score__stock-types-block-btn mob">
                    <span>Текущие</span>
                </button>
                <ul class="score__stock-types">
                    <li class="score__stock-types-list score__stock-types-list-js">Текущие акции</li>
                    <li class="score__stock-types-list score__stock-types-list-js">Прошедшие акции</li>
                 </ul>
            </div>
            <div class="score__two-word mob">
                Сортировать по:
            </div>
    
            
            <div class="score__popular-block">
                <div class="select">
                    <input class="select__input" type="hidden" name="">
                    <div class="select__head">Сначала популярные</div>
                    <ul class="select__list" style="display: none;">
                        <li class="select__item">Сначала популярные </li>
                        <li class="select__item">Сначала дешевле </li>
                        <li class="select__item">Сначала премиум</li>
                        <li class="select__item">Сначала с высоким рейтингом</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="score__wrapper score__wrapper-stosk-js">       
            <div class="score__boutiques">
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock1.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Встречаем весну с Befree
                        Скидки до -30%
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock2.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Скидка 25% на новую коллекцию в COLIN’S!
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock3.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Весенние коллекции в ECCO, скидки до -30%
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock4.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Встречайте весеннюю коллекцию в Finn Flare!
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <!--  -->
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock1.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Встречаем весну с Befree
                        Скидки до -30%
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock2.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Скидка 25% на новую коллекцию в COLIN’S!
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock3.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Весенние коллекции в ECCO, скидки до -30%
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock4.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Встречайте весеннюю коллекцию в Finn Flare!
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <!--  -->
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock1.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Встречаем весну с Befree
                        Скидки до -30%
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock2.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Скидка 25% на новую коллекцию в COLIN’S!
                    </div>
                    <div class="stock-table__text">
                        С 06.03.2022 по 31.04.2022
                    </div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock3.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Весенние коллекции в ECCO, скидки до -30%
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <div class="stock-table">
                    <div class="stock-table__image">
                        <img src="./img/stock/stock4.png" alt="">
                    </div>
                    <div class="stock-table__title">
                        Встречайте весеннюю коллекцию в Finn Flare!
                    </div>
                    <div class="stock-table__text desk">
                        С 06.03.2022 по 31.04.2022
                    </div>
                    <div class="stock-table__text mob">06.03 — 31.04.2022</div>
                </div>
                <!--  -->
            </div>
        </div>
        <div class="score__wrapper score__wrapper-stosk-js"></div>
        <div class="score__pagination-block">
            <div class="score__pagination">
                <span>01</span>
                <span>02</span>
            </div>
            <div class="score__bottom-two">
                <div class="score__bottom-two-arrows">
                   
                    <div class="score__bottom-two-prev"></div>
                    <div class="score__bottom-two-next"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /.score -->