<section class="score-news">
    <div class="container">
        <div class="score-news__wrapper">
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news1.png" alt="news">
                </div>
                <div class="news-table__title">
                    1811 Eighteen One One
                </div>
                <div class="news-table__text">
                    Новинки весенней коллекции 1811 eighteen one one
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news2.png" alt="news">
                </div>
                <div class="news-table__title">
                    L'Occitane
                </div>
                <div class="news-table__text">
                    Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news1.png" alt="news">
                </div>
                <div class="news-table__title">
                    1811 Eighteen One One
                </div>
                <div class="news-table__text">
                    Новинки весенней коллекции 1811 eighteen one one
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news2.png" alt="news">
                </div>
                <div class="news-table__title">
                    L'Occitane
                </div>
                <div class="news-table__text">
                    Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news1.png" alt="news">
                </div>
                <div class="news-table__title">
                    1811 Eighteen One One
                </div>
                <div class="news-table__text">
                    Новинки весенней коллекции 1811 eighteen one one
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news2.png" alt="news">
                </div>
                <div class="news-table__title">
                    L'Occitane
                </div>
                <div class="news-table__text">
                    Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news1.png" alt="news">
                </div>
                <div class="news-table__title">
                    1811 Eighteen One One
                </div>
                <div class="news-table__text">
                    Новинки весенней коллекции 1811 eighteen one one
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news2.png" alt="news">
                </div>
                <div class="news-table__title">
                    L'Occitane
                </div>
                <div class="news-table__text">
                    Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news1.png" alt="news">
                </div>
                <div class="news-table__title">
                    1811 Eighteen One One
                </div>
                <div class="news-table__text">
                    Новинки весенней коллекции 1811 eighteen one one
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news2.png" alt="news">
                </div>
                <div class="news-table__title">
                    L'Occitane
                </div>
                <div class="news-table__text">
                    Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news1.png" alt="news">
                </div>
                <div class="news-table__title">
                    1811 Eighteen One One
                </div>
                <div class="news-table__text">
                    Новинки весенней коллекции 1811 eighteen one one
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
            <a href="" class="news-table">
                <div class="news-table__image">
                    <img src="./img/news/news2.png" alt="news">
                </div>
                <div class="news-table__title">
                    L'Occitane
                </div>
                <div class="news-table__text">
                    Новый лимитированный женский аромат HERBAE ШАЛФЕЙ!
                </div>
                <div class="news-table__link">
                    <span>Подробнее</span>
                </div>
            </a>
        </div>
        <div class="score-news__pagination-block">
            <div class="score-news__pagination">
                <span>01</span>
                <span>02</span>
            </div>
            <div class="score-news__bottom-two">
                <div class="score-news__bottom-two-arrows">
                   
                    <div class="score-news__bottom-two-prev"></div>
                    <div class="score-news__bottom-two-next"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>