<section class="stock-detail">
    <div class="container">
         <div class="category">
             <a href="">Главная</a>
             <a href="">Красноярск</a>
             <a href="">Акции</a>
             <a href="">Befree</a>
         </div>
         <div class="stock-detail__block">
             <div class="stock-detail__date">С 06.03.2022 по 31.04.2022</div>
             <a href="" class="stock-detail__link"><span>Назад</span></a>
         </div>
         <div class="title">
             <div class="title__text">Весенние коллекции в ECCO, скидки до -30%</div>
         </div>
         <div class="stock-detail__wrapper">
             <div class="stock-detail__left">
                 <div class="stock-detail__left-text">
                     <p>Дарим теплые весенние скидки в магазине ECCO. С 17 по 28 марта действует скидка до -30%* на изделия из коллекции Весна-Лето 2022.<br>
                        В этот же период на изделия из категории SALE** предоставляется дополнительная скидка -20%***.<br>
                        Накопления на бонусные карты идут, бонусы начисляются, оплата бонусными баллами невозможна.</p>
                     <p> Желаем отличных весенних покупок!</p>
                     <p>Подробности акции уточняйте на кассе или по телефону колл-центра: 8 495 137 72 75,<br>
                        8 800 200 00 84</p>
                        <p> *Предложение действует на ограниченный ассортимент. Не суммируется с другими акциями сети</p>
                        <p>**SALE – распродажа.</p>
                        <p> ***Дополнительная скидка применяется к стоимости изделия, полученной после уменьшения исходной стоимости на размер первоначальной скидки соответственно (последовательная скидка). Действует на ограниченный ассортимент, не суммируется с другими акциями сети.</p>
                 </div>
                 <article class="stock-detail__brand">
                     <div class="stock-detail__brand-left">
                         <div class="stock-detail__brand-left-image">
                            <img src="./img/brand/ecco.svg" alt="">
                         </div>
                     </div>
                     <!-- left -->
                     <div class="stock-detail__brand-right">
                         <div class="stock-detail__brand-right-title">
                             <div class="stock-detail__brand-right-title-logo">ECCO</div>
                             <div class="stock-detail__brand-right-title-inner">
                                 <div class="stock-detail__brand-right-title-inner-float">1 этаж</div>
                                 <button class="stock-detail__brand-right-title-inner-heart"></button>
                             </div>
                         </div>
                         <!-- title -->
                         <div class="stock-detail__brand-right-time">Время работы: 10.00 - 22.00</div>
                         <div class="stock-detail__brand-right-phone">Телефон: (391) 256-85-41</div>
                         <a href="" class="stock-detail__brand-right-link"><span>Показать на карте</span></a>
                     </div>
                 </article>
             </div>
             <div class="stock-detail__right">
                 <div class="stock-detail__right-image"><img src="./img/stock/stockbig.png" alt=""></div>
             </div>
         </div>
    </div>
</section>