<section class="stock-block">
    <div class="container">
        <div class="title">
            <div class="stock-block__bullets">

            </div>
            <span class="title__text">
                Акции
            </span>
            <a href="" class="all-btn">
                <span>Все акции</span>
            </a>
        </div>
        <div class="stock-block__wrapper">
            <div class="swiper stock-block__swiper">
                <div class="swiper-wrapper stock-block__swiper-wrapper">
                    <div class="swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock1.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Встречаем весну с Befree
                                Скидки до -30%
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock2.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Скидка 25% на новую коллекцию в COLIN’S!
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock3.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Весенние коллекции в ECCO, скидки до -30%
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock4.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Встречайте весеннюю коллекцию в Finn Flare!
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock4.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Встречайте весеннюю коллекцию в Finn Flare!
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <div class=" swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock4.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Встречайте весеннюю коллекцию в Finn Flare!
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <div class=" swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock4.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Встречайте весеннюю коллекцию в Finn Flare!
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <div class=" swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock4.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Встречайте весеннюю коллекцию в Finn Flare!
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <div class=" swiper-slide stock-block__swiper-slide">
                        <div class="stock-table">
                            <div class="stock-table__image">
                                <img src="./img/stock/stock4.png" alt="">
                            </div>
                            <div class="stock-table__title">
                                Встречайте весеннюю коллекцию в Finn Flare!
                            </div>
                            <div class="stock-table__text">
                                С 06.03.2022 по 31.04.2022
                            </div>
                        </div>
                    </div>
                    <!--  -->

                    
                </div>
            </div>
            
        </div>
        <div class="stock-block__bottom">
            <div class="stock-block__bottom-one">
                <div class="stock-block__bottom-one-numbers">
                    <div  class="swiper-fraction stock-block__fraction"><div id="stock-block__service"></div><div id="stock-block__all-service"></div></div>

                </div>
            </div>
            <div class="stock-block__bottom-two">
                <div class="stock-block__bottom-two-arrows">
                    <div class="stock-block__bottom-two-prev"></div>
                    <div class="stock-block__bottom-two-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.developments -->