.button-all {
    width: 27.4rem;
    height: 7.8rem;
    background: linear-gradient(180deg, #005A9D 0%, #0B4AA9 100%);
    box-shadow: 0rem 1rem 4rem rgba(19, 85, 169, 0.3);
    border: none;
    border-radius: 10rem;
    position: relative;
    font-family: 'Euclid Circular A', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 156%;
    &::before {
        position: absolute;
        content: '';
        background: #FBCC33;
        box-shadow: 0px 0.4rem 0.4rem rgba(45, 44, 95, 0.25);
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        background-image: url(../img/icon/arrow.svg);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50% 50%;
        right: 10%;
        top: 25%;
    }
    span {
        font-family: 'Euclid Circular A', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 156%;
        color: #FFFFFF;
        display: inline-block;
        position: relative;
        left: -10%;
    }
}

.btn-link {
    position: relative;
    display: flex;
    align-items: center;
    span {
        font-family: 'Euclid Circular A', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 156%;
        color: #0E192E;
        padding-right: 5.3rem;
    }
    &::before {
        position: absolute;
        content: '';
        width: 3.5rem;
        height: 3.5rem;
        background: #0B4AA9;
        box-shadow: 0px 1rem 5rem rgba(19, 85, 169, 0.3);
        border-radius: 50%;
        right: 0;
        background-image: url(../img/icon/arrow.svg);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50% 50%;
    }
}