.statistics {
    margin-bottom: 16.3rem;
    .container {
        width: 150.1rem;
    }
    &__title {
        font-family: 'Akrobat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 5rem;
        line-height: 126%;
        color: #0E192E;
        padding-top: 15.1rem;
        text-align: center;
        padding-bottom: 5.9rem;
    }
    .statistics-table {
        margin-right: 3.8rem;
        display: inline-block;
        padding-top: 4.5rem;
        padding-left: 6.2rem;
        padding-right: 6.2rem;
        width: 34.6rem;
        height: 41.4rem;
        background: linear-gradient(180deg, #F2F5FF 0%, #ECF4FF 100%), #F2F5FF;
        border-radius: 10%;
        &__circle {
            width: 20.2rem;
            position: relative;
            display: inline-block;
            height: 20.2rem;
            border-radius: 50%;
            left: 1rem;
            background: linear-gradient(180deg, #ECEEFF -8.66%, #B6D2E8 100%), linear-gradient(180deg, #ECF5FF 0%, #B6D2E8 100%);
            box-shadow: 0.53rem 1.07rem 2.142rem rgba(117, 156, 201, 0.1);
            margin-bottom: 3.3rem;
        }
        &__baground {
            position: absolute;
            width: 16.2rem;
            height: 16.2rem;
            border-radius: 50%;
            background: linear-gradient(180deg, #FCFEFF 0%, #F3F8FF 100%);
            box-shadow: 0px 0.6rem 4rem rgba(19, 85, 169, 0.3);
            left: 10%;
            top: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            strong {
                font-family: 'Akrobat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 5.5rem;
                line-height: 6.6rem;
                text-align: center;
                color: #0E192E;
                display: inline-block;
            }
            span {
                font-family: 'Akrobat', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1.5rem;
                line-height: 3rem;
                color: #ADB2C4;
                text-transform: uppercase;
            }
        }
        &__point {
            display: inline-block;
            width: 5.25rem;
            height: 0.964rem;
            margin-bottom: 3.86rem;
            position: relative;
            left: 39%;
            top: 0.3rem;
        }
        &__title {
            font-family: 'Akrobat', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 3rem;
            text-align: center;
            color: #0E192E;
            width: 23.2rem;
        }
    }
    &__tables {
        display: flex;
        margin-bottom: 18rem;
    }
    .statistics-table:last-child {
        margin-right: 0;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .statistics-left {
        width: 54.5rem;
        &__title {
            font-family: 'Akrobat', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 5rem;
            line-height: 126%;
            color: #0E192E;
            margin-bottom: 3.1rem;
        }
        &__text {
            font-family: 'Euclid Circular A', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 144%;
            color: #8A8FA2;
            margin-bottom: 6.3rem;
        }
        &__btn {
            .button-all {
                &::before {
                    right: 13%;
                    top: 28%;
                }
                width: 25.4rem;
                span {
                    left: -14%;
                }
            }
        }
    }
    .statistics-right {
        width: 64rem;
        padding-top: 1rem;
        &__title {
            font-family: 'Akrobat', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 3.5rem;
            line-height: 123%;
            color: #0E192E;
            margin-bottom: 5.6rem;
            width: 59rem;
        }
        &__block {
            display: flex;
            margin-bottom: 4.1rem;
        }
        &__image {
            height: 14.9rem;
            width: 1.4rem;
            display: inline-block;
            margin-right: 2.5rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__inner {
            width: 60.2rem;
            display: inline-block;
            position: relative;
            top: -1rem;
            margin-bottom: -1rem;
            span {
                font-family: 'Euclid Circular A', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1.8rem;
                line-height: 144%;
                color: #0E192E;
                display: inline-block;
                width: 100%;
                margin-bottom: 2.4rem;
            }
            span:last-child {
                margin-bottom: 0;
            }
        }
        &__text {
            font-family: 'Euclid Circular A', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 144%;
            color: #0E192E;
        }
    }
}