<section class="about">
    <div class="container">
        <div class="about__title">О нас</div>
        <div class="about__wrapper">
            
            <div class="about__wrapper">
                <div class="about__image">
                    <img src="./img/about/about1.png" alt="">
                </div>
                <div class="about__text">
                    <p>"При создании каждой новой концепции моя основная цель – создать интересную архитектуру пространства, наполнить его игрой светотени, а также сделать его функциональным. Геометрия интерьера может наиболее ярко и четко показать именно светотеневой аспект интерьера и сконцентрировать на общем архитектурном решении пространства" – Максим Кашин. </p>
                    <p>Вместе с моей командой мы создали пространства для многих брендов и компаний: бары и рестораны, офисы, общественные интерьеры, выставочные павильоны и экспозиции, а также реализовали концептуальные частные интерьеры.</p>
                    <p>Я являюсь членом Союза Архитекторов России и Союза Московских Архитекторов с 2018 года. Выпускник МАРХи 2010 года. В 2013 году основал студию MONOLOKO design, в 2019 году презентовал новое направление авторского дизайна MAXIM KASHIN Architects на выставке АрхМосква 2019.</p>
                    <p>Наши проекты являются победителями в номинациях российских и международных конкурсов, среди них: Architizer A+Awards 2015, Iconic Awards 2018, Russian Project 2018, DNA 2019, Restaurant&Bar Awards 2019, Russian Project 2019, DNA 2020, Architecture MasterPrize 2020. Наши реализованные проекты опубликованы во многих печатных и web изданиях: AD, Domus, Frame, AZURE, INTERNI, Designboom, Numéro, Wallpaper, Elle decoration, Avivre, Interior+design, Salon.</p>

                </div>
            </div>
        </div>
        <!-- wrapper -->

    </div>
</section>