<section class="apx-main">
    <div class="container">
        <div class="apx-main__wrapper">
            <div class="apx-main__left">
                <div class="apx-main__left-title">
                    <span>архитектурная студия</span>
                    <strong>Максима
                        Кашина</strong>
                </div>
                <!-- title -->
                <div class="apx-main__links">
                    <a href="">Behance</a>
                    <a href="">Archi.ru</a>
                </div>
            </div>
            <div class="apx-main__right">
                <div class="apx-main__right-wrapper">
                     <a href="" class="apx-main__img">
                        <img src="./img/apxmain/apx1.png" alt="">
                     </a>
                     <a href="" class="apx-main__img">
                        <img src="./img/apxmain/apx2.png" alt="">
                     </a>
                     <a href="" class="apx-main__img">
                        <img src="./img/apxmain/apx3.png" alt="">
                     </a>
                     <a href="" class="apx-main__img">
                        <img src="./img/apxmain/apx4.png" alt="">
                     </a>
                     <a href="" class="apx-main__img">
                        <img src="./img/apxmain/apx5.png" alt="">
                     </a>
                     <a href="" class="apx-main__img">
                        <img src="./img/apxmain/apx6.png" alt="">
                     </a>
                </div>
                <!-- wrapper -->
                <div class="apx-main__right-swiper swiper">
                    <div class="apx-main__right-swiper-wrapper swiper-wrapper">
                        <div class="apx-main__right-swiper-slide">
                            <a href="" class="apx-main__right-swiper-slide-link">
                                <img src="./img/apxmain/apx1.png" alt="">
                            </a>
                        </div>
                        <div class="apx-main__right-swiper-slide">
                            <a href="" class="apx-main__right-swiper-slide-link">
                                <img src="./img/apxmain/apx2.png" alt="">
                            </a>
                        </div>
                        <div class="apx-main__right-swiper-slide">
                            <a href="" class="apx-main__right-swiper-slide-link">
                                <img src="./img/apxmain/apx3.png" alt="">
                            </a>
                        </div>
                        <div class="apx-main__right-swiper-slide">
                            <a href="" class="apx-main__right-swiper-slide-link">
                                <img src="./img/apxmain/apx4.png" alt="">
                            </a>
                        </div>
                        <div class="apx-main__right-swiper-slide">
                            <a href="" class="apx-main__right-swiper-slide-link">
                                <img src="./img/apxmain/apx5.png" alt="">
                            </a>
                        </div>
                        <div class="apx-main__right-swiper-slide">
                            <a href="" class="apx-main__right-swiper-slide-link">
                                <img src="./img/apxmain/apx6.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>