<section class="contacts">
    <div class="container">
        <div class="contacts__title">
            Контакты
        </div>
        <div class="contacts__wrapper">
            <div class="contacts__date">
                <div class="contacts__date-inner">
                    <div class="contacts__date-inner-red">офис</div>
                    <div class="contacts__date-inner-text">МОСКВА, БЕРСЕНЕВСКАЯ НАБЕРЕЖНАЯ 18-20-22/1</div>
                </div>
                <div class="contacts__date-inner">
                    <div class="contacts__date-inner-red">телефон</div>
                    <div class="contacts__date-inner-text"><a href="+7 926 247 11 25">+7 926 247 11 25</a></div>
                </div>
                <div class="contacts__date-inner">
                    <div class="contacts__date-inner-red">e-mail</div>
                    <div class="contacts__date-inner-text"><a href="">KASHINARCHITECTS@GMAIL.COM</a></div>
                </div>
            </div>
            <form action="" class="contacts__form">
                <div class="contacts__form-title">
                    остались вопросы? свяжитесь с нами
                </div>
                <div class="contacts__form-wrapper">
                    <div class="contacts__form-left">
                        <input type="text" placeholder="Ваше имя">
                        <input type="text" placeholder="Телефон">
                    </div>
                    <div class="contacts__form-right">
                        <input type="text" placeholder="E-mail">
                        <input type="text" placeholder="Сообщение">
                    </div>
                </div>
                <div class="contacts__form-check">
                    <input type="checkbox" class="custom-checkbox" id="happy" name="happy" value="yes">
                    <label for="happy">Согласие на обработку персональных данных</label>
                </div>
                <div class="contacts__form-btns">
                    <button class="all-btn">
                        <span>отправить</span>
                    </button>
                    <div class="upload-file__wrapper">
                        <input
                            type="file"
                            name="files[]"
                            id="upload-file__input_1"
                            class="upload-file__input"
                            accept=".jpg, .jpeg, .png, .gif, .bmp, .doc, .docx, .xls, .xlsx, .txt, .tar, .zip, .7z, .7zip"
                            multiple
                        >
                        <label class="upload-file__label" for="upload-file__input_1">
                            
                            <span class="upload-file__text">Прикрепить файл</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</section>