<section class="de-project">
    <div class="container">
        <div class="de-project__block">
            <div class="de-project__block-wrapper">
                <div class="de-project__block-date">2018</div>
                <div class="de-project__block-title">Black Star Car Wash</div>
            </div>
            <div class="de-project__block-inner">
                <div class="de-project__block-location">
                    <strong>Локация</strong>
                    <span>Tbilisi, Georgia</span>
                </div>
                <div class="de-project__block-author">
                    <strong>архитектор</strong>
                    <span>Максим Кашин</span>
                </div>
                <div class="de-project__block-square">
                    <strong>площадь</strong>
                    <span>1200 м2</span>
                </div>
            
            </div>
        </div>
        <!-- de-block -->
        <div class="de-project__big-image">
            <img src="./img/deproject/de1.png" alt="">
        </div>
        <!-- big -->
        <div class="de-project__reward">
            <div class="de-project__reward-title">награды</div>
            <div class="de-project__reward-inner">
                <div class="de-project__reward-block">
                    <div class="de-project__reward-block-date">
                        <span>2019</span>
                        <strong>Russian Project</strong>
                    </div>
                    <!-- date -->
                    <div class="de-project__reward-block-list">
                        <strong>Вошел в шорт-лист</strong>
                        <span>Россия</span>
                    </div>
                </div>
                <div class="de-project__reward-block">
                    <div class="de-project__reward-block-date">
                        <span>2019</span>
                        <strong>Russian Project</strong>
                    </div>
                    <!-- date -->
                    <div class="de-project__reward-block-list">
                        <strong>Вошел в шорт-лист</strong>
                        <span>Россия</span>
                    </div>
                </div>
                <div class="de-project__reward-block">
                    <div class="de-project__reward-block-date">
                        <span>2019</span>
                        <strong>Russian Project</strong>
                    </div>
                    <!-- date -->
                    <div class="de-project__reward-block-list">
                        <strong>Вошел в шорт-лист</strong>
                        <span>Россия</span>
                    </div>
                </div>
                <div class="de-project__reward-block">
                    <div class="de-project__reward-block-date">
                        <span>2019</span>
                        <strong>Russian Project</strong>
                    </div>
                    <!-- date -->
                    <div class="de-project__reward-block-list">
                        <strong>Вошел в шорт-лист</strong>
                        <span>Россия</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="de-project__publications">
            <div class="de-project__publications-title">публикации</div>
            <div class="de-project__publications-wrapper">
                <div class="de-project__publications-inner">
                    <span>2019</span>
                    <strong>designboom</strong>
                </div>
                <div class="de-project__publications-inner">
                    <span>2019</span>
                    <strong>interior+design</strong>
                </div>
            </div>
        </div>
        <div class="de-project__image-block">
            <img src="./img/deproject/de2.png" alt="">
            <img src="./img/deproject/de3.png" alt="">
            <img src="./img/deproject/de4.png" alt="">
        </div>
        <div class="de-project__description">
            <strong>о проекте</strong>
            <p>Золотая миля. В духе русского авангарда. Белый цвет, цвет бесконечного пространства в супрематических полотнах, получил развитие в интерьере, создав геометрический объем общего пространства. Он самодостаточен и также является фоном для основных элементов интерьера  - геометрических доминирующих скульптур. </p>
            <p> В основе идей супрематизма (от латинского supremus – наивысший) лежит превосходство чистой геометрии и цвета над сложившимися представлениями о форме и пространстве. Так и этот интерьер является белым фоном для линейных геометрических скульптур из металла, состоящих из плоскостей простой геометрии, соединяющихся в объемные монументальные композиции.</p>
        </div>
        <div class="de-project__swiper">
            <div class="de-project__swiper-wrapper">
                <div class="de-project__swiper-slide">
                    <div class="de-project__swiper-image">
                        <img src="./img/deproject/slide1.png" alt="">
                    </div>
                </div>
                <div class="de-project__swiper-slide">
                    <div class="de-project__swiper-image">
                        <img src="./img/deproject/slide2.png" alt="">
                    </div>
                </div>
                <div class="de-project__swiper-slide">
                    <div class="de-project__swiper-image">
                        <img src="./img/deproject/slide3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="de-project__mob-block">
            <div class="de-project__swiper-one swiper">
                <div class="de-project__swiper-one-wrapper swiper-wrapper">
                    <div class="de-project__swiper-one-slide swiper-slide">
                        <div class="de-project__swiper-one-slide-image">
                            <img src="./img/deproject/slide1.png" alt="">
                        </div>
                    </div>
                    <div class="de-project__swiper-one-slide swiper-slide">
                        <div class="de-project__swiper-one-slide-image">
                            <img src="./img/deproject/slide2.png" alt="">
                        </div>
                    </div>
                    <div class="de-project__swiper-one-slide swiper-slide">
                        <div class="de-project__swiper-one-slide-image">
                            <img src="./img/deproject/slide3.png" alt="">
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="de-project__swiper-two swiper">
                <div class="de-project__swiper-two-wrapper swiper-wrapper">
                    <div class="de-project__swiper-two-slide swiper-slide">
                        <div class="de-project__swiper-two-slide-image">
                            <img src="./img/deproject/slide3.png" alt="">
                        </div>
                    </div>
                    <div class="de-project__swiper-two-slide swiper-slide">
                        <div class="de-project__swiper-two-slide-image">
                            <img src="./img/deproject/slide2.png" alt="">
                        </div>
                    </div>
                    <div class="de-project__swiper-two-slide swiper-slide">
                        <div class="de-project__swiper-two-slide-image">
                            <img src="./img/deproject/slide1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="de-project__arrows">
            <div class="de-project__prev"></div>
            <div class="de-project__next"></div>
        </div>
        <div class="de-project__description">
            <strong>концепция</strong>
            <p>Супрематизм имеет три ступени черного, цвета и белого. Первая – квадрат и элементарные формы: круг, линия, крест. Вторая – сложные супрематические композиции. Третья – белое на белом.  В работах Каземира Мелевича, яркими примерами этих этапов являются – Черный квадрат, Супремус №56, Белый крест.  </p>
            <p>В концепции интерьера я хотел соединить три этих этапа развития популярного течения русского авангарда первой половины 20-ого столетия, создав объемную инсталляцию – интерьер, погружающую в мир бесконечного белого пространства, цвета и геометрии.</p>
        </div>

        <div class="de-project__pagination">
            <div class="de-project__prev-block">
                <div class="de-project__prev-block-inner">
                    <a href="" class="de-project__prev-block-link">предыдущий проект</a>
                    <div class="de-project__prev-block-name">SOUTH BYTOVO</div>
                </div>
                <div class="de-project__prev-block-image">
                    <img src="./img/deproject/deprev.png" alt="">
                </div>
            </div>
            <div class="de-project__next-block">
                <div class="de-project__next-block-image">
                    <img src="./img/deproject/denext.png" alt="">
                </div>
                <div class="de-project__next-block-inner">
                    <a href="" class="de-project__next-block-link">следующий проект</a>
                    <div class="de-project__next-block-name">GALAXY BAR</div>
                </div>
                
            </div>
        </div>

        
    </div>
</section>