<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="" class="header__logo">maxim kashin</a>
            <nav class="header__nav">
                <ul class="header__nav-lists">
                    <li class="header__nav-item"><a href="">О нас</a></li>
                    <li class="header__nav-item"><a href="">Портфолио</a></li>
                    <li class="header__nav-item"><a href="">Цены</a></li>
                    <li class="header__nav-item"><a href="">Контакты</a></li>
                    <button class="header__close">
                        <img src="./img/icon/close.svg" alt="">
                    </button>
                </ul>
               
            </nav>
            <div class="header__info">
                <a href="">Behance</a>
                <a href="">Archi.ru</a>
            </div>
            <button class="header__burger">
                <img src="./img/icon/burger.svg" alt="">
            </button>
        </div>
    </div>
</header>