<section class="partners">
    <div class="container">
        <div class="partners__inner">
            <a href="" class="partners__black">
                <img src="./img/partners/black.svg" alt="">
            </a>
            <a href="" class="partners__chiken">
                <img src="./img/partners/chiken.svg" alt="">
            </a>
            <a href="" class="partners__volvo">
                <img src="./img/partners/volvo.svg" alt="">
            </a>
            <a href="" class="partners__ntw">
                <img src="./img/partners/ntw.svg" alt="">
            </a>
            <a href="" class="partners__moscow">
                <img src="./img/partners/moscow.svg" alt="">
            </a>
        </div>
        <div class="swiper partners__swiper ">
            <div class="swiper-wrapper partners__swiper-wrapper">
                <a href="" class="swiper-slide partners__swiper-slide">
                    <img src="./img/partners/black.svg" alt="">
                </a>
                <a href="" class="swiper-slide partners__swiper-slide">
                    <img src="./img/partners/chiken.svg" alt="">
                </a>
                <a href="" class="swiper-slide partners__swiper-slide">
                    <img src="./img/partners/volvo.svg" alt="">
                </a>
                <a href="" class="swiper-slide partners__swiper-slide">
                    <img src="./img/partners/ntw.svg" alt="">
                </a>
                <a href="" class="swiper-slide partners__swiper-slide">
                    <img src="./img/partners/moscow.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /.partners -->