<section class="portfolio">
    <div class="container">
        <div class="portfolio__title">
            Портфолио
        </div>
        <div class="portfolio__inner">
            <div class="portfolio__inner-title">
                <div class="portfolio__inner-title-text">общественные интерьеры</div>
                <div class="portfolio__inner-title-arrows">
                    <div class="portfolio__inner-prev"></div>
                    <div class="portfolio__inner-next"></div>
                </div>
            </div>
            <div class="portfolio__swiper swiper">
                <div class="portfolio__swiper-wrapper swiper-wrapper">
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide1.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide2.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide3.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="portfolio__inner">
            <div class="portfolio__inner-title">
                <div class="portfolio__inner-title-text">концепции интерьеров</div>
                <div class="portfolio__inner-title-arrows">
                    <div class="portfolio__inner-prev"></div>
                    <div class="portfolio__inner-next"></div>
                </div>
            </div>
            <div class="portfolio__swiper swiper">
                <div class="portfolio__swiper-wrapper swiper-wrapper">
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide3.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide3.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide2.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide1.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio__inner">
            <div class="portfolio__inner-title">
                <div class="portfolio__inner-title-text">выставочные пространства</div>
                <div class="portfolio__inner-title-arrows">
                    <div class="portfolio__inner-prev"></div>
                    <div class="portfolio__inner-next"></div>
                </div>
            </div>
            <div class="portfolio__swiper swiper">
                <div class="portfolio__swiper-wrapper swiper-wrapper">
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide2.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide1.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide3.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio__inner">
            <div class="portfolio__inner-title">
                <div class="portfolio__inner-title-text">архитектурная концепция (АГР)</div>
                <div class="portfolio__inner-title-arrows">
                    <div class="portfolio__inner-prev"></div>
                    <div class="portfolio__inner-next"></div>
                </div>
            </div>
            <div class="portfolio__swiper swiper">
                <div class="portfolio__swiper-wrapper swiper-wrapper">
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide3.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide1.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide2.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio__inner">
            <div class="portfolio__inner-title">
                <div class="portfolio__inner-title-text">жилые частные интерьеры</div>
                <div class="portfolio__inner-title-arrows">
                    <div class="portfolio__inner-prev"></div>
                    <div class="portfolio__inner-next"></div>
                </div>
            </div>
            <div class="portfolio__swiper swiper">
                <div class="portfolio__swiper-wrapper swiper-wrapper">
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide2.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide3.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide4.png" alt="">
                        </div>
                    </a>
                    <a href="" class="portfolio__swiper-slide">
                        <div class="portfolio__swiper-slide-image">
                            <img src="./img/portfolio/slide1.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.portfolio -->