<section class="price">
    <div class="container">
        <div class="price__title">
            Цены
        </div>
        <div class="price__wrapper">
            <div class="price__block">
                <div class="price__block-name">концепции интерьеров</div>
                <div class="price__block-price">от 4000 <span>₽</span> / m2</div>
            </div>
            <div class="price__block">
                <div class="price__block-name">архитектурная концепция (АГР)</div>
                <div class="price__block-price">от 4000 <span>₽</span> / m2</div>
            </div>
            <div class="price__block">
                <div class="price__block-name">жилые частные интерьеры</div>
                <div class="price__block-price">от 4000 <span>₽</span> / m2</div>
            </div>
        </div>
    </div>
</section>