<section class="project">
    <div class="container">
        <div class="project__block-title">
            <h2>Наши проекты</h2>
            <a href="" class="all-btn"><span>смотреть все</span></a>
        </div>
        <!-- title -->
      
       <div class="project__wrapper-block">
        <a href="" class="project__table">
            <div class="project__table-image"><img src="./img/project/project1.png" alt=""></div>
            <div class="project__table-name">VODNIY STADION</div>
            <div class="project__table-inner">
                <div class="project__table-date">2019</div>
                <div class="project__table-geo">Moscow, Russia</div>
                <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
            </div>
        </a>
        <a href="" class="project__table">
            <div class="project__table-image"><img src="./img/project/project2.png" alt=""></div>
            <div class="project__table-name">BLACK STAR CARWASH</div>
            <div class="project__table-inner">
                <div class="project__table-date">2018</div>
                <div class="project__table-geo">Tbilisi, Georgia</div>
                <div class="project__table-radius">1200 <span>M<sup>2</sup></span></div>
            </div>
        </a>
        <a href="" class="project__table">
            <div class="project__table-image"><img src="./img/project/project3.png" alt=""></div>
            <div class="project__table-name">SOUTH BYTOVO</div>
            <div class="project__table-inner">
                <div class="project__table-date">2017</div>
                <div class="project__table-geo">Tbilisi, Georgia</div>
                <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
            </div>
        </a>
        <a href="" class="project__table">
            <div class="project__table-image"><img src="./img/project/project4.png" alt=""></div>
            <div class="project__table-name">GALAXY BAR</div>
            <div class="project__table-inner">
                <div class="project__table-date">2018</div>
                <div class="project__table-geo">Moscow, Russia</div>
                <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
            </div>
        </a>
       </div>
       <a href="" class="all-btn mob"><span>смотреть все</span></a>


    </div>
</section>