<section class="project">
    <div class="container">
        <div class="project__title">
            <span>200 +  кейсов</span>
            <strong>Наши проекты</strong>
        </div>
        <!-- title -->
        <div class="js-open-size">
            <div class="project__top">
                <span class="js-size"> 
                    <div class="text">Выбрать вид занятости</div>
                </span>
                <button>
                    <img src="./img/icon/arrowdown.svg" alt="">
                </button>
            </div>
            <ul class="project__lists">
                <li class="project__item project__item-js">Все</li>
                <li class="project__item project__item-js">Общественные интерьеры</li>
                <li class="project__item project__item-js">Концепции интерьеров</li>
                <li class="project__item project__item-js">Выставочные пространства</li>
                <li class="project__item project__item-js" >Архитектурная концепция (АГР)</li>
                <li class="project__item project__item-js">Жилые частные интерьеры</li>
                
            </ul>
        </div>

      

        <div class="project__wrapper project__wrapper-js">
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project1.png" alt=""></div>
                <div class="project__table-name">VODNIY STADION</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2019</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project2.png" alt=""></div>
                <div class="project__table-name">BLACK STAR CARWASH</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">1200 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project3.png" alt=""></div>
                <div class="project__table-name">SOUTH BYTOVO</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2017</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project4.png" alt=""></div>
                <div class="project__table-name">GALAXY BAR</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project1.png" alt=""></div>
                <div class="project__table-name">VODNIY STADION</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2019</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project2.png" alt=""></div>
                <div class="project__table-name">BLACK STAR CARWASH</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">1200 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project3.png" alt=""></div>
                <div class="project__table-name">SOUTH BYTOVO</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2017</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project4.png" alt=""></div>
                <div class="project__table-name">GALAXY BAR</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project1.png" alt=""></div>
                <div class="project__table-name">VODNIY STADION</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2019</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project2.png" alt=""></div>
                <div class="project__table-name">BLACK STAR CARWASH</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">1200 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project3.png" alt=""></div>
                <div class="project__table-name">SOUTH BYTOVO</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2017</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project4.png" alt=""></div>
                <div class="project__table-name">GALAXY BAR</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
        </div>
         <div class="project__wrapper project__wrapper-js">
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project1.png" alt=""></div>
                <div class="project__table-name">VODNIY STADION</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2019</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project2.png" alt=""></div>
                <div class="project__table-name">BLACK STAR CARWASH</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">1200 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project3.png" alt=""></div>
                <div class="project__table-name">SOUTH BYTOVO</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2017</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project4.png" alt=""></div>
                <div class="project__table-name">GALAXY BAR</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project1.png" alt=""></div>
                <div class="project__table-name">VODNIY STADION</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2019</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project2.png" alt=""></div>
                <div class="project__table-name">BLACK STAR CARWASH</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">1200 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project3.png" alt=""></div>
                <div class="project__table-name">SOUTH BYTOVO</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2017</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project4.png" alt=""></div>
                <div class="project__table-name">GALAXY BAR</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project1.png" alt=""></div>
                <div class="project__table-name">VODNIY STADION</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2019</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project2.png" alt=""></div>
                <div class="project__table-name">BLACK STAR CARWASH</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">1200 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project3.png" alt=""></div>
                <div class="project__table-name">SOUTH BYTOVO</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2017</div>
                    <div class="project__table-geo">Tbilisi, Georgia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
            <a href="" class="project__table">
                <div class="project__table-image"><img src="./img/project/project4.png" alt=""></div>
                <div class="project__table-name">GALAXY BAR</div>
                <div class="project__table-inner">
                    <div class="project__table-date">2018</div>
                    <div class="project__table-geo">Moscow, Russia</div>
                    <div class="project__table-radius">120 <span>M<sup>2</sup></span></div>
                </div>
            </a>
        </div>
    </div>
</section>