<section class="services">
    <div class="container">
        <div class="services__title">
            Другие услуги
        </div>
        <div class="services__wrapper">
            <a href="" class="services__table">
                <div class="services__table-image">
                    <img src="./img/services/services1.png" alt="">
                </div>
                <div class="services__table-link">
                    концепции<br> интерьеров
                </div>
            </a>
            <a href="" class="services__table">
                <div class="services__table-image">
                    <img src="./img/services/services2.png" alt="">
                </div>
                <div class="services__table-link">
                    концепции<br> интерьеров
                </div>
            </a>
            <a href="" class="services__table">
                <div class="services__table-image">
                    <img src="./img/services/services3.png" alt="">
                </div>
                <div class="services__table-link">
                    концепции<br> интерьеров
                </div>
            </a>
            <a href="" class="services__table">
                <div class="services__table-image">
                    <img src="./img/services/services4.png" alt="">
                </div>
                <div class="services__table-link">
                    концепции<br> интерьеров
                </div>
            </a>
        </div>
    </div>
</section>