<section class="studio">
    <div class="container">
        <div class="studio__wrapper">
            <div class="studio__left">
                <div class="studio__title">
                    Студия дизайна интерьера
                </div>
                <div class="studio__text">
                    При создании каждой новой концепции моя основная цель – создать интересную архитектуру
                    пространства, наполнить его игрой светотени
                </div>
                <a href="" class="all-btn"><span>оставить заявку</span></a>
            </div>
            <div class="studio__right">
                <div class="studio__right-block">
                    <div class="studio__right-image">
                        <img src="./img/studio/prev.png" alt="">
                    </div>
                    <div class="studio__right-image">
                        <img src="./img/studio/next.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="studio__desk-text">
            <div class="studio__desk-text-left">
                <p>На основе всего вышеперечисленного создается и визуализируется трехмерная модель стенда, прорабатываются детали технической реализации – применяемые материалы, цветовые и световые решения, используемые несущие конструкции и т.п. 
                    В обязательном порядке надежность будущей конструкции проверяется необходимыми расчетами, что гарантирует стабильность эксплуатационных характеристик и полную безопасность.</p>
            </div>
            <div class="studio__desk-text-right">
                <p>Каким бы ни был уровень и масштаб предстоящей выставки, самое главное – чтобы выставочный стенд уверенно выделялся на фоне стендов других участников, привлекал внимание посетителей, вызывал яркие эмоции и надолго оставался в их памяти.</p>
                <strong>Работу над будущим стендом мы начинаем с определения концепции, изучения продукта компании, понимания сильных сторон, которые нужно подчеркнуть. Детально изучаем техническое задание и пожелания клиента. </strong>
                <p>  На основе всего вышеперечисленного создается и визуализируется трехмерная модель стенда, прорабатываются детали технической реализации – применяемые материалы, цветовые и световые решения, используемые несущие конструкции и т.п. В обязательном порядке надежность будущей конструкции проверяется необходимыми расчетами, что гарантирует стабильность эксплуатационных характеристик и полную безопасность.</p>
                <p>  Разрабатывая дизайн шоу-румов, бутиков, магазинов, необходимо учитывать особенности торговых площадей, это поможет максимально раскрыть сильные стороны помещения и нивелировать возможные недостатки, акцентируя внимание на стендах, товарах и комфорте посетителей и работников. Стилистика, выбранная при разработке оформления таких помещений, должна работать в первую очередь на бренд компании, задействуя при этом доступную полезную площадь. В большинстве случаев стандартные и шаблонные решения, даже будучи адаптированы под конкретный проект, проигрывают качеству индивидуальной разработки.</p>
            </div>
        </div>
    </div>
</section>