<section class="catalog-main">
        <div class="container">
            <div class="catalog-main__wrapper">
                <div class="catalog-main__swiper swiper">
                    <div class="catalog-main__swiper-wrapper swiper-wrapper">
                        <div class="catalog-main__swiper-slide swiper-slide">
                            <div class="catalog-main__swiper-slide-content">
                                <div class="catalog-main__swiper-slide-content-block">
                                    <div class="catalog-main__title">
                                        ощущения 
                                    </div>
                                    <!-- title -->
                                    <a href="" class="big-btn big-btn--left">
                                        <div class="big-btn__wrapper">
                                            <div class="big-btn__inner">
                                                <span>на вкус</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="catalog-main__swiper-slide-content-wrapper">
                                    <div class="catalog-main__logo-block">
                                        <div class="catalog-main__logo">
                                            <img src="./img/mainblock/logomarken.png" alt="">
                                        </div>
                                        <div class="catalog-main__logo-text">
                                            Будь первым - ощути новые вкусы Deep Vape
                                        </div>
                                    </div>
                                   <div class="catalog-main__image">
                                        <img src="./img/catalog/cat1.png" alt="">
                                   </div>
                                </div>
                            </div>
                            <!-- content -->
                        </div>
                        <!--  -->
                        <div class="catalog-main__swiper-slide swiper-slide">
                            <div class="catalog-main__swiper-slide-content">
                                <div class="catalog-main__swiper-slide-content-block">
                                    <div class="catalog-main__title">
                                        ощущения 
                                    </div>
                                    <!-- title -->
                                    <a href="" class="big-btn big-btn--left">
                                        <div class="big-btn__wrapper">
                                            <div class="big-btn__inner">
                                                <span>на вкус</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="catalog-main__swiper-slide-content-wrapper">
                                    <div class="catalog-main__logo-block">
                                        <div class="catalog-main__logo">
                                            <img src="./img/mainblock/logomarken.png" alt="">
                                        </div>
                                        <div class="catalog-main__logo-text">
                                            Будь первым - ощути новые вкусы Deep Vape
                                        </div>
                                    </div>
                                   <div class="catalog-main__image">
                                        <img src="./img/catalog/cat2.png" alt="">
                                   </div>
                                </div>
                            </div>
                            <!-- content -->
                        </div>
                        <!--  -->
                        <div class="catalog-main__swiper-slide swiper-slide">
                            <div class="catalog-main__swiper-slide-content">
                                <div class="catalog-main__swiper-slide-content-block">
                                    <div class="catalog-main__title">
                                        ощущения 
                                    </div>
                                    <!-- title -->
                                    <a href="" class="big-btn big-btn--left">
                                        <div class="big-btn__wrapper">
                                            <div class="big-btn__inner">
                                                <span>на вкус</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="catalog-main__swiper-slide-content-wrapper">
                                    <div class="catalog-main__logo-block">
                                        <div class="catalog-main__logo">
                                            <img src="./img/mainblock/logomarken.png" alt="">
                                        </div>
                                        <div class="catalog-main__logo-text">
                                            Будь первым - ощути новые вкусы Deep Vape
                                        </div>
                                    </div>
                                   <div class="catalog-main__image">
                                        <img src="./img/catalog/cat1.png" alt="">
                                   </div>
                                </div>
                            </div>
                            <!-- content -->
                        </div>
                        <!--  -->
                        <div class="catalog-main__swiper-slide swiper-slide">
                            <div class="catalog-main__swiper-slide-content">
                                <div class="catalog-main__swiper-slide-content-block">
                                    <div class="catalog-main__title">
                                        ощущения 
                                    </div>
                                    <!-- title -->
                                    <a href="" class="big-btn big-btn--left">
                                        <div class="big-btn__wrapper">
                                            <div class="big-btn__inner">
                                                <span>на вкус</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="catalog-main__swiper-slide-content-wrapper">
                                    <div class="catalog-main__logo-block">
                                        <div class="catalog-main__logo">
                                            <img src="./img/mainblock/logomarken.png" alt="">
                                        </div>
                                        <div class="catalog-main__logo-text">
                                            Будь первым - ощути новые вкусы Deep Vape
                                        </div>
                                    </div>
                                   <div class="catalog-main__image">
                                        <img src="./img/catalog/cat2.png" alt="">
                                   </div>
                                </div>
                            </div>
                            <!-- content -->
                        </div>
                        <!--  -->
                    </div>
                </div>
                <!-- swiper -->
                <div class="catalog-main__table">
                    <div class="catalog-main__table-swiper swiper">
                        <div class="catalog-main__table-swiper-wrapper swiper-wrapper">
                            <div class="catalog-main__table-swiper-slide swiper-slide">
                                <img src="./img/catalog/catmin1.png" alt="">
                            </div>
                            <div class="catalog-main__table-swiper-slide swiper-slide">
                                <img src="./img/catalog/catmin2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="catalog-main__table-next">
                        вперед
                    </div>
                </div>
            </div>
            <!-- wrapper -->
            <div class="pagination-slider">
                <div class="pagination-slider__prev catalog-main__prev"></div>
                <div class="pagination-slider__bullets catalog-main__bullets">
                    
                </div>
                <div class="pagination-slider__next catalog-main__next"></div>
            </div>
        </div>
</section>