<section class="catalog">
    <div class="container">
        <div class="catalog__wrapper">
            <div class="catalog__title">
                Каталог
            </div>
            <div class="catalog__swiper-item swiper" >
                <div class="catalog__swiper-item-wrapper swiper-wrapper" >
                    <div class="catalog__swiper-item-slide swiper-slide">
                        <div class="catalog__item">Все вкусы</div>
                    </div>
                    <div class="catalog__swiper-item-slide swiper-slide">
                        <div class="catalog__item">Выбрать вкус</div>
                    </div>
                    <div class="catalog__swiper-item-slide swiper-slide">
                        <div class="catalog__item">Выбрать линейку</div>
                    </div>
                    <div class="catalog__swiper-item-slide swiper-slide">
                        <div class="catalog__item">Стоимость</div>
                    </div>
                </div>
            </div>
            <!-- swiper -->
            <div class="catalog__inner">
                <div class="catalog__inner-title">
                    <span>head </span> liners
                </div>
                <div class="catalog__inner-block">
                    <div class="catalog__inner-text">
                        <strong>#headliners</strong>
                        <p>Мы первая российская компания, которая инвестирует в строительство завода полного цикла производства никотина: от выращивания табачного листа до производства никотина и содержащей его продукции. цикла производства никотина: от выращивания табачного листа до производства никотина 
                            Мы первая российская компания, которая инвестирует в строительство завода полного цикла производства никотина: от выращивания </p>
                    </div>

                    <div class="catalog__swiper swiper">
                        <div class="catalog__swiper-wrapper swiper-wrapper">
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content blue">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog1.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content red">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog2.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content brown">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog3.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content brown">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog3.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                        </div>
                        <div class="pagination-slider">
                            <div class="pagination-slider__prev catalog__prev"></div>
                            <div class="pagination-slider__bullets catalog__bullets">
                                
                            </div>
                            <div class="pagination-slider__next catalog__next"></div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="catalog__inner">
                <div class="catalog__inner-title">
                    <span>head </span> liners
                </div>
                <div class="catalog__inner-block">
                    <div class="catalog__inner-text">
                        <strong>#headliners</strong>
                        <p>Мы первая российская компания, которая инвестирует в строительство завода полного цикла производства никотина: от выращивания табачного листа до производства никотина и содержащей его продукции. цикла производства никотина: от выращивания табачного листа до производства никотина 
                            Мы первая российская компания, которая инвестирует в строительство завода полного цикла производства никотина: от выращивания табачного листа до производства никотина и содержащей его продукции. цикла производства никотина: от выращивания табачного листа до производства никотина  </p>
                    </div>

                    <div class="catalog__swiper swiper">
                        <div class="catalog__swiper-wrapper swiper-wrapper">
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content blue">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog1.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content red">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog2.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content brown">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog3.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content brown">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog3.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                        </div>
                        <div class="pagination-slider">
                            <div class="pagination-slider__prev catalog__prev"></div>
                            <div class="pagination-slider__bullets catalog__bullets">
                                
                            </div>
                            <div class="pagination-slider__next catalog__next"></div>
                        </div>
                    </div>
                </div>

                
            </div>


            <div class="catalog__inner">
                <div class="catalog__inner-title">
                    <span>head </span> liners
                </div>
                <div class="catalog__inner-block">
                    <div class="catalog__inner-text">
                        <strong>#headliners</strong>
                        <p>Мы первая российская компания, которая инвестирует в строительство завода полного цикла производства никотина: от выращивания табачного листа до производства никотина и содержащей его продукции. цикла производства никотина: от выращивания табачного листа до производства никотина 
                            Мы первая российская компания, которая инвестирует в строительство завода полного цикла производства никотина: от выращивания табачного листа до производства никотина и содержащей его продукции. цикла производства никотина: от выращивания табачного листа до производства никотина  </p>
                    </div>

                    <div class="catalog__swiper swiper">
                        <div class="catalog__swiper-wrapper swiper-wrapper">
                            <div href="" class="catalog__slide swiper-slide modal-open">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content blue">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog1.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content red">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog2.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content brown">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog3.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                            <a href="" class="catalog__slide swiper-slide">
                                <div class="catalog__slide-btn">
                                    <img src="./img/icon/arrowdownleft.svg" alt="">
                                </div>
                                <div class="catalog__slide-content brown">
                                    <div class="catalog__slide-content-image">
                                        <img src="./img/catalog/catalog3.png" alt="">
                                    </div>
                                    <div class="catalog__slide-content-text">
                                        <div class="catalog__slide-content-text-name">Манго персик</div>
                                        <div class="catalog__slide-content-text-sku">15 SKU</div>
                                    </div>
                                </div>
                            </a>
                            <!--  -->
                        </div>
                        <div class="pagination-slider">
                            <div class="pagination-slider__prev catalog__prev"></div>
                            <div class="pagination-slider__bullets catalog__bullets">
                                
                            </div>
                            <div class="pagination-slider__next catalog__next"></div>
                        </div>
                    </div>
                </div>

                
            </div>
           
        </div>
    </div>
</section>
<!-- /.catalog -->