<section class="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts__title">
                Контакты
            </div>
            <form action="" class="contacts__form">
                <div class="contacts__form-wrapper">
                    <div class="contacts__form-inner">
                        <label for="">Ваше имя</label>
                        <input type="text" placeholder="Яна">
                    </div>
                    <div class="contacts__form-inner">
                        <label for="">телефон</label>
                        <input type="text" placeholder="+ 7 928 565 33 54">
                    </div>
                </div>
                <div class="contacts__form-inner">
                    <label for="">E-mail</label>
                    <input type="text" placeholder="testmail@mail.ru">
                </div>
                <div class="contacts__form-inner">
                    <label for="">комментарий</label>
                    <input type="text" placeholder="Ваше сообщение..">
                </div>
                <div class="contacts__form-check">
                    <input type="checkbox" class="custom-checkbox" id="happy" name="happy" value="yes">
                    <label for="happy">Я согласен(на) на обработку персональных данных</label>
                </div>
                <button class="link-share">
                    <span>отправить</span>
                </button>
            </form>
            <div class="contacts__map-block">
                <div class="contacts__map">
                    <div id="map"></div>
                </div>
            </div>
            <div class="contacts__tables">
                <div class="contacts__table">+7 499 455 45 34</div>
                <div class="contacts__table">distr@nicton.ru</div>
                <div class="contacts__table">123112, г. Москва, Пресненская набережная, д.12, этаж 28, ком. 9</div>
            </div>
        </div>
    </div>
</section>