<section class="experts">
    <div class="container">
        <div class="experts__wrapper" id="experts__wrapper">
            <div class="experts__left">
                <div class="experts__left-block">
                    <div class="experts__left-block-inner">
                        <div class="experts__left-block-inner-table">
                            10+
                        </div>
                        <div class="experts__left-block-inner-text">
                            лет опыта в развитии использования никотина 
                            в фармакологии
                        </div>
                    </div>
                    <!-- inner -->
                    <div class="pagination-slider">
                        <div class="pagination-slider__prev experts__prev"></div>
                        <div class="pagination-slider__bullets experts__bullets">
                    
                        </div>
                        <div class="pagination-slider__next experts__next"></div>
                    </div>
                </div>
                <div class="experts__left-title">
                    <p>Открываем миру новые возможности использования никотина в самых разных сферах жизни</p>
                    <div class="experts__left-title-big">Эксперты<br>
                       <span>в никотиновой</span><br>
                        отрасли</div>
                </div>
            </div>
            <div class="experts__right">
                <div class="experts__right-swiper swiper">
                    <div class="experts__right-swiper-wrapper swiper-wrapper">
                        <div class="experts__right-slide swiper-slide">
                            <div class="experts__right-slide-content">
                                <strong>#преимущества</strong>
                                <p>Мы первая российская компания, которая инвестирует в строительство завода полного цикла производства никотина: от выращивания табачного листа до производства никотина и содержащей его продукции. цикла производства никотина: от выращивания табачного листа до производства никотина </p>
                            </div>
                        </div>
                        <!-- 1 -->
                        <div class="experts__right-slide swiper-slide">
                            <div class="experts__right-slide-content">
                                <strong>#преимущества</strong>
                                <p>Nicton работает с производителями никотина фармацевтического качества, поставляющими продукцию высшей степени очистки (99.7%) из Швейцарии и других стран.Никотин высшего качества</p>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="experts__right-slide swiper-slide">
                            <div class="experts__right-slide-content">
                                <strong>#преимущества</strong>
                                <p>Инвестиции в собственные разработки</p>
                                <p>В процессе разработки нашей продукции используются самые современные технологии.</p>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="experts__right-slide swiper-slide">
                            <div class="experts__right-slide-content">
                                <strong>#преимущества</strong>
                                <p>Инвестиции в собственные разработки</p>
                                <p>В процессе разработки нашей продукции используются самые современные технологии.</p>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="experts__right-slide swiper-slide">
                            <div class="experts__right-slide-content">
                                <strong>#преимущества</strong>
                                <p>Инвестиции в собственные разработки</p>
                                <p>В процессе разработки нашей продукции используются самые современные технологии.</p>
                            </div>
                        </div>
                        <!-- 3 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new">
        <div class="container">
            <div class="new__title">
                <h2>Наши<span>новинки</span></h2>
                <a href="" class="link">ощути больше</a>
            </div>
            <div class="new__wrapper">
                <div class="new__swiper swiper">
                    <div class="new__swiper-wrapper swiper-wrapper">
                        <a href="" class="new__slide swiper-slide">
                            <div class="new__slide-btn">
                                <img src="./img/icon/arrowdownleft.svg" alt="">
                            </div>
                            <div class="new__slide-content grey">
                                <div class="new__slide-content-image">
                                    <img src="./img/new/new1.png" alt="">
                                </div>
                                <div class="new__slide-content-text">
                                    <div class="new__slide-content-text-name">Манго персик</div>
                                    <div class="new__slide-content-text-sku">15 SKU</div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="new__slide swiper-slide">
                            <div class="new__slide-btn">
                                <img src="./img/icon/arrowdownleft.svg" alt="">
                            </div>
                            <div class="new__slide-content green">
                                <div class="new__slide-content-image">
                                    <img src="./img/new/new2.png" alt="">
                                </div>
                                <div class="new__slide-content-text">
                                    <div class="new__slide-content-text-name">Манго персик</div>
                                    <div class="new__slide-content-text-sku">15 SKU</div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="new__slide swiper-slide">
                            <div class="new__slide-btn">
                                <img src="./img/icon/arrowdownleft.svg" alt="">
                            </div>
                            <div class="new__slide-content blue">
                                <div class="new__slide-content-image">
                                    <img src="./img/new/new1.png" alt="">
                                </div>
                                <div class="new__slide-content-text">
                                    <div class="new__slide-content-text-name">Манго персик</div>
                                    <div class="new__slide-content-text-sku">15 SKU</div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="new__slide swiper-slide">
                            <div class="new__slide-btn">
                                <img src="./img/icon/arrowdownleft.svg" alt="">
                            </div>
                            <div class="new__slide-content green">
                                <div class="new__slide-content-image">
                                    <img src="./img/new/new2.png" alt="">
                                </div>
                                <div class="new__slide-content-text">
                                    <div class="new__slide-content-text-name">Манго персик</div>
                                    <div class="new__slide-content-text-sku">15 SKU</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="pagination-slider">
                    <div class="pagination-slider__prev new__prev"></div>
                    <div class="pagination-slider__bullets new__bullets">
                
                    </div>
                    <div class="pagination-slider__next new__next"></div>
                </div>
            </div>
        </div>
    </div>
</section>