<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
          <a href="" class="footer__logo">
              <img src="./img/logo/logo.svg" alt="">
          </a>
          <nav class="footer__nav">
              <ul class="footer__nav-lists">
                  <li class="footer__item"><a href="">Каталог</a></li>
                  <li class="footer__item"><a href="">О компании</a></li>
                  <li class="footer__item"><a href="">Материалы</a></li>
                  <li class="footer__item"><a href="">Контакты</a></li>
              </ul>
          </nav>
          <a href="+7 499 455 45 34" class="all-btn">
              <span>+7 499 455 45 34</span>
          </a>
      </div>
      <div class="footer__inner">
          <div class="footer__inner-social">
              <a href="">
                <img src="./img/icon/telegram.svg" alt="">
              </a>
              <a href="">
                <img src="./img/icon/vk.svg" alt="">
              </a>
          </div>
          <div class="footer__inner-text">
            <span>Политика в отношении COOKIE-файлов</span>
             <span>Политика в отношении обработки персональных данных</span>
            <span>Политика конфиденциальности</span>
          </div>
          <a href="" class="footer__inner-logo">
            <img src="./img/icon/rec.svg" alt="">
          </a>
      </div>
    </div>
</footer>
<div class="modal">
  <div class="modal__container">
      <div class="modal__mini-logo">
        <img src="./img/logo/logo.svg" alt="">
      </div>
      <button class="modal__close js-modal-close">
          <img src="./img/icon/x.svg" alt="">
      </button>
      <div class="modal__block">
          <div class="modal__block-image">
              <img src="./img/catalog/cat1.png" alt="">
          </div>
          <!-- image -->
          <div class="modal__block-text">
              <div class="modal__block-text-title">
                Tropical shot
              </div>
              <div class="modal__block-inner">
                  <div class="modal__block-inner-name">
                    папайя ананас
                  </div>
                  <div class="modal__block-inner-su">
                    15 SKU
                  </div>
              </div>
              <div class="modal__block-desk">
                Мы первая российская компания, которая инвестирует в строительство завода полного цикла производства никотина: от выращивания табачного листа до производства никотина и содержащей его продукции. цикла производства никотина: от выращивания табачного листа до производства никотина 
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal-two">
    <div class="modal-two__container">
        <div class="modal-two__title">
            Вам уже есть 18 лет?
        </div>
        <div class="modal-two__text">
          <p> Вы находитесь на официальном сайте Deep Vape. На сайте представлена информация о никотинсодержащей продукции, которая предназначена исключительно для совершеннолетних потребителей никотинсодержащей продукции в целях информирования об ассортименте товаров Deep Vape, либо о правилах пользования такими товарами. Для доступа на сайт необходимо подтвердить ваш возраст. </p>
          <p>Я подтверждаю, что мне исполнилось 18 лет и что я являюсь потребителем никотинсодержащей продукциии. Я соглашаюсь получить информацию, касающуюся никотиносодержащей продукции, а также соглашаюсь с использованием Сookie и Пользовательским соглашением. </p>
          <p>Если вам нет 18 лет или для вас неприемлема информация, представленная на Сайте, просим покинуть Сайт. </p>
          <p>18+ ПРОДУКЦИЯ СОДЕРЖИТ НИКОТИН, НИКОТИН ВЫЗЫВАЕТ ЗАВИСИМОСТЬ. </p>
        </div>
        <div class="modal-two__inner">
            <button class="modal-two__btn">
               <span>ДА</span>
            </button>
            <button class="modal-two__btn">
               <span>НЕТ</span>
            </button>
        </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="./js/swiper-bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="./js/main.js"></script>
<script src="./js/jq-script.js"></script>