<header class="header">
    <div class="container">
       <div class="burger">
            <input id="menu__toggle" type="checkbox" ></input>
            <label class="menu__btn" for="menu__toggle">
            <span></span>
            </label>
        </div>
        <div class="header__wrapper">
            <a href="" class="header__logo">
                <img src="./img/logo/logo.svg" alt="">
            </a>
            <nav class="header__nav">
                <ul class="header__nav-lists">
                    <li class="header__item"><a href="">Каталог</a></li>
                    <li class="header__item"><a href="">О компании</a></li>
                    <li class="header__item"><a href="">Материалы</a></li>
                    <li class="header__item"><a href="">Контакты</a></li>
                </ul>
            </nav>
            <a href="+7 499 455 45 34" class="all-btn">
                <span>+7 499 455 45 34</span>
            </a>
        </div>
    </div>
</header>