<section class="main-block">
    <div class="container">
        <div class="main-block__wrapper">
            <!-- big-btn -->
            <div class="main-block__inner" id="main-block__inner">
                <div class="main-block__swiper swiper">
                    <div class="main-block__swiper-wrapper swiper-wrapper">
                         <div class="main-block__swiper-slide main-block__swiper-slide--line">
                            <div class="main-block__swiper-slide-content">
                                <div class="main-block__swiper-slide-content-block">
                                    <div class="main-block__title">
                                        ощущения 
                                    </div>
                                    
                                    <a href="" class="big-btn">
                                        <div class="big-btn__wrapper">
                                            <div class="big-btn__inner">
                                                <span>на вкус</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="main-block__swiper-slide-content-wrapper">
                                    <div class="main-block__swiper-slide-content-wrapper-left">
                                        <div class="main-block__deep-word">
                                            расширяй опыт вейпинга с<br>
                                            <span>deep vape</span>
                                        </div>
                                        <div class="main-block__table">
                                            <div class="main-block__table-text">погрузись<br>
                                                в бренд</div>
                                            <div class="main-block__table-inner">
                                                <div class="main-block__table-star">
                                                    <img src="./img/mainblock/stars.svg" alt="">
                                                </div>
                                                <a href="" class="main-block__table-btn">
                                                    <span>подробнее</span>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                   
                                    <div class="main-block__swiper-slide-content-wrapper-right">
                                        
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                       
                        <div class="main-block__swiper-slide">
                            <div class="main-block__swiper-slide-content">
                                <div class="main-block__swiper-slide-content-block">
                                    <div class="main-block__title">
                                        ощущения 
                                    </div>
                                    <!-- title -->
                                    <a href="" class="big-btn">
                                        <div class="big-btn__wrapper">
                                            <div class="big-btn__inner">
                                                <span>на вкус</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="main-block__swiper-slide-content-wrapper">
                                    <div class="main-block__swiper-slide-content-wrapper-left">
                                        <div class="main-block__text">
                                            <img src="./img/mainblock/logomarken.png" alt="">
                                        </div>
                                        <div class="main-block__table desk">
                                            <div class="main-block__table-text">ощути 10 топовых вкусов</div>
                                            <div class="main-block__table-inner">
                                                <div class="main-block__table-star">
                                                    <img src="./img/mainblock/stars.svg" alt="">
                                                </div>
                                                <a href="" class="main-block__table-btn">
                                                    <span>подробнее</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="main-block__image">
                                            <img src="./img/mainblock/vape1.png" alt="">
                                        </div>
                                    </div>
                                    <!-- left -->
                                    <div class="main-block__swiper-slide-content-wrapper-right">
                                       

                                        <div class="main-block__table mob">
                                            <div class="main-block__table-text">ощути 10 топовых вкусов</div>
                                            <div class="main-block__table-inner">
                                                <div class="main-block__table-star">
                                                    <img src="./img/mainblock/stars.svg" alt="">
                                                </div>
                                                <a href="" class="main-block__table-btn">
                                                    <span>подробнее</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            <!-- content -->
                        </div>
                        <!--  -->
                    
                    </div>
                </div>
                <!-- swiper -->
            </div>
            <!-- inner -->
        </div>
        <div class="pagination-slider">
            <div class="pagination-slider__prev main-block__prev"></div>
            <div class="pagination-slider__bullets main-block__bullets">
                
            </div>
            <div class="pagination-slider__next main-block__next"></div>
        </div>
    </div>
</section>