<section class="news">
    <div class="container">
        <div class="news__title">
            <h2>Наши <span>новости</span></h2>
            <div class="news__swiper swiper">
                <div class="news__swiper-wrapper swiper-wrapper">
                    <div class="news__swiper-slide swiper-slide">
                        <div class="news__swiper-slide-item news__swiper-slide-item-js">Все</div>
                    </div>
                    <div class="news__swiper-slide swiper-slide">
                        <div class="news__swiper-slide-item news__swiper-slide-item-js">Мировой вейпинг</div>
                    </div>
                    <div class="news__swiper-slide swiper-slide">
                        <div class="news__swiper-slide-item news__swiper-slide-item-js">Наши новости</div>
                    </div>
                    <div class="news__swiper-slide swiper-slide">
                        <div class="news__swiper-slide-item news__swiper-slide-item-js">Обзоры</div>
                    </div>
                    <div class="news__swiper-slide swiper-slide">
                        <div class="news__swiper-slide-item news__swiper-slide-item-js">Статьи</div>
                    </div>
                    <div class="news__swiper-slide swiper-slide">
                        <div class="news__swiper-slide-item news__swiper-slide-item-js">Мероприятия</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news__wrapper news__wrapper-js">
            <div class="news__inner">
                <a href="" class="news__big">
                    <div class="news__big-content">
                        <div class="news__big-content-image">
                            <img src="./img/news/news1.png" alt="">
                        </div>
                    </div>
                    <!-- cont -->
                    <div class="news__big-text">
                        <span>Июль 25, 2022</span>
                        <strong>новая линейка вкусов</strong>
                    </div>
                </a>
                <!-- big -->
                <a href="" class="news__medium">
                    <div class="news__medium-content">
                        <div class="news__medium-content-image">
                            <img src="./img/news/news2.png" alt="">
                        </div>
                    </div>
                    <!-- cont -->
                    <div class="news__medium-text">
                        <span>Июль 25, 2022</span>
                        <strong>новая линейка вкусов</strong>
                    </div>
                </a>
            </div>
            <div class="news__inner">
                <a href="" class="news__big">
                    <div class="news__big-content">
                        <div class="news__big-content-image">
                            <img src="./img/news/news3.png" alt="">
                        </div>
                    </div>
                    <!-- cont -->
                    <div class="news__big-text">
                        <span>Июль 25, 2022</span>
                        <strong>новая линейка вкусов</strong>
                    </div>
                </a>
                <!-- big -->
                <a href="" class="news__medium">
                    <div class="news__medium-content">
                        <div class="news__medium-content-image">
                            <img src="./img/news/news2.png" alt="">
                        </div>
                    </div>
                    <!-- cont -->
                    <div class="news__medium-text">
                        <span>Июль 25, 2022</span>
                        <strong>новая линейка вкусов</strong>
                    </div>
                </a>
            </div>
        </div>
        <div class="news__wrapper news__wrapper-js">
            <div class="news__inner">
                <a href="" class="news__big">
                    <div class="news__big-content">
                        <div class="news__big-content-image">
                            <img src="./img/news/news1.png" alt="">
                        </div>
                    </div>
                    <!-- cont -->
                    <div class="news__big-text">
                        <span>Июль 25, 2022</span>
                        <strong>новая линейка вкусов</strong>
                    </div>
                </a>
                <!-- big -->
                <a href="" class="news__medium">
                    <div class="news__medium-content">
                        <div class="news__medium-content-image">
                            <img src="./img/news/news2.png" alt="">
                        </div>
                    </div>
                    <!-- cont -->
                    <div class="news__medium-text">
                        <span>Июль 25, 2022</span>
                        <strong>новая линейка вкусов</strong>
                    </div>
                </a>
            </div>
            <div class="news__inner">
                <div class="news__medium">
                    <div class="news__medium-content">
                        <div class="news__medium-content-image">
                            <img src="./img/news/news2.png" alt="">
                        </div>
                    </div>
                    <!-- cont -->
                    <div class="news__medium-text">
                        <span>Июль 25, 2022</span>
                        <strong>новая линейка вкусов</strong>
                    </div>
                </div>
                <div class="news__big">
                    <div class="news__big-content">
                        <div class="news__big-content-image">
                            <img src="./img/news/news3.png" alt="">
                        </div>
                    </div>
                    <!-- cont -->
                    <div class="news__big-text">
                        <span>Июль 25, 2022</span>
                        <strong>новая линейка вкусов</strong>
                    </div>
                </div>
                <!-- big -->
            </div>
        </div>
        <button class="link-share">
            <span>Все статьи</span>
        </button>
    </div>
</section>