<section class="partners">
    <div class="container">
        <div class="partners__title">
            <h2>Наши <span>партнеры</span></h2>
            <div class="pagination-slider">
                <div class="pagination-slider__prev partners__prev"></div>
                <div class="pagination-slider__bullets partners__bullets">
                    
                </div>
                <div class="pagination-slider__next partners__next"></div>
            </div>
        </div>
        <div class="partners__wrapper">
            <div class="partners__swiper swiper">
                <div class="partners__swiper-wrapper swiper-wrapper">
                    <a href="" class="partners__slide swiper-slide">
                        <div class="partners__slide-content partners__slide-content--miratorg">
                            <img src="./img/partners/miratorg.png" alt="">
                        </div>
                    </a>
                    <a href="" class="partners__slide swiper-slide">
                        <div class="partners__slide-content partners__slide-content--olimp">
                            <img src="./img/partners/olymp.png" alt="">
                        </div>
                    </a>
                    <a href="" class="partners__slide swiper-slide">
                        <div class="partners__slide-content partners__slide-content--rgd">
                            <img src="./img/partners/rgd.png" alt="">
                        </div>
                       
                    </a>
                    <a href="" class="partners__slide swiper-slide">
                        <div class="partners__slide-content partners__slide-content--miratorg">
                            <img src="./img/partners/miratorg.png" alt="">
                        </div>
                    </a>
                    <a href="" class="partners__slide swiper-slide">
                        <div class="partners__slide-content partners__slide-content--olimp">
                            <img src="./img/partners/olymp.png" alt="">
                        </div>
                    </a>
                    <a href="" class="partners__slide swiper-slide">
                        <div class="partners__slide-content partners__slide-content--rgd">
                            <img src="./img/partners/rgd.png" alt="">
                        </div>
                       
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.partners -->