<section class="taste">
    <div class="container">
        <div class="taste__wrapper">
            <div class="taste__text">
                <div class="taste__text-title">
                    <div class="taste__text-title-big">
                        какой вкус<br> <span>подойдет</span> именно<br> вам?
                    </div>
                    <!-- big -->
                    <div class="taste__text-title-word">
                        <p>По итогу теста мы сможем определить ваши предпочтения и предложить лучшие варианты.</p>
                        <strong>Это займет всего 1 минуту!</strong>
                    </div>
                    <!-- word -->
                    <div class="taste__text-title-desk">
                        Вы можете проходить тесты в любом количестве и подбирать вкусы под свое настроение каждый день!
                    </div>
                </div>
            </div>
            <!-- text -->
            <div class="taste__inner">
                <button class="link-share">
                    <span>пройти тест</span>
                </button>
                <div class="taste__table">
                    <div class="taste__table-star">
                        <img src="./img/icon/silverstar.svg" alt="">
                    </div>
                    <div class="taste__table-title">
                        50+
                    </div>
                    <div class="taste__table-text">
                        уникальных авторских вкусов
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>